// These styles are common for `profile-edit` and `profile-view`


// Profile navbar, visible only on small screens
.profile-navbar-mobile {
  border-radius: 0;
  &.navbar-fixed-top {
    top: @navbar-height;
    z-index: (@zindex-navbar-fixed - 1); // Ensures this navbar won't cover header's drop menu
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    float: left;
    margin: 0;
    > li {
      float: left;
       > a {
        padding: 10px 10px;
      }
      .badge {
        background: transparent;
        color: @navbar-default-color;
        border: 1px solid @navbar-default-color;
      }
    }
  }
}
