// These styles are common for `profile-edit` and `profile-view`


// Profile navbar, visible only on small screens
.profile-navbar-mobile {
  border-radius: 0;
  &.navbar-fixed-top {
    top: @navbar-height;
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    float: left;
    margin: 0;
    > li {
      float: left;
       > a {
        padding: 10px 10px;
      }
    }
  }
}
