#profile-editor {

  .profile-firstname,
  .profile-lastname {
    .h2();
    font-family: @font-family-brand;
    font-weight: normal;
    font-style: normal;
    margin: 0 10px 5px 0;
  }
  .profile-firstname {
    margin-right: 4px;
  }
  .profile-tagline {
    width: 100%;
    height: 27px;
    clear: both;
    margin: 5px 0 0 0;
  }

  // Placeholders & field hover styles
  // Make it clear we are editing these fields by coloring it when selected
  .profile-firstname,
  .profile-lastname,
  .profile-tagline {
    &:focus {
      background: fade(@brand-primary, 10%);
    }
    &.medium-editor-placeholder {
      display: inline;
      &:after {
        font-style: normal;
        display: inline;
        color: @input-color-placeholder;
        position: inherit;
        outline: none;
      }
    }
  }
  .profile-tagline {
    .medium-editor-placeholder {
      &:after {
        position: relative;
      }
    }
  }

  // By default this is pretty uggly, making it pretty.
  .profile-editor-birthdate {
    .dropdown-menu {
      .btn-default {
        .button-variant(@text-color; transparent; transparent);
        text-shadow: none;
        &.active {
          color: @brand-primary;
          background: @gray-lighter;
          font-weight: bold;
        }
      }
      .btn-success {
        background: @brand-primary;
      }
    }
  }

  .avatar-edit {
    display: block;
    position: relative;
    width: 100%;
    max-width: 256px;
    min-height: 256px;
    background: #000;
    &:hover,
    &:active {
      label {
        background: rgba(0,0,0,0.4);
      }
    }
    .avatar,
    label {
      position: absolute;
      top: 0;
      cursor: pointer;
    }
    label {
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.2);
      display: block;
      padding-top: 80%;
      margin-bottom: 0;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      .transition(background 0.2s);
    }
  }//avatar-edit

  /* Profile tabs aren't active, but keep them visible */
  #profile-tabs {
    // No hover effect...
    opacity: 0.4;
    .nav {
      > li {
        > a {
          &:hover,
          &:focus {
            border-color: transparent;
          }
        }
      }
    }
  }// #profile-tabs

}


/* Choose avatar -modal */
#profile-avatar-choises {
  // When avatar image works as a link
  .avatar-source-link {
    display: block;
    position: relative;
    .square(128px);
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 128px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      .transition(background 0.2s);
      background: transparent;
      font-weight: bold;
    }
    &:hover,
    &:active {
      span {
        background: rgba(0,0,0,0.1);
      }
    }
  }
  .avatar-source-label {
    margin: 10px 0 15px 0;
    input {
      margin-right: 5px;
    }
  }
  .avatar-source-upload {
    cursor: pointer;
  }
  .avatar-preview {
    height: 128px;
    width: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
  }
}
