@import '~bootstrap/less/mixins/clearfix';
@import '~bootstrap/less/mixins/center-block';
@import '~bootstrap/less/mixins/hide-text';
@import '~bootstrap/less/mixins/image';
@import '~bootstrap/less/type';
@import '~bootstrap/less/utilities';
@import '~less/global-variables';
@import '~less/layout/helpers';

.profile-view {
  padding-bottom: 0;
  padding-top: @navbar-height;
  @media (min-width: @screen-sm-min) {
    padding-top: 0;
  }
}

.profile-flags {
  padding-bottom: 40px;
  button {
    padding: 0;
  }
}

.profile-tabs {
  margin-top: @padding-base-horizontal;
  .nav {
    a {
      .cursor-pointer;
    }
    .disabled a {
      cursor: default;
    }
  }
}

.profile-name,
.profile-username {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  word-wrap: break-word;
}

.profile-name {
  margin-top: 20px;
  @media (min-width: @screen-sm-min) {
    margin: 0 10px 5px 0;
  }
}

.profile-tagline {
  font-size: 17px;
  font-weight: 200;
  line-height: 1.4;
  word-wrap: break-word;
  @media (min-width: @screen-sm-min) {
    font-size: 17px;
    padding-bottom: 10px;
  }
}

.profile-quote {
  display: block;
  .center-block();
  width: 80%;
  .text-muted();
  text-align: center;
  font-family: @font-family-serif;
  font-style: italic;
  font-size: 18px;
  padding: 0;
  border: 0;
}

// Toggling avatar bigger at mobile screens
@media (max-width: @screen-xs-max) {
  .avatar {
    max-width: 256px;
    max-height: 256px;
  }
  .profile-avatar-lg .avatar {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }
}

// Big avatar opened in a modal
// Content tends to be 598px, so when it's shrinked to 512px,
// 86px is left out. Move modal to the left half of that (43px).
.modal-avatar .modal-content {
  max-width: 512px;
  max-height: 512px;
  margin-left: 43px;
  .avatar {
    cursor: zoom-out;
  }
}

.profile-overview {
  @media (min-width: @screen-sm-min) {
    max-width: 256px;
  }
  h4,
  /* Labels occur when editing profile... */
  .control-label {
    .text-muted();
    text-transform: uppercase;
    margin: 3px 0 0 0;
  }
  &, h4,
  /* Labels occur when editing profile... */
  .control-label {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
  }
  .avatar {
    .img-responsive;
    border-top-left-radius: @panel-border-radius;
    border-top-right-radius: @panel-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: zoom-in;
  }
  .profile-sidebar-section {
    margin: 0 0 @padding-small-horizontal 0;
    padding: 0 0 @padding-small-horizontal 0;
    border-bottom: 1px solid @gray-lighter;
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

// "Tribes in common" directive
.profile-tribes-common {
  h4 {
    color: @gray-light;
    text-transform: uppercase;
    margin: 3px 0 0 0;
    font-size: @font-size-base;
    line-height: 20px;
    font-weight: normal;
  }
  a {
    color: @text-color;
  }
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid @gray-lighter;
}

// List of social accounts
.social-profiles {
  margin-top: 5px;
  margin-bottom: 10px;
  .social-profile-icon {
    speak: none;
    color: @gray-light;
    margin-left: -34px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  .social-profile {
    padding: 4px 4px 4px 34px;
    margin: 0;

    &.social-profile-connect {
      line-height: 33px;
    }

    .social-profile-handle {
      background: transparent;
    }

    &:hover,
    &.social-profile-active {
      .social-profile-icon {
        color: @brand-primary;
        filter: none;
        -webkit-filter: none;
        // Here's a good list of these:
        // @link https://www.competethemes.com/social-media-colors/
        &.icon-twitter {
          color: #00aced;
        }
        &.icon-facebook {
          color: #3b5998;
        }
        &.icon-github {
          color: #333;
        }
        &.icon-warmshowers {
          color: #007071;
        }
      }
    }
  }
}
