<div>

  <div tr-avatar
       data-user="::contactCtrl.contact.user"
       data-size="{{::contactCtrl.avatarSize}}"></div>
  <h4>
    <a ui-sref="profile.about({username: contactCtrl.contact.user.username})"
       ng-bind="::contactCtrl.contact.user.displayName"></a>
  </h4>
  <div ng-if="::contactCtrl.contact.user.locationLiving">
    <i class="icon-fw icon-building text-muted"></i>
    <small>Lives in <a ui-sref="search.map({location: contactCtrl.contact.user.locationLiving})"
                ng-bind="::contactCtrl.contact.user.locationLiving"></a></small>
  </div>

  <div ng-if="::contactCtrl.contact.user.locationFrom">
    <i class="icon-fw icon-home text-muted"></i>
    <small>From <a ui-sref="search.map({location: contactCtrl.contact.user.locationFrom})"
            ng-bind="::contactCtrl.contact.user.locationFrom"></a></small>
  </div>
  <small class="text-muted" ng-if="::!contactCtrl.hideMeta">
    <span ng-if="::contactCtrl.contact.confirmed === true">Since</span>
    <span ng-if="::contactCtrl.contact.confirmed === false">Requested</span>
    <time ng-bind="::contactCtrl.contact.created | date:'mediumDate'"></time>
  </small>

  <!-- Authenticated user requested this connection -->
  <div class="contact-confirm"
       ng-if="::contactCtrl.contact.confirmed === false && contactCtrl.contact.userFrom === contactCtrl.user._id">
    <small class="text-warning"><em>Contact request sent and pending.</em></small>
    <a class="btn btn-xs btn-primary" tr-contact-remove="::contact">Revoke Request</a>
  </div>

  <!-- Authenticated user received this request -->
  <div class="contact-confirm"
       ng-if="::contactCtrl.contact.confirmed === false && contactCtrl.contact.userTo === contactCtrl.user._id">
    <small><em>You received a contact request.</em></small>
    <a class="btn btn-xs btn-primary" ui-sref="contactConfirm({ contactId: contactCtrl.contact._id })">
      Confirm Request
    </a>
    <a class="btn btn-xs btn-warn" tr-contact-remove="contact">
      Delete Request
    </a>
  </div>

</div>
