<section>
  <div class="panel panel-default" ng-if="contactsCommon.list.length">
    <ng-pluralize class="panel-heading"
                  count="contactsCommon.list.length"
                  when="{
                    'one': 'One contact in common',
                    'other': '{} contacts in common'
                  }">
    </ng-pluralize>
    <div class="panel-body">
      <div class="contacts-contact"
           ng-repeat="contact in contactsCommon.list track by contact._id"
           tr-contact="contact"
           tr-contact-hide-meta="true"
           tr-contact-avatar-size="64"></div>
    </div>
  </div>
</section>
