<section data-ng-controller="AboutController">

  <div class="board board-default board-sierranevada" id="hero-header">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h3>
            TrustRoots is a travel community based on trust and freedom.
          </h3>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-8 col-md-9" id="staticpage-content">

        <br><br>

        <p class="lead">Travel anywhere and easily find great people who want to meet you as well. Share your life, knowledge and experiences with others.</p>

        <p class="lead">This is a prototype of a platform for sharing and getting people together. Our goal is to make people spend more time outside meeting each other again instead of their computers.</p>


        <div class="page-header">
          <h2 id="core-ideas">Core ideas</h2>
        </div>

        <h3>A world that encourages trust and adventure</h3>
        <p>Big part of that what make us trust each other is attitude of course, but what if you have just started a profile at TrustRoots, no references and empty friendlist?</p>

        <p>With your permission, we could show how many friends you have in other social networks. If you're active and you have filled up profile there, it would be great way to show others how you are.</p>

        <h3>Communities</h3>
        <p>All users belong to something described as "tribes" or "communities". For example you would have; "hitchhikers", "geeks", "ecovillagers" etc. You could decide to be visible to all of them or only to some you really feel you belong to.</p>

        <p>One major issue we see with current sharing websites and building trust is that people intend to trust likeminded people first and start feeling uncofortable when community grows too big and scattered. Somebody for example might not want to open their sofa for just everyone but could happily welcome a fellow architects or cyclists to stay over. Sometimes only another hitchhiker can understand other one arriving in the middle of night with a few hour notice.</p>

        <p>This also helps us focus making the site best possible for certain groups only at first and then widen the scope with time.</p>

        <h3>As easy to use as email</h3>
        <p>You shouldn't spend more than nececcary on computer to find other people to meet <em>out there</em>.</p>

        <p>We want to keep it simple and stay as effective as possible.</p>


        <h3>Free and open source for ever</h3>
        <p>While we're still thinking how to structure things legally the best, you can certainly trust on us. We've been running other free and open projects for a decade now and we hope our deeds so far speak for us.</p>

        <h3>Transparency</h3>
        <p>We've always appreciated hard working, getting things done attitude and great ideas. We'll aim to keep volunteers entry level as low as possible. No bureaucracy. Pragmatic approach. Trust. Scandinavia, anyone?</p>

        <h3>Cutting edge</h3>
        <p>We huge fans of distributed networks, self hosted apps, API first approach etc. While it might not be time to concentrate on this stuff just yet, it certainly gets us excited thinking all the possibilities. For instance, <em>imagine reputation currency built on top of blockchain...</em></p>



        <div class="page-header">
          <h2 id="team">The team</h2>
        </div>

        <p>TrustRoots is being built by a small team of open-source developers and free economy activists who felt like the world or sharing is being taken over by corporations trying to monetize people's willingness to help each other. We are long time hospitality exchange enthusiasts with backgrounds in some other notable projects.</p>

        <p><em>We're aiming for revolution!</em></p>

        <p>— <a href="{{pathFor 'team'}}">The core team</a></p>

        <div class="page-header">
          <h2 id="mission-vission-values">Mission, Vision & Values</h2>
        </div>

        <div class="row">

          <div class="col-sm-4 text-center">

            <h3 id="mission">Mission</h3>
            <p>TrustRoots seeks to be a platform for sharing and getting people together. We aim to connect likeminded people together, encourage intercultural connections and trust.</p>

          </div>
          <div class="col-sm-4 text-center">

            <h3 id="vision">Vision</h3>
            <p class="lead"><em>“A world that encourages trust and adventure.”</em></p>

          </div>
          <div class="col-sm-4 text-center">

            <h3 id="values">Values</h3>
            <ul class="list-unstyled">
              <li>Trust</li>
              <li>Adventure</li>
              <li>Transparency</li>
              <li>Free software</li>
            </ul>

          </div>

        </div>

      </div>


      <!-- sidebar -->
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="tr-sidebar hidden-print affix panel panel-default" role="complementary">
          <ul class="nav">
            <li><a href="#core-ideas">Core ideas</a></li>
            <li><a href="#team">The team</a></li>
            <li class="active"><a href="#mission-vission-values">Mission, Vision & Values</a></li>
          </ul>
        </div>
      </div><!-- /.sidebar -->

    </div><!-- /.row -->

  </div><!-- /.container -->

</section>