<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <!--<a href="#"><i class="fa fa-fw fa-lg fa-globe"></i> English </a>-->
      <span data-ng-show="photo_credits.length > 0" class="photo-credits">
        <span ng-show="photo_credits.length === 1">Photo by</span>
        <span ng-show="photo_credits.length > 1">Photos by</span>
        <span ng-repeat="credit in photo_credits">
          <a ng-href="{{credit.url}}">{{credit.name}}</a> <span ng-show="credit.license">(<a ng-href="{{credit.license_url}}" data-ng-bind-html="credit.license" tooltip="License" rel="license"></a>)</span><span ng-show="($first && photo_credits.length > 1) || $middle">, </span></span>
        </span>
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <nav id="footer-primary" role="navigation">
        <ul>
          <li><a ui-sref="about">About</a></li>
          <li><a href="http://ideas.trustroots.org/">Blog</a></li>
          <li><a ui-sref="privacy">Privacy</a></li>
          <li><a ui-sref="rules">Rules</a></li>
          <li><a ui-sref="team">Team</a></li>
          <li><a href="https://github.com/Trustroots/trustroots/wiki/Volunteering">Volunteering</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-12 col-sm-3 text-right">
      <a ui-sref="contact"><i class="fa fa-lg fa-bolt"></i> Help</a>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
