<hr>
<div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-2">
	        <!--<a href="#"><i class="fa fa-fw fa-lg fa-globe"></i> English </a>-->
	    </div>
	    <div class="col-xs-12 col-sm-8 text-center">
	        <nav id="footer-primary" role="navigation">
	            <ul>
	                <li><a ui-sref="about">About</a></li>
	                <li><a href="http://ideas.trustroots.org/">Blog</a></li>
	                <li><a ui-sref="about">Press</a></li>
	                <li><a ui-sref="team">Team</a></li>
	                <li><a href="https://github.com/Trustroots/">Developers</a></li>
	                <li><a ui-sref="rules">Rules</a></li>
	                <li><a ui-sref="contact">Contact</a></li>
	            </ul>
	        </nav>
	    </div>
	    <div class="col-xs-12 col-sm-2 text-right">
	        <a ui-sref="contact"><i class="fa fa-lg fa-bolt"></i> Help</a>
	    </div>
	</div><!-- /.row -->
</div><!-- /.container -->
