<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a ui-sref="home" class="navbar-brand">
			<span class="logo-horizontal logo-horizontal-white"></span>
			<span class="sr-only">Trust Roots</span>
		</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="commonMenu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in commonMenu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle cursor-pointer">
					<i class="fa fa-fw fa-{{item.icon}}" ng-if="item.icon"></i>
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute, divider: subitem.isDivider}">
						<a href="{{ subitem.link | hashbangurl }}" ng-hide="subitem.isDivider">
						  <i class="fa fa-fw fa-{{subitem.icon}}" ng-if="subitem.icon"></i>
							{{subitem.title}}
						</a>
					</li>
				</ul>
				<a ng-switch-default href="{{ item.link | hashbangurl }}">
					<i class="fa fa-fw fa-{{item.icon}}" ng-if="item.icon"></i>
					{{item.title}}
				</a>
			</li>
		</ul>

		<!-- Menu for non logged users -->
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a ui-sref="signup"><i class="fa fa-arrow-circle-up"></i> Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a ui-sref="signin"><i class="fa fa-sign-in"></i> Login</a>
			</li>
		</ul>

		<!-- Menu for logged in users-->
		<ul class="nav navbar-nav navbar-right" data-ng-if="authentication.user && userMenu.shouldRender(authentication.user);">

	    <li data-ng-repeat="item in userMenu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
	    	<a ng-switch-when="dropdown" class="dropdown-toggle cursor-pointer">
					<i class="fa fa-fw fa-{{item.icon}}" ng-if="item.icon"></i>
	    		<span data-ng-bind="item.title"></span>
	    		<b class="caret"></b>
	    	</a>
	    	<ul ng-switch-when="dropdown" class="dropdown-menu">
	    		<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute, divider: subitem.isDivider}">
	    			<a ng-href="{{ subitem.link | hashbangurl }}" ng-hide="subitem.isDivider">
							<i class="fa fa-fw fa-{{subitem.icon}}" ng-if="subitem.icon"></i>
							{{subitem.title}}
						</a>
	    		</li>
	    	</ul>
	    	<a ng-switch-default ng-href="{{ item.link | hashbangurl }}">
					<i class="fa fa-fw fa-{{item.icon}}" ng-if="item.icon"></i>
					{{item.title}}
				</a>
	    </li>

		</ul>
	</nav>
</div>
