<section class="board" tr-boards="'tribes-1'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br>
        <h2>Invite friends</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 text-center">

        <p class="lead">Your invitation code</p>

        <input id="tr-invite-code" type="text"
               class="form-control text-center input-lg font-brand-semibold text-uppercase"
               tr-select-on-click
               ng-attr-value="{{ ::invite.invitation.code }}"
               readonly>

        <div ng-if="::invite.invitation.code">

          <br><br>
          <h3>Send invite code to your friends now</h3>
          <br>
          <!--
          <p class="text-muted font-brand-semibold">
            Share your code consciously.<br>
            Can you vouch for this person?
            Will they be a good fit for Trustroots?
          </p>
          -->

          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-591c2040c6459c4a" async="async"></script>
        </div>

        <br>
        <p class="text-muted font-brand-semibold">
          Codes are valid for 24 hours.
        </p>

    </div>
  </div><!-- /.row -->
</section><!-- /.container -->
