<section class="container container-fullscreen board board-bokehblue" data-ng-controller="WelcomeController">
  <div class="row" id="welcomePage">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 text-center">
      <a ui-sref="home" class="logo logo-sm logo-blue center-block hidden-xs"></a>
      <a ui-sref="home" class="logo-horizontal logo-horizontal-blue center-block visible-xs-block"></a>

      <h2>Welcome!</h2>
      <h3><em>“A world that encourages trust and adventure.”</em></h3>
      <br>
      <p class="lead">
        Trustroots is still at the very early phase. If you find any problems or annoyances, don't hesitate to drop us a line.
        <br><br>
        We really want to connect all our community at the web and out in the world, so please invite your friends here, too.
        <br><br>
        <em>— <a ui-sref="team">The core team</a></em>
        <br><br><br>
        <a ui-sref="profile-edit" class="btn btn-lg btn-primary">Edit your profile</a>
      </p>
    </div>
  </div>
</section>
