<section class="container container-fullscreen board board-bokehblue" id="welcomePage" data-ng-controller="WelcomeController">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 text-center">
      <a ui-sref="home" class="logo logo-sm logo-blue center-block hidden-xs"></a>
      <a ui-sref="home" class="logo-horizontal logo-horizontal-blue center-block visible-xs-block"></a>
      <h2>Hey, welcome!</h2>
      <p class="lead">
        Being able to rely on strangers, on communities, on trust, are values that are worth preserving. Go travel & spread the word.
        <br><br>
        <a ui-sref="profile-edit" class="btn btn-lg btn-inverse">Fill your profile</a>
      </p>
    </div>
  </div>
</section>
