<section class="container container-spacer" id="profile-editor" data-ng-controller="SettingsController">
<!--
    <div data-ng-show="success" class="text-center text-success">
        <strong>Profile Saved Successfully</strong>
    </div>
  -->
    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>

    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" autocomplete="off">
        <div class="row">

          <div class="col-sm-3">

            <div class="panel panel-default" id="profile-sidebar">
              <a href="#" class="avatar-edit" ng-click="avatarModal(user, $event);">
                <!-- 'Watch' will cause directive to rerender each time avatar source changes. -->
                <div tr-avatar data-watch="true" data-user="user" data-size="261" data-link="false"></div>
                <label>
                    <i class="fa fa-2x fa-camera"></i><br>
                    Change your profile photo
                </label>
              </a>
              <div class="panel-body">

                <div class="form-group text-muted">
                  Member since <span data-ng-bind="user.created | date:'mediumDate'"></span>
                </div>

                <div class="form-group">
                  <label for="location-living"><h4>Lives in</h4></label>
                  <div tr-location id="location-living"></div>
                  <!--<input type="text" id="location-living" name="location-living" class="form-control" data-ng-model="user.locationLiving" value="City, Countryname">-->
                </div>

                <div class="form-group">
                  <label for="location-from"><h4>From</h4></label>
                  <!--<input type="text" id="location-from" name="location-from" class="form-control" data-ng-model="user.locationFrom" value="City, Countryname">-->
                  <div tr-location id="location-from"></div>
                </div>

                <div class="form-group">
                  <label for="email"><h4>Email</h4></label>
                  <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                </div>

                <div class="form-group">
                  <label for="gender"><h4>Gender</h4></label>
    			        <select id="gender" name="gender" class="form-control" data-ng-model="user.gender">
                    <option value="">I'd rather not tell</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
    			        </select>
                </div>

    				    <div class="form-group">
                  <label for="birthdate"><h4>Birthdate</h4></label>
                  <p class="input-group">
                    <input id="birthdate" type="text" class="form-control" datepicker-popup="{{birthdateFormat}}" ng-model="user.birthdate" is-open="birthdateOpened" datepicker-options="birthdateOptions" ng-required="false" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-inverse" ng-click="birthdateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>

                </div>

                <div class="form-group">
                  <h4>Last seen</h4>
                  <div>
                    <time class="profile-edit-inactive">last-seen-time</time>
                    <label for="lastseen-hide"><input id="lastseen-hide" type="checkbox"> Hide</label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="languages"><h4>Languages</h4></label>
                  <div>
                    <ui-select multiple ng-model="user.languages" theme="select2" ng-disabled="disabled">
                      <ui-select-match placeholder="Type in languages...">{{$item}}</ui-select-match>
                      <ui-select-choices repeat="language in languages | filter:$select.search">
                        {{language}}
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>

                <div class="form-group">
                  <h4>Other networks</h4>

                  <div data-ng-show="hasConnectedAdditionalSocialAccounts()">

                  	<h5>Connected:</h5>
                  	<ul class="fa-ul authentication-social">
                  	  <li data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
                  	    <i class="fa fa-li fa-lg" ng-class="fa-{{providerName}}-square"></i> {{providerName}}
                  	    <a class="pull-right" data-ng-click="removeUserSocialAccount(providerName)">Disconnect</a>
                  	  </li>
                  	</ul>
                  </div>

                  <h5>Connect to:</h5>
                  <ul class="fa-ul authentication-social">
                      <li><a href="/auth/facebook" data-ng-hide="isConnectedSocialAccount('facebook')">
                      	<i class="fa fa-li fa-lg fa-facebook-square"></i> Facebook
                      </a></li>
                      <li><a href="/auth/twitter" data-ng-hide="isConnectedSocialAccount('twitter')">
                      	<i class="fa fa-li fa-lg fa-twitter-square"></i> Twitter
                      </a></li>
                      <li><a href="/auth/google" data-ng-hide="isConnectedSocialAccount('google')">
                      	<i class="fa fa-li fa-lg fa-google-square"></i> Google+
                      </a></li>
                      <li><a href="/auth/linkedin" data-ng-hide="isConnectedSocialAccount('linkedin')">
                      	<i class="fa fa-li fa-lg fa-linkedin-square"></i> LinkedIn
                      </a></li>
                      <li><a href="/auth/github" data-ng-hide="isConnectedSocialAccount('github')">
                      	<i class="fa fa-li fa-lg fa-github-square"></i> Github
                      </a></li>
                  </ul>

                </div>

              </div><!-- /.panel-body -->
            </div><!-- /.panel -->

          </div>
          <div class="col-sm-9">

        <div class="row">
          <div class="col-md-6">

            <span class="profile-firstname" data-ng-model="user.firstName" medium-editor options="{'placeholder': 'First name', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></span>
            <span class="profile-lastname" data-ng-model="user.lastName" medium-editor options="{'placeholder': 'Last name', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></span>

            <h4 class="profile-username" tooltip="You cannot change your username" tooltip-placement="right">@{{user.username}}</h4>

            <div class="profile-tagline">
              <div class="profile-tagline" data-ng-model="user.tagline" medium-editor options="{'placeholder': 'Short tagline...', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></div>
            </div>

          </div>
          <div class="col-md-6 text-right">
            <a ui-sref="profile({username: user.username})" type="cancel" class="btn btn-link">Cancel</a>
            <button type="submit" class="btn btn-primary">Save profile</button>
          </div>
        </div>


            <!-- Profile tabs -->
            <div class="row">
              <div class="col-xs-12"  id="profile-tabs">
                <ul class="nav nav nav-pills">
                  <!--
                  <li class="disabled" data-ng-repeat="tab in tabs">
                    <a>{{tab.title}}</a>
                  </li>
                -->
                  <li class="disabled"><a>Overview</a></li>
                  <li class="disabled"><a>References</a></li>
                  <li class="disabled"><a>Contacts</a></li>
                </ul>
              </div>
            </div>
            <!-- /Profile tabs -->

            <div class="row">
              <div class="col-md-6">

                <!-- About me -->
                <div class="panel panel-default">
                  <label for="description" class="panel-heading">About me</label>
                  <div class="panel-body profile-description">
    				        <div class="form-group">
                      <div id="description" ng-model="user.description" medium-editor options='{"placeholder": "Description", "buttons": ["bold", "italic", "underline", "anchor", "quote", "unorderedlist"]}'></div>
    				        </div>
                  </div>
                </div>

              </div><!-- /.col- -->
              <div class="col-md-6">

                <!-- Accommodation -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Accommodation
                  </div>
                  <div class="panel-body">
                    ...
                  </div>
                </div>

              </div><!-- /.col- -->
            </div><!-- /.row -->


          </div><!-- /.col -->

        </div><!-- /.row -->

        <script type="text/ng-template" id="avatar.client.modal.html">
          <div class="modal-body" id="profile-avatar-choises">

            <div class="row text-center">
              <div class="col-xs-5 col-xs-offset-1">
                <label for="avatar-source-none">
                  <div tr-avatar data-size="144" data-link="false" data-source="none"></div>
                  <div class="avatar-source-label">
                    <input type="radio" ng-model="user.avatarSource" id="avatar-source-none" value="none">
                    No profile photo
                  </div>
                </label>
              </div>
              <div class="col-xs-5">
                <label for="avatar-source-gravatar">
                  <a href="http://en.gravatar.com/" target="_blank" class="avatar-source-link" tooltip="You can change your gravatar at Gravatar.com" tooltip-placement="bottom">
                    <div tr-avatar data-user="user" data-size="144" data-link="false" data-source="gravatar"></div>
                    <span>Change</span>
                  </a>
                  <div class="avatar-source-label">
                    <input type="radio" ng-model="user.avatarSource" id="avatar-source-gravatar" value="gravatar">
                    Gravatar
                  </div>
                </label>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-5 col-xs-offset-1">

                <!-- When connected to FB-->
                <label for="avatar-source-facebook" ng-if="isConnectedSocialAccount('facebook')">
                    <div tr-avatar data-user="user" data-size="144" data-link="false" data-source="facebook"></div>
                    <div class="avatar-source-label">
                      <input type="radio" ng-model="user.avatarSource" id="avatar-source-facebook" value="facebook">
                      Facebook
                    </div>
                </label>

                <!-- When NOT connected to FB-->
                <label for="avatar-source-facebook" ng-if="!isConnectedSocialAccount('facebook')">
                    <a href="/auth/facebook" class="avatar-source-link">
                      <div tr-avatar data-size="144" data-link="false" data-source="none"></div>
                      <span>Connect first</span>
                    </a>
                    <div class="avatar-source-label" tooltip="Connect first to Facebook" tooltip-placement="bottom">
                      <input type="radio" disabled>
                      Facebook
                    </div>
                </label>
              </div>
              <div class="col-xs-5">
                <label for="avatar-source-upload">
                  <a href="#" class="avatar-source-link">
                    <div tr-avatar data-user="user" data-size="144" data-link="false" data-source="local"></div>
                    <span>Upload</span>
                  </a>
                  <div class="avatar-source-label">
                    <input type="radio" disabled ng-model="user.avatarSource" id="avatar-source-upload" value="upload">
                    My own
                  </div>
                </label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" ng-click="close()">Done</button>
          </div>
        </script>

      </form>

</section><!-- /.container -->
