<section class="container container-spacer" id="profile-editor" data-ng-controller="EditProfileController">

  <div data-ng-show="error" class="text-center text-danger">
    <strong data-ng-bind="error"></strong>
  </div>

  <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" autocomplete="off">
      <div class="row">

        <div class="col-sm-3">

          <div class="panel panel-default" id="profile-sidebar">
            <a href="#" class="avatar-edit" ng-click="avatarModal(user, $event);">
              <div tr-avatar data-user="user" data-size="256" data-link="false"></div>
              <label>
                  <i class="fa fa-2x fa-camera"></i><br>
                  Change your profile photo
              </label>
            </a>
            <div class="panel-body">

              <div class="form-group text-muted">
                Member since <span data-ng-bind="user.created | date:'mediumDate'"></span>
              </div>

              <div class="form-group">
                <label for="location-living"><h4>Lives in</h4></label>
                <div tr-location="user.locationLiving" data-placeholder="City, Country" id="location-living"></div>
              </div>

              <div class="form-group">
                <label for="location-from"><h4>From</h4></label>
                <div tr-location="user.locationFrom" data-placeholder="City, Country" id="location-from"></div>
              </div>

              <div class="form-group">
                <label for="gender"><h4>Gender</h4></label>
                <select id="gender" name="gender" class="form-control" data-ng-model="user.gender">
                  <option value="">Unspecified</option>
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <div class="form-group">
                <label for="birthdate"><h4>Birthdate <small class="text-muted text-uppercase"> {{ birthdateFormat }}</small></h4></label>
                <p class="input-group">
                  <input id="birthdate" type="text" class="form-control" datepicker-popup="{{birthdateFormat}}" ng-model="user.birthdate" is-open="birthdateOpened" datepicker-options="birthdateOptions" ng-required="false" close-text="Close" current-text="Today" clear-text="Clear" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-inverse" ng-click="birthdateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>

              <div class="form-group">
                <label for="languages"><h4>Languages</h4></label>
                <select multiple chosen
                  id="languages"
                  class="form-control"
                  data-placeholder="Start typing..."
                  no-results-text="'Not found: '"
                  search-contains="true"
                  ng-model="userLanguages"
                  ng-options="language.name for language in languages track by language.key">
                </select>
              </div>

              <div class="form-group">
                <h4>
                  Other networks
                  <small class="pull-right helper" popover-placement="right" popover-append-to-body="true" popover-trigger="mouseenter" popover="Connecting to these is absolutely optional. Other members in Trustroots will be able to see a link to your other profile and some basic info about you and content you like there. You will be able to use eg. your contact list here in Trustroots. Other networks will then obviously know that you have connected to Trustroots, but we will never send any of your profile data to them.">About the feature</small>
                </h4>

                <div data-ng-show="hasConnectedAdditionalSocialAccounts()">

                  <h5>Connected:</h5>
                  <ul class="fa-ul authentication-social">
                    <li data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container text-capitalize">
                      <i class="fa fa-li fa-lg fa-{{providerName}}-square"></i> {{providerName}}
                      <small><a class="pull-right cursor-pointer" data-ng-click="removeUserSocialAccount(providerName)">Disconnect</a></small>
                    </li>
                  </ul>
                </div>

                <h5>Connect to:</h5>
                <ul class="fa-ul authentication-social">
                    <li><a href="/auth/facebook" target="_blank" data-ng-hide="isConnectedSocialAccount('facebook')">
                      <i class="fa fa-li fa-lg fa-facebook-square"></i> Facebook
                    </a></li>
                    <li><a href="/auth/twitter" target="_blank" data-ng-hide="isConnectedSocialAccount('twitter')">
                      <i class="fa fa-li fa-lg fa-twitter-square"></i> Twitter
                    </a></li>
                    <li><a href="/auth/github" data-ng-hide="isConnectedSocialAccount('github')">
                      <i class="fa fa-li fa-lg fa-github-square"></i> Github
                    </a></li>
                    <!--
                    <li><a href="/auth/google" data-ng-hide="isConnectedSocialAccount('google')">
                      <i class="fa fa-li fa-lg fa-google-square"></i> Google+
                    </a></li>
                    <li><a href="/auth/linkedin" data-ng-hide="isConnectedSocialAccount('linkedin')">
                      <i class="fa fa-li fa-lg fa-linkedin-square"></i> LinkedIn
                    </a></li>
                    -->
                </ul>

              </div>

            </div><!-- /.panel-body -->
          </div><!-- /.panel -->

        </div>
        <div class="col-sm-9">

          <div class="row">
            <div class="col-md-6">

              <span class="profile-firstname" data-ng-model="user.firstName" medium-editor options="{'placeholder': 'First name', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></span>
              <span class="profile-lastname" data-ng-model="user.lastName" medium-editor options="{'placeholder': 'Last name', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></span>

              <h4 class="profile-username" tooltip="You cannot change your username" tooltip-placement="right">@{{user.username}}</h4>

              <div class="profile-tagline">
                <div data-ng-model="user.tagline" medium-editor options="{'placeholder': 'Short tagline...', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></div>
              </div>

            </div>
            <div class="col-md-6 text-right">
              <a ui-sref="profile({username: user.username})" type="cancel" class="btn btn-link">Cancel</a>
              <button type="submit" class="btn btn-primary">Save profile</button>
            </div>
          </div>

          <!-- Profile tabs -->
          <div class="row">
            <div class="col-xs-12"  id="profile-tabs">
              <ul class="nav nav nav-pills">
                <li class="disabled"><a>Overview</a></li>
                <li class="disabled"><a>Contacts</a></li>
              </ul>
            </div>
          </div>
          <!-- /Profile tabs -->

          <div class="row">
            <div class="col-md-6">

              <!-- About me -->
              <div class="panel panel-default">
                <label for="description" class="panel-heading">About me</label>
                <div class="panel-body profile-description">
                  <div class="form-group">
                    <div id="description" aria-describedby="descriptionHelp" ng-model="user.description" medium-editor options="{'placeholder': 'Description', 'buttons': ['bold', 'italic', 'underline', 'anchor', 'quote', 'unorderedlist']}"></div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div id="descriptionHelp" class="help-block">
                    Help other people get to know you by telling them about your life and the things you like.
                    <br><br>
                    <small>Highlight text to add links or change its appearance.</small>
                  </div>
                </div>
              </div>

            </div><!-- /.col- -->
            <div class="col-md-6">

              <!-- Accommodation -->
              <div class="panel panel-default panel-disabled">
                <div class="panel-heading">
                  Accommodation
                </div>
                <div class="panel-body">
                  <div class="content-empty">
                    <i class="fa fa-3x fa-home"></i>
                    <h4>Save your profile first to edit hosting status.</h4>
                  </div>
                </div>
              </div>

            </div><!-- /.col- -->
          </div><!-- /.row -->


        </div><!-- /.col -->

      </div><!-- /.row -->

  </form>

</section><!-- /.container -->
