
<div class="row">
  <div class="col-md-6">

    <!-- About me -->
    <div class="panel panel-default">
      <div class="panel-heading">
        About me
      </div>
      <div class="panel-body">
        <div data-ng-bind-html="profile.description | trustedHtml"></div>

        <!-- If no description, then deep thoughts... -->
        <blockquote data-ng-hide="profile.description" class="profile-quote">
          “Everyone is necessarily the hero of his own life story.”
        </blockquote>
      </div>
    </div>
    <!-- /About me -->

  </div>

  <!-- Offers -->
  <div class="col-md-6" ng-include="'/modules/offers/views/view-offers.client.view.html'"></div>

</div><!-- /.row -->
