<section class="container container-spacer board board-bokehblue container-fullscreen" data-ng-controller="PasswordController">
  <div class="row">
    <div class="col-xs-12">
      <a ui-sref="home" class="logo logo-sm logo-blue center-block"></a>
    </div>
  </div>
  <div class="row">
    <h3 class="col-xs-12 text-center">Restore your password</h3>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2">
      <br>
      <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <input type="text" id="username" name="username" class="form-control input-lg" data-ng-model="credentials.username" placeholder="Username" ng-disabled="isLoading">
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-lg btn-inverse" ng-disabled="isLoading">
              <span ng-hide="isLoading">Restore</span>
              <span ng-show="isLoading">Wait...</span>
            </button>
          </div>
          <div data-ng-show="error" class="text-center alert alert-danger" role="alert">
            <strong>{{error}}</strong>
          </div>
          <div data-ng-show="success" class="text-center alert alert-success" role="alert">
            <strong>{{success}}</strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
