# This file is used to automatically request reviews on PRs.

# These owners will be the default owners for everything in
# the repo, unless a match on a later line takes precedence.
* @OpenHospitalityNetwork/maintainers

# It's also possible to add notifications based on file extension or directory
# More info at docs: https://help.github.com/articles/about-codeowners/
