<!DOCTYPE html>
<html lang="en" ng-controller="AppController as app" ng-csp>
  {# Read more about `ng-csp`: https://docs.angularjs.org/api/ng/directive/ngCsp
  #}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title tr-page-title>
      {% if tribe %}{{ tribe.label | striptags }} - Trustroots circle{% else
      %}{{ title }}{% endif %}
    </title>
    <base href="/" />
    <meta name="fragment" content="!" />
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="/{{cssFile}}?c={{appSettings.commit}}" />
    {% endfor %} {# Sentry DSN - make sure this is above scripts #} {% if
    sentry.enabled === true %}
    <script nonce="{{ nonce }}">
      window.SENTRY_DSN = '{{ sentry.options.dsn }}';
    </script>
    {% endif %} {% if env === 'development' %} {# in dev load js in head, as it
    also contains CSS, so we prevent flash of unstyled page #} {% for jsFile in
    jsFiles %}
    <script
      src="/{{jsFile}}?c={{appSettings.commit}}"
      nonce="{{ nonce }}"
    ></script>
    {% endfor %} {% endif %} {# Prefech some domains that are used for user
    avatars and circle images #} {#
    https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-DNS-Prefetch-Control
    #}
    <link rel="dns-prefetch" href="//api.tiles.mapbox.com" />
    <link rel="dns-prefetch" href="//graph.facebook.com" />
    <link rel="dns-prefetch" href="//gravatar.com" />
    <link rel="dns-prefetch" href="//ucarecdn.com" />

    {# Generic / Android / Firefox #}
    <meta name="description" content="{{description}}" />
    {% if googlePage !== '' %}
    <link rel="publisher" href="{{googlePage}}" />
    {% endif %}
    <meta name="application-name" content="{{title}}" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#12b591" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="icon"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="512x512"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="144x144"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="72x72"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="48x48"
    />
    <link
      rel="icon shortcut"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="32x32"
      id="favicon2x"
    />
    <link
      rel="icon shortcut"
      type="image/png"
      href="{{hostPort}}/placeholder.png"
      sizes="16x16"
      id="favicon"
    />

    {# Apple #}
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="{{hostPort}}/img/icons/ios/Icon-76@2x.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="{{hostPort}}/img/icons/ios/Icon-60@2x.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="{{hostPort}}/img/icons/ios/Icon-76.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="{{hostPort}}/img/icons/ios/Icon-60.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="{{hostPort}}/img/icons/ios/Icon-72@2x.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="{{hostPort}}/img/icons/ios/Icon@2x.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="{{hostPort}}/img/icons/ios/Icon-72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{hostPort}}/img/icons/ios/Icon.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    {# Facebook #} {% if facebookAppId !== '' %}
    <meta property="fb:app_id" content="{{facebookAppId}}" />
    {% endif %} {% if tribe %} <meta property="og:title" content="Join
    {{tribe.label | striptags | replace('"', '\'') }} on Trustroots"> <meta
    property="og:description" content="Join to meet, host and get hosted by
    Trustroots circle {{tribe.label | striptags | replace('"', '\'')}}.
    Trustroots is a travellers' community for sharing, hosting and getting
    people together.">
    <meta property="og:url" content="{{hostPort}}/circles/{{tribe.slug}}" />
    {% if tribe.image %} {#
    https://developers.facebook.com/docs/sharing/best-practices#images #}
    <meta
      property="og:image"
      content="{{hostPort}}/uploads-circle/{{tribe.slug}}/1400x900.jpg"
    />
    <meta property="og:image:width" content="1400" />
    <meta property="og:image:height" content="900" />
    {% else %}
    <meta property="og:image" content="{{hostPort}}/img/og_image.jpg" />
    <meta property="og:image:width" content="1400" />
    <meta property="og:image:height" content="735" />
    {% endif %} {% else %} {% if invite %}
    <meta property="og:title" content="You are invited to join Trustroots!" />
    {% else %}
    <meta property="og:title" content="{{title}}" />
    {% endif %}
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="{{canonicalUrl}}" />
    <meta property="og:image" content="{{hostPort}}/img/og_image.jpg" />
    <meta property="og:image:width" content="1400" />
    <meta property="og:image:height" content="735" />
    {% endif %}
    <meta property="og:site_name" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />

    {# Twitter #} {% if twitterUsername %}
    <meta name="twitter:site" content="{{twitterUsername}}" />
    {% endif %} {% if tribe %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Join {{tribe.label | striptags |
    replace('"', '\'')}} on Trustroots"> <meta name="twitter:description"
    content="Join to meet, host and get hosted by Trustroots circle
    {{tribe.label | striptags | replace('"', '\'')}}. Trustroots is a
    travellers' community for sharing, hosting and getting people together.">
    <meta name="twitter:url" content="{{hostPort}}/circles/{{tribe.slug}}" />
    {% if tribe.image_UUID %}
    <meta
      name="twitter:image"
      content="https://ucarecdn.com/{{tribe.image_UUID}}/-/progressive/yes/-/scale_crop/1200x630/center/-/quality/lightest/-/format/jpeg/-/overlay/b72e2604-e926-4e17-acbd-e37c0e1f5c73/50%25x50%25/center/{{tribe.slug}}.jpg"
    />
    {% else %}
    <meta name="twitter:image" content="{{hostPort}}/img/og_image.jpg" />
    {% endif %} {% else %}
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:url" content="{{hostPort}}/" />
    <meta name="twitter:image" content="{{hostPort}}/img/og_image.jpg" />
    {% endif %} {# MS #}
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="{{hostPort}}/img/icons/apple-touch-icon-144x144-precomposed.png"
    />

    {# Google Analytics #} {% if googleAnalytics.enabled === true %}
    <script nonce="{{ nonce }}">
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        'script',
        '//www.google-analytics.com/analytics.js',
        'ga',
      );
      ga('create', '{{ googleAnalytics.code }}', 'auto');
    </script>
    <!-- https://www.trustroots.org/privacy -->
    {% endif %}
  </head>
  <body
    ng-cloak
    {%
    if
    siteAnnouncement.enabled
    %}
    ng-class="{ 'is-site-announcement-visible': app.user && !app.isSiteAnnouncementClosed }"
    {%
    endif
    %}
  >
    <div id="tr-wrap">
      {% block header %} {% include './partials/header.server.view.html' %} {%
      endblock header %} {# Flash messages #}
      <mc-messages aria-live="polite" role="status"></mc-messages>

      {# Site wide notifications #} {# Enabled from `local.js` config #} {% if
      siteAnnouncement.enabled %}
      <div
        class="alert alert-success site-announcement"
        ng-if="app.user && !app.isSiteAnnouncementClosed"
        aria-label="Site announcement"
        role="dialog"
      >
        <div aria-role="document" tabindex="0">
          {{siteAnnouncement.message}}
        </div>
        <a
          class="close"
          ng-click="app.isSiteAnnouncementClosed = true;"
          data-dismiss="alert"
          aria-label="Hide site announcement"
          >×</a
        >
      </div>
      {% endif %}

      <article class="content" id="tr-main" role="main" tabindex="-1">
        {% block content %}{% endblock content %}
      </article>
    </div>

    {% block footer %} {% include './partials/footer.server.view.html' %} {%
    endblock footer %} {# Embedding constants coming from the backend #}
    <script nonce="{{ nonce }}">
      var title = "{{title}}",
          settings = {{ appSettings | dump | safe }},
          languages = {{ languages | dump | safe }},
          {% if facebookAppId !== '' %}facebookAppId = "{{facebookAppId}}",{% endif %}
          {% if googleAnalytics.enabled %}gaId = "{{googleAnalytics.code}}",{% endif %}
          env = "{{ env }}",
          isNativeMobileApp = {{ isNativeMobileApp }},
          user = {{ user | dump | safe }};
    </script>

    {% if env === 'production' %} {% for jsFile in jsFiles %}
    <script
      src="/{{jsFile}}?c={{appSettings.commit}}"
      nonce="{{ nonce }}"
    ></script>
    {% endfor %} {% endif %}
  </body>
</html>
