/*
 * Search/map view
 * Try to keep this "mobile first"
 */

.search-map {
  #search-map-canvas {
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 0;
    position: fixed;
    top: @navbar-height;
    bottom: 0;
  }
  .map-location-search {
    position: absolute;
    width: 300px;
    z-index: @zindex-navbar;
    top: (@navbar-height + @padding-base-horizontal);
    right: 50%;
    margin-right: -150px;

    /*
     * Search bar opacity trick
     */
    .btn,
    #search-query {
      opacity: 0.8;
      .transition(opacity linear 0.2s);
    }
    /* Notice . and : */
    &.active,
    &:active,
    &:hover {
      .btn,
      #search-query {
        opacity: 1;
      }
    }
    .btn,
    #search-query {
      &:focus,
      &:active,
      &:hover {
        opacity: 1;
      }
    }


    @media (max-width: @screen-xs-max) {
      right: @padding-base-vertical;
      margin-right: 0;
      width: 250px;
    }
    .input-group {
      box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    }
    #search-query {
      box-shadow: none;
      border-color: #fff;
      border-radius: 0;
      border-right: 0;
      .border-left-radius(@border-radius-base);
    }
    .btn {
      border-radius: 0;
      border-left: 0;
      .border-right-radius(@border-radius-base);
      &.btn-lg {
        height: 46px; // @todo: fixing different size btn and input, but why this occurs?
      }
    }
    .btn,
    #search-query {
      &:disabled {
        background: #fff;
        opacity: 0.8;
      }
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.search-map-sidebar {
  position: absolute;
  width: auto;
  top: @navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 10px;
  z-index: @zindex-navbar;
  overflow: scroll;
  background: #eee;
  @media (min-width: @screen-sm-min) {
    background: rgba(0,0,0, 0.1);
    min-width: 300px;
    max-width: 480px;
    width: 30%;
    right: 0;
    left: auto;
    bottom: 0;
  }
}
.search-list {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  .search-list-instructions {
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }
  .panel {
    margin-bottom: 5px;
  }
  .search-filters {
    label {
      .text-muted;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-size: @font-size-small;
    }
  }

  .search-result {
    .user-select(none);
    position: relative;
    cursor: pointer;
    .panel-body {
      border-left: 3px solid #fff;
      border-radius: @panel-border-radius;
      .transition(all 0.1s linear);
    }
    h4 {
      padding: 0;
      margin: 0;
    }
    .search-result-label,
    .search-result-languages h4 {
      .text-muted;
      font-size: @font-size-base;
      text-transform: uppercase;
    }
    .search-result-label {
      padding-bottom: 5px;
    }
    .search-result-languages {
      padding: 10px 0 0 0;
      &, h4 {
        font-size: @font-size-small;
      }
    }
    .avatar {
      width: 36px;
      height: 36px;
      float: left;
      margin: 0 10px 0 0;
    }
    .search-result-meta {
      font-size: @font-size-small;
      .text-muted;
    }
    .search-result-tagline {
      margin: 0;
      padding: 10px 0;
      font-size: 15px;
    }
    .search-result-lastseen {
      font-size: @font-size-small;
    }
    .search-result-actions {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      .transition(opacity 0.1s linear);
    }
    &.active,
    &:hover {
      .search-result-actions {
        opacity: 1;
      }
      .panel-body {
        border-color: @brand-primary;
      }
    }
    /* Notice . and : */
    &.active,
    &:active {
      background: #fafafa;
      .panel-body {
        border-color: @brand-secondary;
      }
    }
  }
}


/*
 * Critical search errors floating on top of the map, at least:
 * - show to non public users
 * - when zoom level is too high
 * - when couldn't find search results
 */
.search-overlay-message {
  position: absolute;
  z-index: 1000;
  height: auto;
  padding: 40px 20px;
  top: 40%;
  left: 50%;
  right: 50%;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.7);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: transparent;
  opacity: 1;

  // Allows dragging the map trough the element
  pointer-events: none;
  .user-select(none);

  // Animate show-hide toggle
  .transition(all linear 0.2s);
  &.ng-hide {
    opacity: 0;
  }

  // Make notification responsive
  @search-overlay-message-width: 300px;
  width: (@search-overlay-message-width - 40px);
  margin-left: -(@search-overlay-message-width/2);
  font-size: 24px;
  @media (min-width: @screen-sm-min) {
    @search-overlay-message-width: 650px;
    width: (@search-overlay-message-width - 40px);
    margin-left: -(@search-overlay-message-width/2);
    font-size: 28px;
  }
}
