# https://eslint.org/docs/user-guide/configuring#eslintignore

bin/admin
deploy
migrations/archived
public
scripts
modules/core/server/views/email-templates/
modules/core/server/views/email-templates-text/
.github/**/*.md
apidocs
