# https://github.com/github/gitignore

# OS specific junk
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.directory
*.lnk
._*
*~

# Icon must end with two \r.
Icon


# OSX Files that might appear on external disk
.Spotlight-V100
.Trashes

# Env/development
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
.bower-*/
.grunt
.vagrant

# App
public/lib
public/dist/*
app/tests/coverage/
.idea/
tmp

# Configs
config/secret/*
!config/secret/_template.js

# Logs
logs
log
*.log

# DB migrations
migrations/.migrate

# Phusion Passenger
passenger.*

# User Upload
public/modules/users/img/profile/uploads/
