# https://github.com/github/gitignore

# OS specific junk
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.directory
*.lnk
._*
*~

# Vim editor junk
*.swp

#VSC junk
.vscode/*

# Icon must end with two \r.
Icon


# OSX Files that might appear on external disk
.Spotlight-V100
.Trashes

# Env/development
.eslintcache
.nodemonignore
node_modules/
.vagrant
*.pyc
passenger.*
*.pid
scipts/docker/nginx-conf/*
!scipts/docker/nginx-conf/trustroots.conf

# Ansible Deployment Junk
deploy/ansible/playbooks/*/*.retry

# Ansible-Vault Password
deploy/ansible/VAULT_SECRET

# App
build
public/lib
public/dist
public/assets
public/push-messaging-sw.js
modules/core/client/app/css
.idea
tmp
maildev

# Configs
config/env/local.js

# Logs
logs
log
*.log
npm-debug.*

# Docs
public/developers/api

# DB migrations
migrations/.migrate

# User uploads
uploads
public/uploads-profile
public/uploads-circle/**
modules/users/client/img/profile/uploads # folder removed 2018-08

# Jekyll files for /docs development
docs/_site
docs/Gemfile
docs/Gemfile.lock

# Builds
trustroots.tar.gz*
