language: node_js
node_js:
  - 8
  - 9
matrix:
  fast_finish: true
# https://docs.travis-ci.com/user/reference/overview/#Virtualisation-Environment-vs-Operating-System
dist: trusty
# NodeJS v4+ requires gcc 4.8
# https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Node.js-v4-(or-io.js-v3)-compiler-requirements
env:
  - NODE_ENV=travis CXX="g++-4.8" CC="gcc-4.8"
services:
  - mongodb
sudo: required
# gcc 4.8 requires ubuntu-toolchain-r-test
addons:
  apt:
    sources:
    - google-chrome
    - ubuntu-toolchain-r-test
    - mongodb-upstart
    - mongodb-3.6-precise
    packages:
    - g++-4.8
    - gcc-4.8
    - clang
    - google-chrome-stable
    - graphicsmagick
    - mongodb-org-server
    - mongodb-org-shell
before_install:
  - gem update --system
  - npm install nsp -g
before_script:
  - mongo --version
  - mongod --version

  # https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
  - 'export PATH=$PATH:/usr/lib/chromium-browser/'
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
  - sleep 3 # give xvfb some time to start

after_script:
  - nsp check
notifications:
  slack:
    secure: XRMYG9Hf+bJjMSHHXN0XeGT4ZhSP+oCHBUWmjBwxO0p+VORBOEZvlh/2OvxingFuzLGOXFeOPr1g91G+OgiCGR6GxaDpf680lEjk8ESTJ4oECv0aO2NQEZWYR4peiLRtBmJZTCSsKXDY21nrDHiKOaMQyPJqbzkIrTBMnK/YJpg=
