language: node_js
matrix:
  fast_finish: true
  # Generally using active LTS versions here, see https://github.com/nodejs/Release
  include:
    - name: "Test client"
      node_js: 12
      env: RUN="npm run test:client"
    - name: "Test server"
      node_js: 12
      env: RUN="npm run test:server"
    - name: "Lint and try building"
      node_js: 12
      env: RUN="npx concurrently --kill-others-on-fail 'npm:lint' 'npm:build'"
# https://docs.travis-ci.com/user/reference/overview/#Virtualisation-Environment-vs-Operating-System
script: $RUN
install: npm ci
dist: trusty
services: mongodb
addons:
  apt:
    packages:
    - graphicsmagick
before_script:
  - mongo --version
  - mongod --version

  - sleep 3 # give xvfb some time to start

  # Ensure stable NPM version (avoids `-next.0` tags)
  - 'npm install -g npm'
cache:
  directories:
    - "$HOME/.node-gyp"
    - "$HOME/.npm"

notifications:
  slack:
    secure: XRMYG9Hf+bJjMSHHXN0XeGT4ZhSP+oCHBUWmjBwxO0p+VORBOEZvlh/2OvxingFuzLGOXFeOPr1g91G+OgiCGR6GxaDpf680lEjk8ESTJ4oECv0aO2NQEZWYR4peiLRtBmJZTCSsKXDY21nrDHiKOaMQyPJqbzkIrTBMnK/YJpg=
