<div>
  <ul class="profile-memberships-list panel-more-wrap"
  ng-if="memberships && memberships.length > 5 && !displayAllTribes">
    <div class="panel-more-excerpt">
      <li class="tribe" ng-repeat="membership in ::memberships | limitTo:5">
        <div tr-tribe-badge="membership.tribe"></div>
      </li>
    </div>
    <div class="panel-more-fade" ng-click="toggle()">Show more...</div>
  </ul>

  <ul class="profile-memberships-list"
  ng-if="memberships && (memberships.length <= 5 || displayAllTribes)">
      <li class="tribe" ng-repeat="membership in ::memberships">
        <div tr-tribe-badge="membership.tribe"></div>
      </li>
  </ul>

  <div class="text-center" ng-if="isOwnProfile">
    <div class="content-empty" ng-if="memberships && memberships.length === 0">
      <div class="icon-tribes icon-3x text-muted"></div>
      <p><em>Joining Tribes helps you find likeminded Trustroots members.</em></p>
      <br><br>
      <a ui-sref="tribes.list" class="btn btn-primary">
        Join Tribes
      </a>
    </div>
    <div ng-if="memberships && memberships.length > 0">
      <hr class="hr-gray hr-tight"/>
      <a ui-sref="tribes.list" class="btn btn-sm btn-default">
        Join more Tribes
      </a>
    </div>
  </div>
</div>
