<div class="monkeybox panel panel-default" ng-if="user && user.$resolved">
    <div class="panel-body">
      <p>
        <div tr-avatar data-user="user" data-size="64"></div><br>
        <a ui-sref="profile({username: user.username})"><h3 ng-bind="user.displayName"></h3></a>
      </p>
      <div class="monkeybox-section" ng-if="user.languages.length">
        <h4>Languages</h4>
        <ul class="list-unstyled">
          <li ng-repeat="code in user.languages">{{ languages[code] }}</li>
        </ul>
      </div>
    </div>
</div>
