<div class="monkeybox panel panel-default" ng-show="profile">
  <div class="panel-body">
    <div tr-avatar data-user="profile" data-size="64"></div>
    <h3><a ui-sref="profile({username: profile.username})" ng-bind="profile.displayName"></a></h3>
    <div class="monkeybox-section" ng-show="profile.languages.length && languages">
      <h4>Languages</h4>
      <ul class="list-unstyled">
        <li ng-repeat="code in profile.languages">{{ languages[code] || code }}</li>
      </ul>
    </div>
  </div>
</div>
