---

- name: node apt stuff
  shell: "curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -"
  args:
    warn: false
  tags:
    - node-apt-source


- name: Install nodejs
  apt:
    name: nodejs
    state: present


- name: install pm2
  npm:
    name: pm2
    global: yes
  tags:
    - npm
    - pm2
    

- name: npm ci
  # https://docs.npmjs.com/cli/ci
  shell: 'npm ci'
  args:
    chdir: /srv/trustroots
  become: yes
  become_user: guaka


## TODO: make var in 'shell' come form playbook
## TODO:figure this out
## TODO: remove env here, it shoyld be in playbook
## get rind of the OR TRUE that fixes the broken population stuff
- name: npm run build:ENV "{{ env_short }}"
  shell: "npm run build:{{ env_short }} || true "
  args: 
    chdir: /srv/trustroots
  become: yes
  become_user: guaka
  tags:
    - build
  

## TODO: get rid of the need for OR TRUE
- name: generate test data
  shell: 'npm run seed > /dev/null || true'
  args: 
    chdir: /srv/trustroots
    creates: /home/guaka/.node_test_data_created
  become: yes
  become_user: guaka
  tags:
    - testdata

- name: pm2 start
  shell: "pm2 start worker-pm2.json --env {{ env_long }} || true"
  args:
    chdir: /srv/trustroots
  become: yes
  become_user: guaka
  tags:
    - pm2

