<section class="container container-fullscreen board page-welcome" tr-boards="'bokeh'">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 text-center">
      <img class="hidden-xs" src="/img/tree-color.svg" alt="Trustroots" width="120" height="120" aria-hidden="true">
      <img class="visible-xs-inline-block" src="/img/tree-color.svg" alt="Trustroots" width="80" height="80" aria-hidden="true">
      <h2>Hey, welcome!</h2>
      <p class="lead">
        Being able to rely on strangers, on communities, on trust, are values that are worth preserving. Go travel & spread the word.
        <br><br>
        <a ui-sref="profile-edit.about" class="btn btn-lg btn-default">Fill your profile</a>
      </p>
    </div>
  </div>
</section>
