<tribes-header
  isLoggedIn="!!app.user"
  onDisplayPhoto="tribesList.addPhotoCredits"
  onHidePhoto="tribesList.removePhotoCredits"
></tribes-header>

<section class="container container-spacer">

  <div class="row">
    <div class="col-xs-12">

      <ul class="list-unstyled tribes-grid"
          angular-grid="tribesList.tribes"
          ag-grid-width="288"
          ag-gutter-size="10"
          ag-refresh-on-img-load="false">
        <li class="panel tribe tribe-image"
            ng-repeat="tribe in tribesList.tribes track by tribe._id"
            tr-tribe-styles="{{::tribe}}"
            tr-tribe-styles-dimensions="742x496"
            tr-tribe-styles-progressive="yes">
          <a ng-click="tribesList.openTribe(tribe)" class="tribe-link">
            <span ng-if="::tribe.new" class="tribe-new" aria-hidden="true">
              <span class="label label-primary">
                New tribe!
              </span>
            </span>
            <div class="tribe-content" ng-class="{'is-image': tribe.image_UUID}">
              <h3 class="font-brand-light tribe-label" ng-bind="::tribe.label"></h3>
              <ng-pluralize
                class="tribe-meta"
                count="tribe.count"
                when="{
                  '0': 'No members yet',
                  '1': 'One member',
                  'other': '{{tribe.count|number}} members'
                }"></ng-pluralize>
            </div>
          </a>
          <div class="tribe-actions">
            <tr-tribe-join-button
              class="btn btn-sm btn-default tribe-join"
              tribe="tribe"
              icon="true">
            </tr-tribe-join-button>
          </div>
        </li>
        <li>
          <suggest-tribe></suggest-tribe>
        </li>
      </ul>
  </div>

  <tribes-join-trustroots ng-if="!app.user">

</section>
