@import '~less/global-variables';

.map-style-control-container {
  bottom: 40px;
  box-shadow: @map-toolbar-shadow;
  left: 10px;
  position: absolute;
  z-index: 5;

  .btn {
    background: @map-toolbar-background;
    color: @text-color;
    text-align: left;
    transition: background 0.25s;

    &:hover {
      color: @text-color;
      background: @map-toolbar-background-hover;
    }

    &.is-active {
      background: @gray-lighter;
    }
  }
}
