<div
  class="search-message search-message-solid"
  ng-if="app.user && !app.user.public"
  role="alertdialog"
  aria-labelledby="activate-profile-message"
>
  <div role="document" tabindex="0">
    <h4 id="activate-profile-message">
      Sorry, you need to first activate your profile before you can browse
      others.
    </h4>
    <p class="lead">
      If you didn't receive the confirmation message, check your spam folder or
      resend it via <a ui-sref="profile-edit.account">email settings</a>.
    </p>
  </div>
</div>

<search-map
  filters="searchMap.filters"
  isUserPublic="app.user.public"
  location-bounds="searchMap.bounds"
  location="searchMap.location"
  onOfferClose="searchMap.closeOffer"
  onOfferOpen="searchMap.previewOffer"
></search-map>
