<section class="board" tr-boards="'tribes-1'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br>
        <h2>Invite friends</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 text-center"
         ng-if="::invite.invitation.code">

      <p class="lead">
        Trustroots is invite only.<br>
        Help us grow by sharing your invitation link:
      </p>

      <input id="tr-invite-code" type="text"
             class="form-control text-center input-lg font-brand-semibold"
             tr-select-on-click
             ng-attr-value="{{ invite.signUpUrl }}"
             readonly>

      <br>
      <p class="text-muted font-brand-semibold">
        Invite links are valid for 24 hours.
      </p>

      <br>
      <h3>Send invite link to your friends now</h3>
      <br>
      <!--
      <p class="text-muted font-brand-semibold">
        Share your code consciously.<br>
        Can you vouch for this person?
        Will they be a good fit for Trustroots?
      </p>
      -->

      <!-- Go to www.addthis.com/dashboard to customize -->
      <div class="addthis_inline_share_toolbox"></div>
      <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-591c2040c6459c4a" async="async"></script>

      <br>

    </div>
  </div><!-- /.row -->
</section><!-- /.container -->
