<section class="search-map" data-ng-controller="SearchController">

  <div class="form-group map-location-search">
    <div class="input-group">
      <label for="search-query" class="sr-only">Search places</label>
      <input type="text" id="search-query" class="form-control input-lg" placeholder="Search places" ng-disabled="searchQuerySearching" data-ng-model="searchQuery" ng-keypress="enterSearchAddress($event)" typeahead="trTitle as address.trTitle for address in searchSuggestions($viewValue) | filter:{trTitle:$viewValue}" typeahead-on-select="mapLocate($item)" /><!-- typeahead-loading="searchQuerySearching"-->
      <span class="input-group-btn">
        <button type="button" class="btn btn-lg btn-inverse" ng-click="searchAddress()" ng-disabled="searchQuerySearching">
          <i class="fa fa-search" ng-show="searchQuerySearching === false"></i>
          <i class="fa fa-refresh" ng-show="searchQuerySearching === true"></i>
        </button>
      </span>
    </div>
  </div>

  <div ng-show="user && user.public === false" class="search-overlay-message">
    Sorry, you need to first activate your profile before you can browse others.
  </div>

  <div ng-show="center.zoom < 6 && user.public !== false" class="text-uppercase search-overlay-message">
    Zoom closer to see people
  </div>

  <div ng-show="notFound" class="search-overlay-message">
    We could not find such a place...
  </div>

  <leaflet center="center" markers="markers" layers="layers" bounds="bounds" paths="paths" defaults="defaults" event-broadcast="events" id="search-map-canvas"></leaflet>

  <div class="search-map-sidebar" ng-show="sidebarOpen">

    <div class="search-list">

      <div class="form-group visible-xs-block">
        <button class="btn btn-primary btn-lg btn-block" ng-click="sidebarOpen = false">Back to map</button>
      </div>

      <!-- Profile loading -->
      <div class="search-result panel panel-default panel-loading" ng-hide="offer && offer.$resolved">
        <div class="panel-body">
          <div tr-avatar data-size="32" data-link="false" data-source="none"></div>
          <h4>
            ███ ███
            <small class="text-muted">@███</small>
          </h4>
          <div class="search-result-meta">
            █ ███, ███.
          </div>
          <div class="search-result-tagline">
            █████ █████ ████
          </div>
          <div class="search-result-hosting">
            <span class="search-result-label">Hosting:</span>
            <span class="label">██</span>
            <div class="search-result-description">██████ █████ █████</div>
          </div>
          <div class="search-result-languages">
            <h4>Languages</h4>
            <ul class="list-inline">
              <li>████</li>
              <li>████</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Profile loading -->

      <!-- Profile -->
      <div class="search-result panel panel-default" ng-show="offer && offer.$resolved">
        <div class="panel-body" ng-click="showUser(offer.user.username)">
          <div class="search-result-actions">
            <a ui-sref="listMessages({userId: offer.user._id})" class="btn btn-link btn-sm" tooltip-placement="left" tooltip="Send a message"><i class="fa fa-comment"></i></a>
            <!--<a href="#" class="btn btn-link btn-sm" tooltip-placement="left" tooltip="Bookmark"><i class="fa fa-lg fa-bookmark"></i></a>-->
          </div>
          <div tr-avatar data-size="32" data-link="false" data-user="offer.user"></div>
          <h4>
            {{offer.user.displayName}}
            <small class="text-muted" data-ng-show="offer.user.username">@{{offer.user.username}}</small>
          </h4>
          <div class="search-result-meta">
            <span ng-show="offer.user.birthdate" am-time-ago="offer.user.birthdate" am-without-suffix="true"></span><span ng-show="offer.user.birthdate && offer.user.gender">, </span>
            <span ng-show="offer.user.gender" ng-class="{ 'text-capitalize': !offer.user.birthdate }">{{offer.user.gender}}.</span>
          </div>
          <div class="search-result-tagline">
            {{offer.user.tagline}}
          </div>
          <div class="search-result-hosting">
            <div class="search-result-label">
              Hosting:
              <span class="label" ng-class="{'btn-hosting-yes': offer.status === 'yes', 'btn-hosting-maybe': offer.status === 'maybe', 'btn-hosting-no': offer.status === 'no'}" ng-bind="offer.status"></span>
            </div>
            <div class="search-result-description" data-ng-bind-html="offer.description | trustedHtml"></div>
          </div>
          <div class="search-result-languages" ng-show="offer.user.languages.length">
            <h4>Languages</h4>
            <ul class="list-inline">
              <li ng-repeat="code in offer.user.languages">{{languages[code]}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Profile -->

      <div class="search-list-instructions">
        Note that locations on the map are not precise.
      </div>

    <!--

        <!-- Search filters --
        <div class="search-filters panel panel-default">
            <div class="panel-body" role="form">

              <h3 class="sr-only">Filters</h3>

              <div class="form-group">
                <label class="control-label" for="search-term">Search term</label>
                <input type="text" class="form-control" id="search-term">
              </div>

              <div class="form-group">
                <label class="control-label" for="common-friends">Common friends</label>
                <input type="range" name="common-friends" min="0" max="5">
                <small class="help-block pull-left">Less</small>
                <small class="help-block pull-right">More</small>
              </div>

            </div>
        </div>
        !-- /Search filters -->

        <!-- Search results --
        <div class="search-result panel panel-default">
          <div class="panel-body">
            <div class="search-result-actions">
              <a href="#" class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="right" title="Bookmark"><i class="fa fa-bookmark"></i></a>
            </div>
            <img src="/images/avatar.png" alt="" class="avatar">
            <h4>Firstname Lastname</h4>
            <div class="search-result-meta">
              32 years, female.
            </div>
            <div class="search-result-tagline">
              Lorem ipsum dolor sit amet
            </div>
            <div class="search-result-lastseen">
              <span class="search-result-label">Last seen:</span>
              Less than week ago.
            </div>
          </div>
        </div>
        !-- /Search results -->

        <!-- No search results --
        <div class="panel panel-default content-empty">
            <div class="panel-body">
                <h3>Whoopsie, nobody!</h3>
                <p>Try to widen your search criteria and area.</p>
            </div>
        </div>
        !-- /No search results -->

        <div class="form-group visible-xs-block">
          <button class="btn btn-primary btn-lg btn-block" ng-click="sidebarOpen = false">Back to map</button>
        </div>

      </div>
      <!-- /.search-list -->

  </div>
  <!-- /.search-map-sidebar -->

</section>
