{#
 #  Notification messages are free-form text.
 #  The Graph API accepts a maximum of 180 characters in the message field,
 #  and will truncate messages after 120 characters.
 #
 #  Don't pass details (like names) about users who are not connected to FB.
 #
 #  If you have user's FB id, you can use `@[fbid]` to let FB render their name.
 #
 #  https://developers.facebook.com/docs/games/services/appnotifications#templating
 #}
{% if messageCount > 1 %}
You have {{ messageCount }} unread messages{% else %}
You have one unread message{% endif %}{% if fromUserFacebookId %} from @[{{fromUserFacebookId}}]{% endif %} at Trustroots.
