
<!-- Show for non-publish profiles -->
<div class="panel panel-default panel-disabled offers-view" ng-if="profileCtrl.profile && profileCtrl.profile.$resolved && app.user.username === profileCtrl.profile.username && !app.user.public">
  <div class="panel-heading">
    Accommodation
  </div>
  <div class="panel-body">
    <div class="content-empty">
      <div class="offer-symbol-sofa center-block"></div>
      <br>
      <h4>Confirm your profile first to start hosting.</h4>
    </div>
  </div>
</div>

<!-- Offer -->
<div class="panel panel-default offer-view" ng-if="profileCtrl.profile && profileCtrl.profile.$resolved && !(app.user.username === profileCtrl.profile.username && !app.user.public)" ng-controller="OffersViewController as offersView">

  <div class="panel-heading">
    Accommodation
    <!-- Button + dropdown for user's own profile -->
    <div ng-if="app.user._id === profileCtrl.profile._id && (offersView.offer && offersView.offer.$resolved && app.user.public)" class="pull-right btn-group" dropdown is-open="hostingDropdown">
      <button class="btn btn-sm dropdown-toggle btn-hosting" tooltip="Change" tooltip-placement="left" dropdown-toggle ng-class="{'btn-hosting-yes': offersView.offer.status === 'yes', 'btn-hosting-maybe': offersView.offer.status === 'maybe', 'btn-hosting-no': (!offersView.offer || offersView.offer.status === 'no')}">
        {{ offersView.hostingStatusLabel(offersView.offer.status) }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="offer({'status': 'yes'})" class="cursor-pointer hosting-yes">I can host</a></li>
        <li><a ui-sref="offer({'status': 'maybe'})" class="cursor-pointer hosting-maybe">I might be able to host</a></li>
        <li><a ui-sref="offer({'status': 'no'})" class="cursor-pointer hosting-no">I can't host currently</a></li>
      </ul>
    </div>
    <!-- Button for other profiles -->
    <a class="btn btn-sm pull-right btn-hosting btn-hosting-yes"
       ng-if="app.user._id !== profileCtrl.profile._id && (offer && offer.$resolved && app.user.public)"
       ui-sref="messageThread({username: profileCtrl.profile.username})"
       ng-class="{'btn-hosting-yes': offersView.offer.status === 'yes', 'btn-hosting-maybe': offersView.offer.status === 'maybe', 'btn-hosting-no': (!offersView.offer || offersView.offer.status === 'no')}">
      {{ offersView.hostingStatusLabel(offersView.offer.status) }}
    </a>
  </div>

  <!-- Show while offer is loading -->
  <div class="panel-body text-center text-muted" ng-if="!offersView.offer || !offersView.offer.$resolved">
    <small>Wait a moment...</small>
  </div>

  <!-- Offers/user's own profile isn't public yet -->
  <div class="panel-body" ng-if="app.user.public === false">
    <div class="content-empty">
      <div class="offer-symbol-sofa center-block"></div>
      <h4>You need to activate your profile before starting to host.</h4>
    </div>
  </div>

  <!-- Show offer -->
  <div class="panel-body" ng-if="offersView.offer && offersView.offer.$resolved && app.user.public">

    <!-- Hosting: yes | maybe -->
    <div ng-if="offersView.offer.status !== 'no'">

      <!-- Short descriptions -->
      <div ng-if="offersView.offer.description && offersView.offer.description.length < 2000" ng-bind-html="offersView.offer.description | trustedHtml"></div>

      <!-- Long descriptions -->
      <div ng-if="offersView.offer.description && offersView.offer.description.length >= 2000">
        <div class="panel-more-wrap" ng-hide="offersView.offerDescriptionToggle">
          <div ng-bind-html="offersView.offer.description | limitTo:2000 | trustedHtml" class="panel-more-excerpt" ng-click="offersView.offerDescriptionToggle=true"></div>
          <div class="panel-more-fade" ng-click="offersView.offerDescriptionToggle=true">Show more...</div>
        </div>
        <div ng-bind-html="offersView.offer.description | trustedHtml" ng-show="offersView.offerDescriptionToggle"></div>
      </div>

      <p class="offer-restrictions">
        <small class="pull-right" ng-show="offersView.offer.description && app.user._id === profileCtrl.profile._id"><a ui-sref="offer" class="text-muted">edit</a></small>
        {{offersView.offer.maxGuests, plural, offset:1
            =0    {No guests.}
            =1    {At most 1 guest.}
            one   {At most one guest.}
            other {At most {{ offersView.offer.maxGuests }} guests.}
        }}
      </p>
    </div>
    <!-- /Hosting: yes | maybe -->

    <!-- Hosting: no -->
    <div ng-if="!offersView.offer || offersView.offer.status === 'no' && app.user.public">

      <!-- User has written explanation -->
      <div ng-if="offersView.offer.noOfferDescription" ng-bind-html="offersView.offer.noOfferDescription | trustedHtml"></div>
      <small class="pull-right" ng-if="offersView.offer.noOfferDescription && app.user._id === profileCtrl.profile._id"><a ui-sref="offer({'status': 'no'})" class="text-muted">edit</a></small>

      <!-- Default "sorry nope" -->
      <div class="content-empty text-muted" ng-if="!offersView.offer.noOfferDescription">
        <div class="offer-symbol-sofa center-block"></div>
        <h4>Sorry, user is not hosting currently.</h4>
        <p ng-if="!offersView.offer.noOfferDescription && app.user._id === profile._id"><a ui-sref="offer({'status': 'no'})" class="text-muted"><small>Customize</small></a></p>
      </div>

    </div>
    <!-- /Hosting: no -->

  </div>

  <!-- When looking at your own profile -->
  <div leaflet
       id="offer-location-canvas"
       class="offer-location"
       center="offersView.mapCenter"
       markers="offersView.mapMarkers"
       layers="offersView.mapLayers"
       paths="offersView.mapPaths"
       defaults="offersView.mapDefaults"
       ng-if="offersView.offer &&
              offersView.offer.$resolved &&
              offersView.offer.status !== 'no' &&
              app.user.public"></div>

  <div class="panel-footer text-center" ng-if="app.user.public">
    <a ng-if="app.user._id === profileCtrl.profile._id && (offersView.offer && offersView.offer.status === 'no')" ui-sref="offer" class="btn btn-xs btn-primary">Start hosting travellers</a>
    <a ng-if="offersView.offer && offersView.offer.status !== 'no'" ui-sref="search({offer: offersView.offer._id})" class="btn btn-xs btn-link"><span class="text-muted">Bigger map</span></a>
  </div>

</div>
