
<!-- Show for non-publish profiles -->
<div class="panel panel-default panel-disabled offers-view" ng-if="profileCtrl.profile && profileCtrl.profile.$resolved && offersView.offer.status && app.user.username === profileCtrl.profile.username && !app.user.public">
  <div class="panel-heading">
    Accommodation
  </div>
  <div class="panel-body">
    <div class="content-empty">
      <div class="icon-sofa icon-3x text-muted"></div>
      <br>
      <h4>Confirm your profile first to start hosting.</h4>
    </div>
  </div>
</div>

<!-- Offer -->
<div class="panel panel-default offer-view"
     ng-if="profileCtrl.profile && profileCtrl.profile.$resolved && !(app.user.username === profileCtrl.profile.username && !app.user.public)"
     ng-controller="OfferHostViewController as offersView">

  <div class="panel-heading">
    Accommodation
    <!-- Button + dropdown for user's own profile -->
    <div ng-if="app.user._id === profileCtrl.profile._id && (offersView.offer && offersView.offer.$resolved && app.user.public)"
         class="pull-right btn-group"
         uib-dropdown
         is-open="hostingDropdown">
      <button class="btn btn-sm dropdown-toggle btn-offer-hosting"
              uib-tooltip="Change"
              tooltip-placement="left"
              uib-dropdown-toggle
              ng-class="{
                'btn-offer-hosting-yes': offersView.offer.status === 'yes',
                'btn-offer-hosting-maybe': offersView.offer.status === 'maybe',
                'btn-offer-hosting-no': (!offersView.offer || !offersView.offer.status || offersView.offer.status === 'no')
              }">
        {{ offersView.hostingStatusLabel(offersView.offer.status) }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a ui-sref="offer.host.edit({'status': 'yes'})"
             class="cursor-pointer offer-hosting-yes">
            I can host
          </a>
        </li>
        <li>
          <a ui-sref="offer.host.edit({'status': 'maybe'})"
             class="cursor-pointer offer-hosting-maybe">
            I might be able to host
          </a>
        </li>
        <li>
          <a ui-sref="offer.host.edit({'status': 'no'})"
             class="cursor-pointer offer-hosting-no">
            I can't host currently
          </a>
        </li>
      </ul>
    </div>
    <!-- Button for other profiles -->
    <a class="btn btn-sm pull-right btn-offer-hosting btn-offer-hosting-yes"
       aria-label="Hosting status: {{ ::offersView.hostingStatusLabel(offersView.offer.status) }}"
       ng-if="app.user._id !== profileCtrl.profile._id && (offersView.offer && offersView.offer.$resolved && offersView.offer.status && app.user.public)"
       ui-sref="messageThread({username: profileCtrl.profile.username})"
       ng-class="{
         'btn-offer-hosting-yes': offersView.offer.status === 'yes',
         'btn-offer-hosting-maybe': offersView.offer.status === 'maybe',
         'btn-offer-hosting-no': (!offersView.offer || offersView.offer.status === 'no')
       }">
      {{ ::offersView.hostingStatusLabel(offersView.offer.status) }}
    </a>
  </div>

  <!-- Show while offer is loading -->
  <div class="panel-body text-center text-muted"
       role="alertdialog"
       aria-busy="true"
       aria-live="assertive"
       ng-show="!offersView.offer || !offersView.offer.$resolved">
    <small>Wait a moment...</small>
  </div>

  <!-- Offers/user's own profile isn't public yet -->
  <div class="panel-body" ng-if="app.user.public === false">
    <div class="content-empty">
      <div class="icon-sofa icon-3x text-muted"></div>
      <h4>You need to activate your profile before starting to host.</h4>
    </div>
  </div>

  <!-- Show offer -->
  <div class="panel-body" ng-if="offersView.offer && offersView.offer.$resolved && app.user.public">

    <!-- Hosting: yes | maybe -->
    <div ng-if="offersView.offer.status && offersView.offer.status !== 'no'">

      <!-- Edit button -->
      <a ui-sref="offer.host.edit"
         class="btn btn-inverse-primary btn-round btn-raised pull-right"
         aria-label="Modify hosting offer"
         ng-if="app.user._id === profileCtrl.profile._id">
        <span class="icon-edit"></span>
      </a>

      <!-- Short descriptions -->
      <div ng-if="offersView.offer.description && offersView.offer.description.length < 2000"
           ng-bind-html="offersView.offer.description | trustedHtml"></div>

      <!-- Long descriptions -->
      <div ng-if="offersView.offer.description && offersView.offer.description.length >= 2000">
        <div class="panel-more-wrap"
             ng-hide="offersView.offerDescriptionToggle">
          <div ng-bind-html="offersView.offer.description | limitTo:2000 | trustedHtml"
               class="panel-more-excerpt"
               ng-click="offersView.offerDescriptionToggle=true"></div>
          <div class="panel-more-fade"
               ng-click="offersView.offerDescriptionToggle=true">
            Show more...
          </div>
        </div>
        <div ng-bind-html="offersView.offer.description | trustedHtml"
             ng-show="offersView.offerDescriptionToggle"></div>
      </div>

      <p class="offer-restrictions">
        {{offersView.offer.maxGuests, plural, offset:1
            =0    {No guests.}
            =1    {At most one guest.}
            other {At most {{ offersView.offer.maxGuests }} guests.}
        }}
      </p>
    </div>
    <!-- /Hosting: yes | maybe -->

    <!-- Hosting: no -->
    <div ng-if="!offersView.offer || !offersView.offer.status || offersView.offer.status === 'no' && app.user.public">

      <!-- Edit button -->
      <a ui-sref="offer.host.edit({'status': 'no'})"
         class="btn btn-inverse-primary btn-round btn-raised pull-right"
         aria-label="Modify hosting offer"
         ng-if="app.user._id === profileCtrl.profile._id">
        <span class="icon-edit"></span>
      </a>

      <!-- User has written explanation -->
      <div ng-if="offersView.offer.noOfferDescription" ng-bind-html="offersView.offer.noOfferDescription | trustedHtml"></div>

      <!-- Default "sorry nope" -->
      <div class="content-empty text-muted" ng-if="!offersView.offer.noOfferDescription">
        <div class="icon-sofa icon-3x text-muted"></div>

        <!-- Show for others -->
        <h4 ng-if="app.user._id !== profileCtrl.profile._id">
          Sorry, user is not hosting currently.
        </h4>

        <!-- Show for the user -->
        <div ng-if="app.user._id === profileCtrl.profile._id">
          <br>
          <p class="lead">
            <em>Offering hospitality and welcoming “strangers” to our homes strengthens our faith in each other.</em>
          </p>
          <br>
        </div>

      </div>

      <!-- Action button -->
      <div ng-if="app.user._id === profileCtrl.profile._id && (offersView.offer && (offersView.offer.status === 'no' || !offersView.offer.status))"
         class="text-center">
        <br>
        <hr class="hr-gray hr-tight hr-xs" />
        <a ui-sref="offer.host.edit({status: 'yes'})"
           class="btn btn-inverse-primary">
          Start hosting travellers
        </a>
      </div>

    </div>
    <!-- /Hosting: no -->

  </div>

  <!-- The map -->
  <div tr-offer-location="offersView.offer"
       ng-if="offersView.offer &&
              offersView.offer.$resolved &&
              offersView.offer.status &&
              offersView.offer.status !== 'no' &&
              app.user.public"></div>

  <div class="panel-footer text-center"
       ng-if="offersView.offer && offersView.offer.status && offersView.offer.status !== 'no' && app.user.public">
    <a ui-sref="search.map({offer: offersView.offer._id})"
       class="btn btn-sm btn-inverse-primary">
      Bigger map
    </a>
  </div>

</div>
