<div class="panel panel-default offer-view" ng-if="profileCtrl.profile" ng-class="{'panel-disabled': app.user.public === false}" ng-controller="ViewOffersController as viewOffers">

  <div class="panel-heading">
    Accommodation
    <!-- Button + dropdown for user's own profile -->
    <div ng-if="app.user._id === profile._id && (viewOffers.offer && viewOffers.offer.$resolved && app.user.public !== false)" class="pull-right btn-group" dropdown is-open="hostingDropdown">
      <button class="btn btn-sm dropdown-toggle btn-hosting" tooltip="Change" tooltip-placement="left" dropdown-toggle ng-class="{'btn-hosting-yes': viewOffers.offer.status === 'yes', 'btn-hosting-maybe': viewOffers.offer.status === 'maybe', 'btn-hosting-no': (!viewOffers.offer || viewOffers.offer.status === 'no')}">
        {{ viewOffers.hostingStatusLabel(viewOffers.offer.status) }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="offer-status({'status': 'yes'})" class="cursor-pointer hosting-yes">I can host</a></li>
        <li><a ui-sref="offer-status({'status': 'maybe'})" class="cursor-pointer hosting-maybe">I might be able to host</a></li>
        <li><a ui-sref="offer-status({'status': 'no'})" class="cursor-pointer hosting-no">I can't host currently</a></li>
      </ul>
    </div>
    <!-- Button for other profiles -->
    <a class="btn btn-sm pull-right btn-hosting btn-hosting-yes"
       ng-if="app.user._id !== profileCtrl.profile._id && (offer && offer.$resolved && app.user.public !== false)"
       ui-sref="listMessages({userId: profileCtrl.profile._id})"
       ng-class="{'btn-hosting-yes': viewOffers.offer.status === 'yes', 'btn-hosting-maybe': viewOffers.offer.status === 'maybe', 'btn-hosting-no': (!viewOffers.offer || viewOffers.offer.status === 'no')}">
      {{ viewOffers.hostingStatusLabel(viewOffers.offer.status) }}
    </a>
  </div>

  <!-- Show while offer is loading -->
  <div class="panel-body text-center text-muted" ng-if="!viewOffers.offer || !viewOffers.offer.$resolved">
    <small>Wait a moment...</small>
  </div>

  <!-- Offers/user's own profile isn't public yet -->
  <div class="panel-body" ng-if="app.user.public === false">
    <div class="content-empty">
      <div class="offer-symbol-sofa center-block"></div>
      <h4>You need to activate your profile before starting to host.</h4>
    </div>
  </div>

  <!-- Show once offer has loader -->
  <div class="panel-body" ng-if="viewOffers.offer && viewOffers.offer.$resolved && app.user.public !== false">

    <!-- Hosting: yes | maybe -->
    <div ng-if="viewOffers.offer.status !== 'no'">

      <!-- Short descriptions -->
      <div ng-if="viewOffers.offer.description && viewOffers.offer.description.length < 2000" ng-bind-html="viewOffers.offer.description | trustedHtml"></div>

      <!-- Long descriptions -->
      <div ng-if="viewOffers.offer.description && viewOffers.offer.description.length >= 2000">
        <div class="panel-more-wrap" ng-hide="viewOffers.offerDescriptionToggle">
          <div ng-bind-html="viewOffers.offer.description | limitTo:2000 | trustedHtml" class="panel-more-excerpt" ng-click="viewOffers.offerDescriptionToggle=true"></div>
          <div class="panel-more-fade" ng-click="viewOffers.offerDescriptionToggle=true">Show more...</div>
        </div>
        <div ng-bind-html="viewOffers.offer.description | trustedHtml" ng-show="viewOffers.offerDescriptionToggle"></div>
      </div>

      <p class="offer-restrictions">
        <small class="pull-right" ng-show="viewOffers.offer.description && app.user._id === profileCtrl.profile._id"><a ui-sref="offer" class="text-muted">edit</a></small>
        <!--
        <small ng-show="viewOffers.offer.maxGuests > 1">At most {{viewOffers.offer.maxGuests}} guests.</small>
        <small ng-show="viewOffers.offer.maxGuests === 1">At most one guest.</small>
        <small ng-show="viewOffers.offer.maxGuests === 0">Zero guests.</small>
      -->
        {{viewOffers.offer.maxGuests, plural, offset:1
            =0    {No guests.}
            =1    {At most 1 guest.}
            one   {At most one guest.}
            other {At most {{ viewOffers.offer.maxGuests }} guests.}
        }}
      </p>
    </div>
    <!-- /Hosting: yes | maybe -->

    <!-- Hosting: no -->
    <div ng-if="!viewOffers.offer || viewOffers.offer.status === 'no' && app.user.public !== false">

      <!-- User has written explanation -->
      <div ng-if="viewOffers.offer.noOfferDescription" ng-bind-html="viewOffers.offer.noOfferDescription | trustedHtml"></div>
      <small class="pull-right" ng-if="viewOffers.offer.noOfferDescription && app.user._id === profileCtrl.profile._id"><a ui-sref="offer-status({'status': 'no'})" class="text-muted">edit</a></small>

      <!-- Default "sorry nope" -->
      <div class="content-empty text-muted" ng-if="!viewOffers.offer.noOfferDescription">
        <div class="offer-symbol-sofa center-block"></div>
        <h4>Sorry, user is not hosting currently.</h4>
        <p ng-if="!viewOffers.offer.noOfferDescription && app.user._id === profile._id"><a ui-sref="offer-status({'status': 'no'})" class="text-muted"><small>Customize</small></a></p>
      </div>

    </div>
    <!-- /Hosting: no -->

  </div>

  <!-- When looking at your own profile -->
  <div leaflet id="offer-location-canvas" center="viewOffers.mapCenter" markers="viewOffers.mapMarkers" layers="viewOffers.mapLayers" paths="viewOffers.mapPaths" defaults="viewOffers.mapDefaults" class="offer-location" ng-if="viewOffers.offer && viewOffers.offer.$resolved && viewOffers.offer.status !== 'no' && app.user.public !== false"></div>

  <div class="panel-footer text-center" ng-if="app.user.public !== false">
    <a ng-if="app.user._id === profileCtrl.profile._id && (viewOffers.offer && viewOffers.offer.status === 'no')" ui-sref="offer" class="btn btn-xs btn-primary">Start hosting travellers</a>
    <a ng-if="viewOffers.offer && viewOffers.offer.status !== 'no'" ui-sref="search({offer: viewOffers.offer._id})" class="btn btn-xs btn-link"><span class="text-muted">Bigger map</span></a>
  </div>

</div>
