<!-- Accommodation -->
<div class="panel panel-default offer-view" data-ng-controller="ViewOffersController">
  <div class="panel-heading">
    Accommodation
    <!-- Button + dropdown for user's own profile -->
    <div ng-show="user._id === profile._id && (offer && offer.$resolved)" class="pull-right btn-group" dropdown is-open="hostingDropdown">
      <button class="btn btn-sm dropdown-toggle btn-hosting" tooltip="Change" tooltip-placement="left" dropdown-toggle ng-class="{'btn-hosting-yes': offer.status === 'yes', 'btn-hosting-maybe': offer.status === 'maybe', 'btn-hosting-no': (!offer || offer.status === 'no')}">
        {{ hostingStatusLabel() }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="hostingStatus('yes')" class="cursor-pointer hosting-yes">I can host</a></li>
        <li><a ng-click="hostingStatus('maybe')" class="cursor-pointer hosting-maybe">I might be able to host</a></li>
        <li><a ng-click="hostingStatus('no')" class="cursor-pointer hosting-no">I can't host currently</a></li>
      </ul>
    </div>
    <!-- Button for other profiles -->
    <a ng-show="user._id !== profile._id && (offer && offer.$resolved)" ui-sref="listMessages({userId: profile._id})" class="btn btn-sm pull-right btn-hosting btn-hosting-yes" ng-show="offer.status === 'yes'" ng-class="{'btn-hosting-yes': offer.status === 'yes', 'btn-hosting-maybe': offer.status === 'maybe', 'btn-hosting-no': (!offer || offer.status === 'no')}">
      {{ hostingStatusLabel() }}
    </a>
  </div>

  <!-- Show while offer is loading -->
  <div class="panel-body text-center text-muted" ng-show="!offer || !offer.$resolved">
    <small>Wait a moment...</small>
  </div>

  <!-- Show once offer has loader -->
  <div class="panel-body" ng-show="offer && offer.$resolved">

    <!-- Hosting: yes | maybe -->
    <div ng-show="offer.status !== 'no'">

      <!-- Short descriptions -->
      <div ng-show="offer.description && offer.description.length < 2000" ng-bind-html="offer.description | trustedHtml"></div>

      <!-- Long descriptions -->
      <div ng-show="offer.description && offer.description.length >= 2000">
        <div class="panel-more-wrap" ng-hide="offerDescriptionToggle">
          <div ng-bind-html="offer.description | limitTo:2000 | trustedHtml" class="panel-more-excerpt" ng-click="offerDescriptionToggle=true"></div>
          <div class="panel-more-fade" ng-click="offerDescriptionToggle=true">Show more...</div>
        </div>
        <div ng-bind-html="offer.description | trustedHtml" ng-show="offerDescriptionToggle"></div>
      </div>

      <p class="offer-restrictions">
        <small ng-show="offer.description && user._id === profile._id" class="pull-right"><a ui-sref="offer" class="text-muted">edit</a></small>
        <small ng-show="offer.maxGuests > 1">At most {{offer.maxGuests}} guests.</small>
        <small ng-show="offer.maxGuests === 1">At most one guest.</small>
        <small ng-show="offer.maxGuests === 0">Zero guests.</small>
      </p>
    </div>
    <!-- /Hosting: yes | maybe -->

    <!-- Hosting: no -->
    <div ng-show="!offer || offer.status === 'no'">

      <!-- User has written explanation -->
      <div ng-show="offer.noOfferDescription" ng-bind-html="offer.noOfferDescription | trustedHtml"></div>
      <small ng-show="offer.noOfferDescription && user._id === profile._id" class="pull-right"><a ng-click="hostingStatus('no')" class="text-muted">edit</a></small>

      <!-- Default "sorry nope" -->
      <div ng-hide="offer.noOfferDescription" class="content-empty text-muted">
        <div class="offer-symbol-sofa center-block"></div>
        <h4>Sorry, user is not hosting currently.</h4>
        <p ng-show="!offer.noOfferDescription && user._id === profile._id"><a ng-click="hostingStatus('no')" class="text-muted"><small>Customize</small></a></p>
      </div>

    </div>
    <!-- /Hosting: no -->

  </div>

  <!-- When looking at your own profile -->
  <div leaflet center="center" markers="markers" layers="layers" paths="paths" defaults="defaults" class="offer-location" ng-if="offer && offer.$resolved && offer.status !== 'no'" id="offer-location-canvas"></div>

  <div class="panel-footer text-center" >
    <a ng-show="user._id === profile._id && (offer && offer.status === 'no')" ui-sref="offer" class="btn btn-xs btn-primary">Start hosting travellers</a>
    <a ng-show="offer && offer.status !== 'no'" ui-sref="search({offer: offerId})" class="btn btn-xs btn-link"><span class="text-muted">Bigger map</span></a>
  </div>



</div>
<!-- /Accommodation -->
