<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
  <p>Hey {{name}}!</p>
  <p><a href="{{meURL}}" target="_blank">{{meName}}</a> is asking to connect with you at Trustroots.</p>
  <p><strong>To confirm or discard this connection visit <a href="{{urlConfirm}}" target="_blank">this page</a></strong>.</p>
  {% if message %}
    <br><br>
    {{message}}
  {% endif %}
  <br><br>
  <p>— <a href="{{url}}">Trustroots</a></p>
  <br><br>
  <p><small>If above link doesn't work, you can copypaste this to your browser: {{urlConfirm}} . Remember, I'm just a little mail robot so don't reply this email. <a href="{{url}}/#!/contact">Contact us</a> if you want to talk to a human.</small></p>
</body>

</html>
