{# <!-- This list is appended to header menu for small screens and to footer for bigger screens --> #}
<li ui-sref-active="active"><a ui-sref="home">About</a></li>
<li ui-sref-active="active"><a ui-sref="support">Contact & Support</a></li>
<li ui-sref-active="active"><a ui-sref="faq.general">FAQ</a></li>
<li><a href="https://ideas.trustroots.org/">Blog</a></li>
<li ui-sref-active="active"><a ui-sref="media">Media</a></li>
<li ui-sref-active="active"><a ui-sref="privacy">Privacy</a></li>
<li ui-sref-active="active"><a ui-sref="rules">Rules</a></li>
<li ui-sref-active="active"><a ui-sref="team">Team</a></li>
<li ui-sref-active="active"><a ui-sref="foundation">Foundation</a></li>
<li ui-sref-active="active"><a ui-sref="volunteering">Volunteering</a></li>
