<footer id="tr-footer"
        role="contentinfo"
        class="container hidden-print hidden-xs"
        ng-if="!app.isFooterHidden">
  <div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/Organization">
      <a ui-sref="foundation" itemprop="name">
        Trustroots Foundation
      </a>
      <link itemprop="url" href="https://www.trustroots.org/">
      <link itemprop="logo" href="https://www.trustroots.org/img/logo/color.png">

      <ul class="list-inline text-center">
        <li>
          <a href="https://www.facebook.com/trustroots.org"
             aria-label="Trustroots at Facebook">
            Facebook
          </a>
        </li>
        <li>
          <a href="https://twitter.com/trustroots"
             aria-label="Trustroots at Twitter">
            Twitter
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/trustroots_org/"
             aria-label="Trustroots at Instagram">
            Instagram
          </a>
        </li>
        <li>
          {% if appSettings.commit %}
          <a href="https://github.com/Trustroots/trustroots/tree/{{ appSettings.commit }}"
             uib-tooltip="Currently deployed code at GitHub"
             aria-label="Currently deployed code at GitHub">
          {% else %}
          <a href="https://github.com/Trustroots/trustroots"
             aria-label="Trustroots at GitHub">
          {% endif %}
            GitHub
          </a>
        </li>
      </ul>

      <span ng-if="app.photoCreditsCount"
            tr-board-credits
            aria-hidden="true"></span>

    </div>
  </div>
</footer>
