<header id="tr-header"
        role="banner"
        class="navbar navbar-default navbar-fixed-top hidden-print"
        ng-hide="app.isHeaderHidden">

  <a class="btn btn-default sr-only sr-only-focusable sr-helper" href="#tr-main">
    Skip to main content
  </a>

  <!-- Header for non-authenticated users -->
  <div class="container" ng-if="!app.user">
    <nav class="header-welcome text-center" aria-label="Page navigation" role="navigation">
      <span class="header-welcome-text hidden-xs">New to Trustroots?</span>
      <a ui-sref="signup" class="btn btn-lg btn-default">
        Join
      </a>
      <a ui-sref="signin" class="btn btn-lg btn-inverse">
        Login
      </a>
      <a ui-sref="home"
         class="btn btn-link header-more-text"
         ng-if="!app.isHomePage"
         aria-label="Read more about Trustroots">
        Read more
      </a>
    </nav>
  </div>
  <!-- /Header for non-authenticated users -->

  <!-- Header for authenticated users -->
  <div class="container" ng-if="app.user" role="navigation">

    <div class="navbar-header">
      <a ng-click="app.goHome()"
         class="navbar-brand hidden-xs"
         aria-hidden="true">
        <img class="hidden-xs hidden-sm" src="/img/logo/horizontal-white.svg" alt="Trustroots" width="177" height="31" />
        <img class="hidden-md hidden-lg" src="/img/tree-white.svg" alt="Trustroots" width="31" height="31" />
      </a>
    </div>

    <ul class="nav navbar-nav hidden-xs">
      <li class="hidden-xs dropdown" uib-dropdown>
        <a class="dropdown-toggle cursor-pointer"
           uib-dropdown-toggle
           tabindex="0"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">
          Support
        </a>
        <ul class="dropdown-menu" aria-label="submenu">
          <li ui-sref-active="active">
            <a ui-sref="faq.general" aria-label="Frequently Asked Questions">
              FAQ
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="support">Contact us</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav nav-header-primary">
      <li ng-if="::app.appSettings.invitationsEnabled" ui-sref-active="active">
        <a ui-sref="invite" aria-label="Invite friends">
          <i class="icon-share icon-fw icon-lg visible-xs-block"></i>
          <span class="hidden-xs">Invite Friends</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="tribes.list" aria-label="Tribes">
          <i class="icon-tribes icon-fw icon-lg visible-xs-block"></i>
          <span class="hidden-xs">Tribes</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="search.map" aria-label="Search hosts">
          <i class="icon-search icon-fw icon-lg visible-xs-block"></i>
          <span class="hidden-xs">Search</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="inbox" aria-label="Messages">
          <i class="icon-messages icon-fw icon-lg visible-xs-block"></i>
          <span class="hidden-xs">Messages</span>
          <span messages-unread-count></span>
        </a>
      </li>
      <li ui-sref-active="active" class="hidden-xs">
        <a ui-sref="offer.host.edit" aria-label="Offer to host">
          <span class="hidden-xs">Host</span>
        </a>
      </li>
      <li ui-sref-active="active" class="hidden-xs">
        <a ui-sref="offer.meet.list" aria-label="Offer to meet">
          <span class="hidden-xs">Meet</span>
        </a>
      </li>
      <li class="dropdown dropdown-user hidden-xs" uib-dropdown>
        <a class="dropdown-toggle cursor-pointer"
           role="button"
           uib-dropdown-toggle
           aria-label="My profile"
           tabindex="0"
           aria-haspopup="true">
          <div tr-avatar data-user="app.user" link="false" size="24" role="presentation"></div>
          <span class="visible-xs-inline" aria-hidden="true">
            <i class="icon-user icon-fw icon-lg"></i>
            {% raw %}{{ app.user.displayName }}{% endraw %}
          </span>
          <b class="caret" role="presentation"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-label="submenu">
          <li role="presentation" class="dropdown-header" aria-hidden="true">
            {% raw %}{{ app.user.displayName }}{% endraw %}
          </li>
          <li class="divider" role="presentation"></li>
          <li ui-sref-active="active">
            <a ui-sref="profile.about({username: app.user.username})">
              My profile
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="profile-edit.about">
              Edit profile
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="profile.contacts({ username: app.user.username })">
              Contacts
            </a>
          </li>
          <li role="presentation" class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="profile-edit.account">
              Account
            </a>
          </li>
          <li>
            <a ng-click="app.signout($event)" href="/api/auth/signout" target="_top">
              Sign out
            </a>
          </li>
          <li role="presentation" class="divider"></li>
          <li class="small text-muted dropdown-meta text-center font-brand-regular">
            <ul class="list-inline">
              <li><a class="text-muted" ui-sref="home">About</a></li>
              <li><a class="text-muted" href="https://ideas.trustroots.org/">Blog</a></li>
              <li><a class="text-muted" href="https://shop.trustroots.org/">Shop</a></li>
              <li><a class="text-muted" ui-sref="media">Media</a></li>
              <li><a class="text-muted" ui-sref="foundation" aria-label="Trustroots Foundation">Foundation</a></li>
              <li><a class="text-muted" ui-sref="privacy" aria-label="Privacy Policy">Privacy</a></li>
              <li><a class="text-muted" ui-sref="rules">Rules</a></li>
            </ul>
          </li>
          <li role="presentation" class="divider"></li>
          <li class="small text-muted dropdown-meta text-center font-brand-regular">
            <ul class="list-inline">
              <!-- Social media links -->
              <li>
                <a href="https://www.facebook.com/trustroots.org"
                   class="text-muted"
                   aria-label="Trustroots at Facebook">
                  Facebook
                </a>
              </li>
              <li>
                <a href="https://twitter.com/trustroots"
                   class="text-muted"
                   aria-label="Trustroots at Twitter">
                  Twitter
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/trustroots_org/"
                   class="text-muted"
                   aria-label="Trustroots at Instagram">
                  Instagram
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active" class="visible-xs-block">
        <a ui-sref="navigation" aria-label="My profile, info and support">
          <i class="icon-menu icon-fw icon-lg"></i>
        </a>
      </li>
    </ul>

  </div>
  <!-- /Header for authenticated users -->

</header>
