<header id="tr-header" role="banner" class="navbar navbar-default navbar-fixed-top hidden-print" ng-controller="HeaderController as header" ng-hide="header.isHidden">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="header.toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="app.goHome()" class="navbar-brand">
        <img class="logo-text" src="/modules/core/img/logo/horizontal-white.svg" alt="Trustroots" width="177" height="31" />
        <img class="logo-tree" src="/modules/core/img/tree-white.svg" alt="Trustroots" width="31" height="31" />
        <span class="sr-only">Trustroots</span>
      </a>
    </div>

    <nav class="collapse navbar-collapse" collapse="!header.isCollapsed" role="navigation">

      <ul class="nav navbar-nav" ng-if="app.user">
        <li class="hidden-xs dropdown" dropdown>
          <a class="dropdown-toggle cursor-pointer" dropdown-toggle>
            Help
          </a>
          <ul class="dropdown-menu">
            {% include 'about-links.server.view.html' %}
          </ul>
        </li>
      </ul>

      <!-- Menu for non logged users -->
      <ul class="nav navbar-nav navbar-right" ng-if="!app.user">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle cursor-pointer" dropdown-toggle>
            <i class="icon-lifebuoy icon-fw icon-lg visible-xs-inline-block"></i>
            About
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% include 'about-links.server.view.html' %}
          </ul>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="signup">
            <i class="icon-sign-up icon-fw icon-lg visible-xs-inline-block"></i>
            Sign Up
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-sref-active="active">
          <a ui-sref="signin">
            <i class="icon-sign-in icon-fw icon-lg visible-xs-inline-block"></i>
            Login
          </a>
        </li>
      </ul>
      <!-- /Menu for non logged users -->

      <!-- Menu for logged in users -->
      <ul class="nav navbar-nav navbar-right" ng-if="app.user">
        <li ui-sref-active="active">
          <a ui-sref="search">
            <i class="icon-search icon-fw icon-lg"></i> Map
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="inbox" aria-label="Messages">
            <i class="icon-messages icon-fw icon-lg"></i> <span class="visible-xs-inline">Messages</span>
          </a>
        </li>
        <li class="dropdown dropdown-user" dropdown>
          <a class="dropdown-toggle cursor-pointer" dropdown-toggle aria-label="Me">
            <div tr-avatar data-user="app.user" link="false" size="24" class="hidden-xs"></div>
            <span class="visible-xs-inline">
              <i class="icon-user icon-fw icon-lg"></i>
              {% raw %}{{ app.user.displayName }}{% endraw %}
            </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header hidden-xs">{% raw %}{{ app.user.displayName }}{% endraw %}</li>
            <li role="presentation" class="divider hidden-xs"></li>

            <li ui-sref-active="active">
              <a ui-sref="profile({username: app.user.username})">
                My profile
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="profile-edit({username: app.user.username})">
                Edit profile
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="offer">
                Hosting status
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="profile-settings({username: app.user.username})">
                Account
              </a>
            </li>
            <li class="hidden-xs">
              <a href="/api/auth/signout" target="_top">
                Sign out
              </a>
            </li>
          </ul>
        </li>
        <li class="visible-xs-block">
          <a href="/api/auth/signout" target="_top">
            <i class="icon-sign-out icon-fw icon-lg"></i>
            Sign out
          </a>
        </li>
        <li class="dropdown visible-xs-block" dropdown>
          <a class="dropdown-toggle cursor-pointer" dropdown-toggle>
            <i class="icon-lifebuoy icon-fw icon-lg"></i>
            Help & about
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% include 'about-links.server.view.html' %}
          </ul>
        </li>
      </ul>
      <!-- /Menu for logged in users-->

    </nav>

  </div>
</header>
