<section class="container container-fullscreen container-error board board-forestpath">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" role="alert">
      <h2><em>Don't panic</em></h2>
      <h1>This page cannot be found</h1>
      <br><br>
      <a ui-sref="home" class="btn btn-inverse btn-md"><strong>Continue...</strong></a> <a ui-sref="contact" class="btn btn-inverse btn-md">Contact us</a>
      <br><br>

      <div style="width:300px;height:300px;background:#eee;" ng-include="dontexist.html"></div>
      <br>
      <small>Photo by <a href="https://www.flickr.com/photos/54459164@N00/15506455245" class="text-muted">Johnson</a> <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" class="text-muted"><i class="icon-cc icon-lg"></i></a></small>
    </div>
  </div>
</div>
