<!-- This list is appended to header menu for small screens and to footer for bigger screens -->
<li ui-sref-active="active"><a ui-sref="about">About</a></li>
<li ui-sref-active="active"><a ui-sref="faq">FAQ</a></li>
<li><a href="http://ideas.trustroots.org/">Blog</a></li>
<li ui-sref-active="active"><a ui-sref="media">Media</a></li>
<li ui-sref-active="active"><a ui-sref="privacy">Privacy</a></li>
<li ui-sref-active="active"><a ui-sref="rules">Rules</a></li>
<li ui-sref-active="active"><a ui-sref="team">Team</a></li>
<li><a href="https://github.com/Trustroots/trustroots/wiki/Volunteering">Volunteering</a></li>
<li ui-sref-active="active"><a ui-sref="contact">Contact & support</a></li>
