<section class="container board text-center" tr-boards="'bokeh'">
  <div class="row">
    <div class="col-xs-12">
      <img
        class="hidden-xs"
        src="/img/logo/color.svg"
        alt="Trustroots"
        width="140"
        height="140"
      />
      <br /><br /><br />
      <h2>Trustroots Statistics</h2>
      <br /><br /><br />
    </div>

    <div
      class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 stats"
    >
      <div
        ng-if="!stats.statisticsData.$resolved"
        role="alertdialog"
        aria-busy="true"
        aria-live="assertive"
        class="content-wait"
      >
        <small>Wait a moment...</small>
      </div>

      <section ng-if="stats.statisticsData.$resolved">
        <div class="row">
          <div class="col-sm-6">
            <!-- Total members -->
            <div class="panel panel-default panel-glass">
              <div class="panel-heading">
                <h3 class="panel-title">Members</h3>
              </div>
              <div class="panel-body">
                <span
                  class="stats-count stats-count-lg"
                  ng-bind="stats.total | number"
                ></span>
              </div>
            </div>

            <!-- Networks -->
            <div class="panel panel-default panel-glass">
              <div class="panel-heading">
                <h3 class="panel-title">Connected to networks</h3>
              </div>
              <div class="panel-body">
                <ul class="list-unstyled text-muted text-capitalize">
                  <li
                    ng-repeat="connection in stats.connections | orderBy:'-count'"
                  >
                    <h5
                      uib-tooltip="{{connection.count | number}} members"
                      tooltip-placement="right"
                    >
                      {{ connection.network }} {{
                      ((connection.count/stats.total)*100) | number:1 }}%
                    </h5>
                  </li>
                </ul>
                <p ng-if="app.user">
                  <a ui-sref="profile-edit.about" class="btn btn-sm btn-default"
                    >Extend your profile</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!-- Hosts -->
            <div class="panel panel-default panel-glass">
              <div class="panel-heading">
                <h3 class="panel-title">Hosts</h3>
              </div>
              <div class="panel-body">
                <span
                  class="stats-count"
                  uib-tooltip="{{ stats.hostingTotal | number }} members"
                  tooltip-placement="bottom"
                  >{{ stats.hostingPercentage | number:1 }}%</span
                ><br />
                <h5 class="text-muted">
                  <span
                    uib-tooltip="{{ stats.hosting.yes | number }} members"
                    tooltip-placement="bottom"
                    >{{ stats.hostingYesPercentage | number:1 }}% yes</span
                  >
                  —
                  <span
                    uib-tooltip="{{ stats.hosting.maybe | number }} members"
                    tooltip-placement="bottom"
                    >{{ stats.hostingMaybePercentage | number:1 }}% maybe</span
                  >
                </h5>
              </div>
            </div>

            <!-- Newsletter -->
            <div class="panel panel-default panel-glass">
              <div class="panel-heading">
                <h3 class="panel-title">Newsletter</h3>
              </div>
              <div class="panel-body">
                <span class="stats-count"
                  >{{ stats.newsletterPercentage | number:1 }}%</span
                ><br />
                <h5 class="text-muted text-uppercase">
                  {{ stats.newsletter | number }} subscribers
                </h5>
                <p ng-if="app.user">
                  <a
                    ui-sref="profile-edit.account"
                    class="btn btn-sm btn-default"
                    >Subscribe to newsletter</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Member growth</h3>
          </div>
          <div class="panel-body">
            <a href="https://grafana.trustroots.org/d/000000002/members">
              <img
                class="img-responsive"
                src="https://grafana.trustroots.org/render/d-solo/000000002/members?orgId=1&theme=light&panelId=1&width=800&height=400&tz=UTC"
                width="100%"
                alt="Trustroots member growth"
              />
            </a>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Member retention</h3>
          </div>
          <div class="panel-body">
            <a
              href="https://grafana.trustroots.org/d/UCqv_IYiz/member-retention"
            >
              <img
                class="img-responsive"
                src="https://grafana.trustroots.org/render/d-solo/UCqv_IYiz/member-retention?orgId=1&theme=light&panelId=4&width=800&height=400&tz=UTC"
                width="100%"
                alt="Trustroots member retention"
              />
            </a>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How often members get replies?</h3>
          </div>
          <div class="panel-body">
            <a
              href="https://grafana.trustroots.org/d/000000004/messages-detailed"
            >
              <img
                class="img-responsive"
                src="https://grafana.trustroots.org/render/d-solo/000000004/messages-detailed?orgId=1&theme=light&panelId=4&width=800&height=400&tz=UTC"
                width="100%"
                alt="Trustroots weekly messages"
              />
            </a>
          </div>
        </div>

        <hr />

        <p class="lead">
          Enabling the latent trust between humans since
          <time
            class="lead"
            ng-bind="stats.launchDate | date:mediumDate"
          ></time>
        </p>

        <p class="lead">
          Check <a href="https://grafana.trustroots.org/">our Grafana</a> for
          stats galore.
        </p>

        <p class="lead">
          Wanna help get better numbers? Consider
          <a ui-sref="volunteering">volunteering</a>!
        </p>
      </section>

      <p>
        <br />
        <a
          ng-if="!app.user"
          ui-sref="signup"
          class="btn btn-lg btn-action btn-inverse"
          >Join Trustroots</a
        >
      </p>
    </div>
  </div>
  <!-- .row-->
</section>
<!-- .container -->
