
.icon-messages:before { content: '\e800'; } /* '' */
.icon-exchange:before { content: '\e801'; } /* '' */
.icon-refresh:before { content: '\e802'; } /* '' */
.icon-bolt:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-link-ext:before { content: '\e806'; } /* '' */
.icon-sign-up:before { content: '\e807'; } /* '' */
.icon-lifebuoy:before { content: '\e808'; } /* '' */
.icon-sign-in:before { content: '\e809'; } /* '' */
.icon-heart-alt:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-edit:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e80f'; } /* '' */
.icon-google:before { content: '\e810'; } /* '' */
.icon-sign-out:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-building:before { content: '\e814'; } /* '' */
.icon-plus-squared-alt:before { content: '\e815'; } /* '' */
.icon-minus-squared-alt:before { content: '\e816'; } /* '' */
.icon-message-alt:before { content: '\e817'; } /* '' */
.icon-picture-change:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-reply:before { content: '\e81a'; } /* '' */
.icon-send:before { content: '\e81b'; } /* '' */
.icon-invalid:before { content: '\e81c'; } /* '' */
.icon-right:before { content: '\e81d'; } /* '' */
.icon-left:before { content: '\e81e'; } /* '' */
.icon-help:before { content: '\e81f'; } /* '' */
.icon-user:before { content: '\e820'; } /* '' */
.icon-users:before { content: '\e821'; } /* '' */
.icon-messages-alt:before { content: '\e822'; } /* '' */
.icon-tree:before { content: '\e823'; } /* '' */
.icon-bold:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-italic:before { content: '\e826'; } /* '' */
.icon-underline:before { content: '\e827'; } /* '' */
.icon-list:before { content: '\e828'; } /* '' */
.icon-link:before { content: '\e829'; } /* '' */
.icon-quote:before { content: '\e82a'; } /* '' */
.icon-close:before { content: '\e82b'; } /* '' */
.icon-down:before { content: '\e82c'; } /* '' */
.icon-eye:before { content: '\e82e'; } /* '' */
.icon-eye-off:before { content: '\e82f'; } /* '' */