@font-face {
  font-family: 'tricons';
  src: url('../font/tricons.eot?53632891');
  src: url('../font/tricons.eot?53632891#iefix') format('embedded-opentype'),
    url('../font/tricons.woff2?53632891') format('woff2'),
    url('../font/tricons.woff?53632891') format('woff'),
    url('../font/tricons.ttf?53632891') format('truetype'),
    url('../font/tricons.svg?53632891#tricons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tricons';
    src: url('../font/tricons.svg?53632891#tricons') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'tricons';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-tree:before {
  content: '\e800';
} /* '' */
.icon-eye:before {
  content: '\e801';
} /* '' */
.icon-eye-off:before {
  content: '\e802';
} /* '' */
.icon-search:before {
  content: '\e803';
} /* '' */
.icon-heart:before {
  content: '\e804';
} /* '' */
.icon-heart-alt:before {
  content: '\e805';
} /* '' */
.icon-ok:before {
  content: '\e806';
} /* '' */
.icon-close:before {
  content: '\e807';
} /* '' */
.icon-plus-squared-alt:before {
  content: '\e808';
} /* '' */
.icon-minus-squared-alt:before {
  content: '\e809';
} /* '' */
.icon-link-ext:before {
  content: '\e80a';
} /* '' */
.icon-reply:before {
  content: '\e80b';
} /* '' */
.icon-edit:before {
  content: '\e80c';
} /* '' */
.icon-messages:before {
  content: '\e80d';
} /* '' */
.icon-message-alt:before {
  content: '\e80e';
} /* '' */
.icon-messages-alt:before {
  content: '\e80f';
} /* '' */
.icon-calendar:before {
  content: '\e810';
} /* '' */
.icon-sign-in:before {
  content: '\e811';
} /* '' */
.icon-sign-out:before {
  content: '\e812';
} /* '' */
.icon-sign-up:before {
  content: '\e813';
} /* '' */
.icon-left:before {
  content: '\e814';
} /* '' */
.icon-right:before {
  content: '\e815';
} /* '' */
.icon-down:before {
  content: '\e816';
} /* '' */
.icon-refresh:before {
  content: '\e817';
} /* '' */
.icon-exchange:before {
  content: '\e818';
} /* '' */
.icon-bolt:before {
  content: '\e819';
} /* '' */
.icon-send:before {
  content: '\e81a';
} /* '' */
.icon-bold:before {
  content: '\e81b';
} /* '' */
.icon-italic:before {
  content: '\e81c';
} /* '' */
.icon-list:before {
  content: '\e81d';
} /* '' */
.icon-underline:before {
  content: '\e81e';
} /* '' */
.icon-building:before {
  content: '\e81f';
} /* '' */
.icon-camera:before {
  content: '\e820';
} /* '' */
.icon-facebook:before {
  content: '\e821';
} /* '' */
.icon-github:before {
  content: '\e822';
} /* '' */
.icon-globe:before {
  content: '\e823';
} /* '' */
.icon-linkedin:before {
  content: '\e824';
} /* '' */
.icon-twitter:before {
  content: '\e825';
} /* '' */
.icon-user:before {
  content: '\e826';
} /* '' */
.icon-users:before {
  content: '\e827';
} /* '' */
.icon-picture-change:before {
  content: '\e828';
} /* '' */
.icon-help:before {
  content: '\e829';
} /* '' */
.icon-home:before {
  content: '\e82a';
} /* '' */
.icon-link:before {
  content: '\e82b';
} /* '' */
.icon-quote:before {
  content: '\e82c';
} /* '' */
.icon-info:before {
  content: '\e82d';
} /* '' */
.icon-invalid:before {
  content: '\e82e';
} /* '' */
.icon-plus:before {
  content: '\e82f';
} /* '' */
.icon-cog:before {
  content: '\e830';
} /* '' */
.icon-tribes:before {
  content: '\e831';
} /* '' */
.icon-menu:before {
  content: '\e832';
} /* '' */
.icon-share:before {
  content: '\e833';
} /* '' */
.icon-minus:before {
  content: '\e834';
} /* '' */
.icon-sofa:before {
  content: '\e835';
} /* '' */
.icon-warmshowers:before {
  content: '\e836';
} /* '' */
.icon-android:before {
  content: '\e837';
} /* '' */
.icon-instagram:before {
  content: '\f16d';
} /* '' */
.icon-apple:before {
  content: '\f179';
} /* '' */
.icon-sliders:before {
  content: '\f1de';
} /* '' */
.icon-map:before {
  content: '\f279';
} /* '' */
