/**
 * Flat less theme for Medium-editor
 * Converted into LESS from public/lib/medium-editor/src/sass/themes/flat.scss
 *
 */

@medium_editor_bgcolor:       @brand-primary;
@medium_editor_border_color:  #fff;
@medium_editor_button_size:   60px;
@medium_editor_link_color:    #fff;

.medium-toolbar-arrow-under:after {
    top: @medium_editor_button_size;
    border-color: @medium_editor_bgcolor transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    top: -8px;
    border-color: transparent transparent @medium_editor_bgcolor transparent;
}

.medium-editor-toolbar {
    background-color: @medium_editor_bgcolor;

    li {
        padding: 0;

        button {
            min-width: @medium_editor_button_size;
            height: @medium_editor_button_size;
            border: none;
            border-right: 1px solid lighten(@medium_editor_bgcolor, 5%);
            background-color: transparent;
            color: @medium_editor_link_color;
            .transition('background-color .2s ease-in, color .2s ease-in');
            &:hover {
                background-color: darken(@medium_editor_bgcolor, 15%);
                color: #fff;
            }
        }

        .medium-editor-button-active {
            background-color: darken(@medium_editor_bgcolor, 25%);
            color: #fff;
        }

        .medium-editor-button-last {
            border-right: none;
        }
    }
}

.medium-editor-toolbar-form-anchor {
    input {
        height: @medium_editor_button_size;
        background: @medium_editor_bgcolor;
        color: @medium_editor_link_color;

        &::-webkit-input-placeholder {
           color: @medium_editor_link_color;
           color: rgba(red(@medium_editor_link_color), green(@medium_editor_link_color), blue(@medium_editor_link_color), .8);
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: @medium_editor_link_color;
           color: rgba(red(@medium_editor_link_color), green(@medium_editor_link_color), blue(@medium_editor_link_color), .8);
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: @medium_editor_link_color;
           color: rgba(red(@medium_editor_link_color), green(@medium_editor_link_color), blue(@medium_editor_link_color), .8);
        }

        &:-ms-input-placeholder {
           color: @medium_editor_link_color;
           color: rgba(red(@medium_editor_link_color), green(@medium_editor_link_color), blue(@medium_editor_link_color), .8);
        }
    }

    a {
        color: @medium_editor_link_color;
    }
}

.medium-editor-toolbar-anchor-preview {
    background: @medium_editor_bgcolor;
    color: @medium_editor_link_color;
}

.medium-editor-placeholder:after {
    color: @medium_editor_border_color;
}
