{#
 # Message macro, usage:
 #
 ### {% include 'partials/message.server.view.html' with {'message': 'Lorem ipsum dolor sit amet!'} %}
 #
 # Read more about import/macros:
 # https://mozilla.github.io/nunjucks/templating.html#import
 #
 # Based on:
 # @link https://raw.githubusercontent.com/TomFrankly/mailchimp-responsive-template/master/Responsive%20Basic%20Chopped%20and%20Screwed.html
 # License: @link http://creativecommons.org/licenses/by-sa/3.0/
 #}

{% macro messagePreview(content) %}
{% if content %}
  <!-- MODULE ROW // -->
  <tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell bottomShim">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
                                    <tr>
                                        <td align="center" valign="top" class="nestedContainerCell">

                                              <!-- CONTENT TABLE // -->
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                      <td valign="top" class="textContent">

                                                          {{ content | safe }}

                                                      </td>
                                                  </tr>
                                              </table>
                                              <!-- // CONTENT TABLE -->

                                          </td>
                                      </tr>
                                  </table>
                              </td>
                          </tr>
                      </table>
                      <!-- // FLEXIBLE CONTAINER -->
                  </td>
              </tr>
          </table>
          <!-- // CENTERING TABLE -->
      </td>
  </tr>
  <!-- // MODULE ROW -->
{% endif %}
{% endmacro %}
