/**
 * Frontpage styles
 */
.home {
  text-align: center;
  .logo {
    margin: 100px auto 30px auto;
  }
  .home-intro {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
    .home-btw {
      padding: 0;
      margin: 0;
      &, a {
        font-size: @font-size-base;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
      }
      a:hover {
        color: #fff;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
    h3 {
      color: #fff;
      font-size: 20px;
      font-style: italic;
      line-height: 35px;
      margin: 30px 0;
      padding: 0;
    }
  }
  .btn-group {
    .box-shadow(0 0 8px rgba(0,0,0,0.3));
  }
  .btn-home-readmore,
  .btn-home-login,
  .btn-home-signup {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-family: @font-family-brand;
    font-weight: normal;
    border: 0;
    .transition(all 0.2s);
  }
  .btn-home-login {
    background-color: @brand-primary;
    &:hover {
      background-color: lighten(@brand-primary, 3%);
      border: 0;
    }
  }
  .btn-home-signup {
    background-color: @brand-secondary;
    &:hover {
      background-color: lighten(@brand-secondary, 3%);
      border: 0;
    }
  }
  .btn-home-readmore {
    background-color: #e79800;
    &:hover {
      background-color: lighten(#e79800, 3%);
      border: 0;
    }
  }
  @media (max-width: @screen-xs-max) {
    margin-top: @padding-large-horizontal;
    .logo {
      margin-top: 0;
    }
    .btn-group .btn {
      width: 100%;
    }
  }
}
