/**
 * Trustroots Open Sans font
 *
 * Don't host this via Google: https://m.signalvnoise.com/control-your-type-google-fonts-chrome-trouble-c21e1a106436#.hpkj6qc04
 *
 * @link http://www.google.com/fonts/specimen/Open+Sans
 * @link http://www.apache.org/licenses/LICENSE-2.0.html
 */

@font-face {
    font-family: 'open_sans-light';
    src: url('/modules/core/fonts/opensans-light-webfont.eot');
    src: url('/modules/core/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/modules/core/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/modules/core/fonts/opensans-light-webfont.woff') format('woff'),
         url('/modules/core/fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans-regular';
    src: url('/modules/core/fonts/opensans-regular-webfont.eot');
    src: url('/modules/core/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/modules/core/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/modules/core/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/modules/core/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans-semibold';
    src: url('/modules/core/fonts/opensans-semibold-webfont.eot');
    src: url('/modules/core/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/modules/core/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/modules/core/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/modules/core/fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
