/**
 * Header
 */
#tr-header {
  width: 100%;
  height: @navbar-height;
  clear: both;
  font-family: @font-family-brand;
  font-weight: 400;
  font-style: normal;
  color: @navbar-default-color;
  .navbar {
    .box-shadow(0 0 8px rgba(0,0,0,0.1));
  }
  .navbar-brand {
    padding-top: 6px;
  }
  .nav {
    a {
      text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
    .dropdown-menu {
      a {
        text-shadow: none;
      }
    }
  }

  /* Bootstrap dropdowns */
  @media (min-width: @grid-float-breakpoint) {

    /* Make Bootstrap dropdowns open at hover */
    .dropdown:hover .dropdown-menu {
      display: block;
    }

    /* Make sure avatar works as a dropdown handle */
    .dropdown-user {
      .dropdown-toggle {
        width: 73px;
        .avatar {
          float: left;
          margin-right: 8px;
        }
      }
    }

  }

  /* Mobile navbar */
  .navbar-collapse {
    background: @brand-primary;
  }

  /* Header breaks due the logo width => Show only the "tree" version for very narrow screens. */
  .logo-tree {
    display: none;
  }
  @media (max-width: 280px) {
    .logo-text {
      display: none;
    }
    .logo-tree {
      display: block;
    }
  }

}

/* Welcome-header for non-authenticated users */
.header-welcome {
  text-align: center;
  padding: 5px 0 0 0;
  .header-welcome-text {
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-family: @font-family-brand;
  }
  .header-welcome-text,
  .btn {
    margin: 0 10px;
  }
  // Text is visible only for bigger screen sizes
  @media (max-width: 490px) {
    .header-welcome-text,
    .header-welcome-divider {
      display: none;
    }
    .btn {
      margin: 0 5px;
    }
  }
}
