/**
 * TrustRoots core typography styles
 */

::selection {
  background: @text-highlight;
  color: @text-highlight-color;
}

 h1, h2, h3, h4 {
   font-family: @font-family-brand;
   font-weight: 400;
   font-style: normal;
 }

blockquote {
  font-size: @font-size-base;
}

 .undecorated-link:hover {
   text-decoration: none;
 }
 .text-color-links {
   a {
     color: @text-color;
     text-decoration: none;
     &:hover {
       text-decoration: underline;
     }
   }
 }

/**
 * Hosting status colors
 */
.hosting-yes {
  color: @hosting-yes;
}
.hosting-maybe {
  color: @hosting-maybe;
}
.hosting-no {
  color: @hosting-no;
}
.hosting-traveling {
  color: @hosting-traveling;
}
