<section
  class="container container-spacer board container-fullscreen"
  tr-boards="'bokeh'"
>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img
        class="hidden-xs"
        src="/img/tree-color.svg"
        alt="Trustroots"
        width="120"
        height="120"
        aria-hidden="true"
      />
      <img
        class="visible-xs-inline-block"
        src="/img/tree-color.svg"
        alt="Trustroots"
        width="80"
        height="80"
        aria-hidden="true"
      />
    </div>
  </div>
  <div class="row">
    <h3 class="col-xs-12 text-center">Restore your password</h3>
    <div
      class="
        col-xs-offset-1
        col-xs-10
        col-sm-offset-4
        col-sm-4
        col-md-offset-5
        col-md-2
      "
    >
      <br />
      <form
        name="resetForm"
        ng-submit="forgotPassword.askForPasswordReset()"
        class="form-auth form-horizontal"
        autocomplete="off"
      >
        <fieldset>
          <div class="form-group text-center">
            <label for="username">Email or username</label>
            <input
              type="text"
              required
              id="username"
              name="username"
              class="form-control input-lg"
              ng-model="forgotPassword.credentials.username"
              ng-disabled="forgotPassword.isLoading"
            />
          </div>
          <div class="text-center form-group">
            <button
              type="submit"
              class="btn btn-lg btn-default"
              ng-disabled="forgotPassword.isLoading || resetForm.$invalid"
            >
              <span ng-if="!forgotPassword.isLoading">Restore</span>
              <span ng-if="forgotPassword.isLoading">Wait...</span>
            </button>
          </div>
          <div
            ng-if="forgotPassword.error"
            class="text-center alert alert-danger"
            role="alert"
          >
            <strong ng-bind="forgotPassword.error"></strong>
          </div>
          <div
            ng-if="forgotPassword.success"
            class="text-center alert alert-success"
            role="alert"
          >
            <p>
              <strong>We sent you an email with further instructions.</strong>
            </p>
            <p>
              If you don't see this email in your inbox within 15 minutes, look
              for it in your junk mail folder. If you find it there, please mark
              it as "Not Junk".
            </p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
