<section
  class="container container-spacer board container-fullscreen"
  tr-boards="'bokeh'"
>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img
        class="hidden-xs"
        src="/placeholder.png"
        alt="Trustroots"
        width="120"
        height="120"
        aria-hidden="true"
      />
      <img
        class="visible-xs-inline-block"
        src="/placeholder.png"
        alt="Trustroots"
        width="80"
        height="80"
        aria-hidden="true"
      />
    </div>
  </div>
  <div class="row">
    <div class="text-center col-xs-12">
      <br /><br />
      <i class="icon-4x icon-ok"></i><br />
      <h3>Password successfully reset</h3>
      <p><a ng-click="app.goHome()">Continue</a></p>
    </div>
  </div>
</section>
