<section class="container container-spacer board board-bokehblue container-fullscreen">
  <div class="row">
    <div class="col-xs-12">
      <a ui-sref="home" class="logo logo-sm logo-blue center-block hidden-xs"></a>
      <a ui-sref="home" class="logo-horizontal logo-horizontal-blue center-block visible-xs-block"></a>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-xs-12">
      <br><br>
      <i class="icon-4x icon-ok"></i><br>
      <h3>Password successfully reset</h3>
      <br>
      <a ui-sref="home">Continue</a>
    </div>
  </div>
</section>
