@import '~less/global-variables';
@import '~bootstrap/less/mixins/size';

.leaflet-marker-icon:not(.no-anim),
.leaflet-marker-shadow:not(.no-anim),
.leaflet-markercluster-icon:not(.no-anim) {
  transition: @map-zoom-transition;
}
.leaflet-zoom-anim {
  .leaflet-zoom-animated {
    .leaflet-marker-icon:not(.no-anim),
    .leaflet-marker-shadow:not(.no-anim),
    .leaflet-markercluster-icon:not(.no-anim) {
      transition: @map-zoom-transition;
    }
  }
}

// Clustering markers
// https://github.com/SINTEF-9012/PruneCluster
.prunecluster {
  .square(38px);
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 50%;
  background-clip: padding-box;
  transition: all 0.1s linear;
  background-color: rgba(
    red(lighten(@prunecluster-color, @prunecluster-border-contrast)),
    green(lighten(@prunecluster-color, @prunecluster-border-contrast)),
    blue(lighten(@prunecluster-color, @prunecluster-border-contrast)),
    @prunecluster-transparency
  );
  div {
    .square(30px);
    line-height: 30px;
    margin-left: 4px;
    margin-top: 4px;
    text-align: center;
    font-family: @font-family-base;
    color: @gray;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(
      red(@prunecluster-color),
      green(@prunecluster-color),
      blue(@prunecluster-color),
      @prunecluster-transparency
    );
  }
  &.prunecluster-medium {
    div {
      .square(32px);
      line-height: 32px;
    }
  }
  &.prunecluster-large {
    div {
      .square(36px);
      line-height: 36px;
    }
  }
}
.prunecluster div span {
  line-height: 30px;
}
