@import '~less/global-variables';
@import './variables';

/*
 * Search/map view
 * Try to keep this "mobile first"
 */

// Active area where Leaflet centers etc
// @link https://github.com/Mappy/Leaflet-active-area
/*
.search-map-active-area {
  pointer-events: none;
  position: fixed;
  top: @navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
}
*/

/*
.search.is-sidebar-open .search-map-active-area {
  left: @search-sidebar-percentage-width;
  @media (max-width: @search-sidebar-min-breakpoint) {
    left: @search-sidebar-min-width;
  }
  @media (min-width: @search-sidebar-max-breakpoint) {
    left: @search-sidebar-max-width;
  }
}
*/

/*
.search-map-container {
  &.is-sidebar-open {
    .leaflet-left {
      left: @search-sidebar-percentage-width;
      @media (max-width: @search-sidebar-min-breakpoint) {
        left: @search-sidebar-min-width;
      }
      @media (min-width: @search-sidebar-max-breakpoint) {
        left: @search-sidebar-max-width;
      }
    }
  }
  .leaflet-container {
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 0;
    position: fixed;
    top: @navbar-height;
    bottom: 0;

    .leaflet-control-zoom {
      @media (max-width: @screen-xs-max) and (min-height: 400px) {
        margin-bottom: 60%;
      }
    }
  }

  // Push map down a bit when sitewide announcements are visible.
  // See `modules/core/client/less/layout/site-announcement.less` for more.
  body.is-site-announcement-visible {
    .search-map-active-area,
    .leaflet-container {
      top: @navbar-height + @site-announcement-height;
    }
  }
}
*/
