.search-map-signup {
  // Positioning this mostly because of blur filter,
  // creates a nice litte inset shadow around the map
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  .angular-leaflet-map {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  .search-overlay-message p {
    line-height: 40px;
  }
}
