<div class="row" role="alertdialog" aria-labelledby="activate-profile-message">
  <div class="col-xs-12 text-center" role="document" tabindex="0">
    <h2>Don't panic!</h2>
    <p class="lead" id="activate-profile-message">
      <em
        >Sorry, you need to first activate your profile by confirming your
        email.</em
      >
    </p>
    <p>
      If you didn't receive the message, check your spam folder or resend it via
      <a ui-sref="profile-edit.account">email settings</a>.
    </p>
    <p>
      <br />
      <small
        ><a
          class="btn btn-xs btn-link text-muted"
          ui-sref="support"
          aria-label="Support"
          >Help!</a
        ></small
      >
    </p>
  </div>
</div>
