<!-- Top Navigation for small screens -->
<top-navigation-small
  ng-if="profileCtrl.contact.$resolved"
  username="profileCtrl.profile.username"
  selfId="app.user._id"
  userId="profileCtrl.profile._id"
  contact="profileCtrl.contact"
  referencesEnabled="app.appSettings.referencesEnabled"
  isResolved="true"
  onContactRemoved="profileCtrl.removeContact"
></top-navigation-small>
<!-- a hack for isResolved to contain a correct value -->
<!-- @TODO this should be removed as migration to React continues -->
<top-navigation-small
  ng-if="!profileCtrl.contact.$resolved"
  username="profileCtrl.profile.username"
  selfId="app.user._id"
  userId="profileCtrl.profile._id"
  contact="profileCtrl.contact"
  referencesEnabled="app.appSettings.referencesEnabled"
  isResolved="false"
  onContactRemoved="profileCtrl.removeContact"
></top-navigation-small>

<!-- Bottom Navigation for small screens -->
<!-- react component -->
<bottom-navigation-small
  ng-if="profileCtrl.contacts.$resolved"
  username="profileCtrl.profile.username"
  isSelf="profileCtrl.profile._id === app.user._id"
  contactCount="profileCtrl.contacts.length"
></bottom-navigation-small>
<!--
this is just a hack because binding of contactCount doesn't work properly
this is a fallback when the contacts are loading
@TODO this should be removed when a profile is fully migrated to react
-->
<bottom-navigation-small
  ng-if="!profileCtrl.contacts.$resolved"
  username="profileCtrl.profile.username"
  isSelf="profileCtrl.profile._id === app.user._id"
  contactCount="0"
></bottom-navigation-small>

<section class="container container-spacer profile-view">
  <blocked-member-banner
    username="profileCtrl.profile.username"
    ng-if="app.user.blocked.includes(profileCtrl.profile._id)"
  ></blocked-member-banner>

  <!-- Loading -->
  <div
    class="row content-wait"
    role="alertdialog"
    aria-busy="true"
    aria-live="assertive"
    ng-if="profileCtrl.profile && !profileCtrl.profile.$resolved"
  >
    <small>Wait a moment…</small>
  </div>

  <!-- Couldn't find profile... -->
  <user-does-not-exist
    ng-if="!profileCtrl.profile.username && profileCtrl.profile.$resolved && app.user.public !== false"
  ></user-does-not-exist>

  <!-- Own profile is non-public -->
  <confirm-email-notification
    ng-if="app.user.username === profileCtrl.profile.username && profileCtrl.profile.$resolved && app.user.public === false"
  ></confirm-email-notification>

  <!-- Profile -->
  <div ng-if="profileCtrl.profile.username && profileCtrl.profile.$resolved">
    <!-- Confirm contact -->
    <div
      class="row"
      aria-role="alertdialog"
      aria-labeledby="confirmContactDialogLabel"
      ng-if="profileCtrl.contact.$resolved && profileCtrl.contact._id && !profileCtrl.contact.confirmed && profileCtrl.contact.userTo._id === app.user._id"
    >
      <div class="col-xs-12 text-center">
        <ul class="list-inline">
          <li id="confirmContactDialogLabel">
            <strong ng-bind="::profileCtrl.profile.displayName"></strong>
            sent you a contact request
          </li>
          <li>
            <a
              class="btn btn-sm btn-primary"
              ui-sref="contactConfirm({contactId: profileCtrl.contact._id})"
            >
              Confirm Request
            </a>
          </li>
          <li>
            <a
              class="btn btn-sm btn-danger"
              tr-contact-remove="profileCtrl.contact"
            >
              Decline Request
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>

    <div class="row">
      <div
        class="col-sm-3 hidden-xs"
        ng-include="~modules/users/client/views/profile/profile-view-basics.client.view.html"
      ></div>

      <div class="col-sm-9">
        <div class="row hidden-xs">
          <div class="col-xs-12">
            <h2
              class="profile-name"
              ng-if="profileCtrl.profile.displayName"
              ng-bind="profileCtrl.profile.displayName"
            ></h2>

            <h4
              class="text-muted profile-username"
              ng-if="profileCtrl.profile.username"
            >
              @{{ profileCtrl.profile.username }}
            </h4>

            <a
              ui-sref="profile-edit.about"
              class="btn btn-primary pull-right"
              ng-if="app.user._id === profileCtrl.profile._id"
            >
              Edit your profile
            </a>

            <div
              class="profile-tagline"
              ng-if="profileCtrl.profile.tagline"
              ng-bind="profileCtrl.profile.tagline"
            ></div>
          </div>
        </div>

        <!-- Profile actions -->
        <div class="row hidden-xs">
          <!-- When looking at somebody else's profile -->
          <div
            class="col-xs-12"
            ng-if="app.user._id !== profileCtrl.profile._id"
          >
            <ul class="nav nav-pills nav-narrow" role="navigation">
              <li>
                <a
                  ui-sref="messageThread({username: profileCtrl.profile.username})"
                  class="btn btn-link"
                >
                  <i class="fa icon-message-alt"></i>
                  Send a message
                </a>
              </li>
              <li ng-if="app.appSettings.referencesEnabled">
                <a
                  ui-sref="profile.experiences.new({username: profileCtrl.profile.username})"
                >
                  <i class="icon-plus-squared-alt"></i>
                  Share your experience
                </a>
              </li>
              <li>
                <a
                  class="btn btn-link"
                  ui-sref="contactAdd({userId: profileCtrl.profile._id})"
                  ng-if="profileCtrl.contact.$resolved && !profileCtrl.contact._id"
                >
                  <i class="icon-plus-squared-alt"></i>
                  Add contact
                </a>
                <a
                  class="btn btn-link"
                  ng-if="profileCtrl.contact.$resolved && profileCtrl.contact._id"
                  tr-contact-remove="profileCtrl.contact"
                >
                  <i class="icon-minus-squared-alt"></i>
                  <span
                    ng-if="profileCtrl.contact.confirmed"
                    uib-tooltip="Contacts since {{ ::profileCtrl.contact.created | date:'mediumDate' }}"
                    tooltip-placement="bottom"
                  >
                    Remove contact
                  </span>
                  <span
                    ng-if="!profileCtrl.contact.confirmed"
                    uib-tooltip="Request sent {{ ::profileCtrl.contact.created | date:'mediumDate' }}"
                    tooltip-placement="bottom"
                  >
                    Delete contact request
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Profile content tabs -->
        <div class="row">
          <div class="col-xs-12">
            <profile-tabs
              contacts-count="profileCtrl.contacts.length || 0"
              initial-path-name="profileCtrl.initialPathName"
              is-experiences-enabled="app.appSettings.referencesEnabled"
              is-own-profile="profileCtrl.profile._id === app.user._id"
              user-id="profileCtrl.profile._id"
              username="profileCtrl.profile.username"
            ></profile-tabs>
            <div ui-view></div>
          </div>
        </div>
        <!-- /Profile tabs -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /Profile -->
</section>
<!-- /.container -->
