<div>
  <ul class="tribes-list" ng-if="tribes && tribes.length">
    <li class="tribe" ng-repeat="tribe in ::tribes track by tribe._id" tr-tribe-join>
      <div class="tribe-image"
           tr-tribe-styles="{{::tribe}}"
           tr-tribe-styles-dimensions="120x120"
           tr-tribe-styles-quality="lightest">
        <span ng-if="::!tribe.image_UUID" ng-bind="::tribe.label.charAt(0)"></span>
      </div>
      <div class="tribe-info">
        <a class="tribe-link" ng-click="tribeJoinDirective.openTribe()" ng-bind="::tribe.label"></a><br>
        <small class="text-muted">
          <ng-pluralize
            count="tribe.count"
            when="{
              '0': 'No members yet',
              '1': 'One member',
              'other': '{{tribe.count|number}} members'
            }"></ng-pluralize>
        </small>
      </div>
      <div class="tribe-actions">
        <button class="btn btn-xs btn-primary" tr-tribe-join-button></button>
      </div>
    </li>
  </ul>

  <div class="text-center" ng-if="app.user._id === user._id">
    <div class="content-empty" ng-if="tribes && tribes.length === 0">
      <div class="icon-tribes icon-3x text-muted"></div>
      <p><em>Joining Tribes helps you find likeminded Trustroots members.</em></p>
      <br><br>
      <a ui-sref="tribes.list" class="btn btn-primary">Join Tribes</a>
    </div>
    <div ng-if="tribes && tribes.length > 0">
      <hr class="hr-gray hr-tight"/>
      <a ui-sref="tribes.list" class="btn btn-sm btn-default">Join more Tribes</a>
    </div>
  </div>
</div>
