<ul class="tribes-list">
  <li class="tribe" ng-repeat="tribe in ::tribes track by tribe._id" tr-tribe-join>
    <div class="tribe-image" tr-tribe-styles="{{::tribe}}">
      <span ng-if="::!tribe.image" ng-bind="::tribe.label.charAt(0)"></span>
    </div>
    <div class="tribe-info">
      <a class="tribe-link" ng-click="tribeJoinDirective.openTribe()" ng-bind="::tribe.label"></a><br>
      <small class="text-muted">
        <ng-pluralize
          count="tribe.count"
          when="{
            '0': 'No members yet',
            '1': 'One member',
            'other': '{{tribe.count|number}} members'
          }"></ng-pluralize>
      </small>
    </div>
    <div class="tribe-actions">
      <button class="btn btn-xs btn-primary" tr-tribe-join-button></button>
    </div>
  </li>
</ul>
