<div data-ng-controller="ListContactsController" ng-show="$parent.tabSelected === 'contacts'">

  <div ng-hide="contacts.$resolved" class="content-wait">
    <small>Wait a moment...</small>
  </div>

  <!-- Contact list -->
  <div class="contacts-list row" data-ng-if="contacts.$resolved && contacts.length > 0">

    <div class="col-xs-12 text-center">
      <h4 class="text-muted" ng-show="contacts.length === 1">One contact</h4>
      <h4 class="text-muted" ng-show="contacts.length > 1">{{contacts.length}} contacts</h4>
      <br>
    </div>

    <div class="col-xs-12 col-sm-6" ng-repeat="contact in contacts">
      <a ui-sref="profile({username: contact.users[0].username})" class="contacts-contact panel panel-default">
        <div tr-avatar data-user="contact.users[0]" data-size="128"></div>
        <h4 ng-bind="contact.users[0].displayName"></h4>
        <small class="text-muted">Since <time ng-bind="contact.created | date:'mediumDate'"></time></small><br>
        <small class="text-warning" ng-show="contact.confirmed === false">Contact request sent and pending.</small><br>
      </a>
    </div>

  </div>
  <!-- /Contact list -->

  <!-- No contacts -->
  <div class="row content-empty" data-ng-if="contacts.$resolved && !contacts.length">
      <i class="fa fa-3x fa-users"></i>
      <h4>No contacts yet.</h4>
  </div><!-- /.row -->
  <!-- /No contacts -->

</div><!-- /.row -->
