{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hey {{name}}!</p>

  <p><a href="{{meURL}}">{{meName}}</a> would like to connect with you on Trustroots.</p>

  {% if messageHTML %}
    <div class="message">
    {{messageHTML | safe }}
    </div>
  {% endif %}

  <p>To confirm or discard this connection, please click the link below.</p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{ button(urlConfirm, 'See connection') }}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{ copyPasteUrl(urlConfirmPlainText) }}
{% endblock actionbutton %}
