{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hey {{name}}!</p>

  <p>You initiated an email change at Trustroots. Please click the confirmation link below to confirm your new email address: {{email}}</p>

  <p><strong>If you didn't make this request, you can ignore this email.</strong></p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{ button(urlConfirm, 'Confirm') }}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{ copyPasteUrl(urlConfirmPlainText) }}
{% endblock actionbutton %}
