{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hello {{userToName}}!</p>

  {% if messageCount > 1 %}
    <p>You have {{ messageCount }} unread messages from <strong><a href="{{urlUserFromProfile}}">{{userFromName}}</a></strong> at Trustroots.</p>
  {% else %}
    <p>You have one unread message from <strong><a href="{{urlUserFromProfile}}">{{userFromName}}</a></strong> at Trustroots.</p>
  {% endif %}

  {% from "./partials/message.server.view.html" import messagePreview %}

  {% for message in messages %}
    {{ messagePreview(message.content) }}
  {% endfor %}
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{ button(urlReply, 'Reply to ' + userFromName) }}
{% endblock actionbutton %}
