{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hey {{name}}!</p>

  <p>Someone (probably you) requested an account recovery on Trustroots for {{email}}.</p>

  <p>If you did not request this, just ignore this email. We'll keep your account safe.</p>

  <p>Please click the reset link below to reset your password.</p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{ button(urlConfirm, 'Reset password') }}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{ copyPasteUrl(urlConfirmPlainText) }}
{% endblock actionbutton %}
