{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hi {{name}}!</p>

  <p>This is {{from.name}} from Trustroots Foundation. You signed up a little while ago, and I just wanted to check back.</p>

  {% if topic === 'fill-profile' %}
    <p>Your profile seems to be quite empty. It would be very easy to take a short time to <a href="{{urlEditProfile}}">fill it out</a>, and it would make it easier for you to connect with people on Trustroots.</p>
  {% else %}
    <p>How has your experience with Trustroots been for you so far? I would be happy to hear any feedback. You can simply reply to this email.</p>
  {% endif %}

  {% include "./partials/socialmedia.server.view.html" %}

  <p>Happy traveling!<br/>
  {{from.name}}</p>
{% endblock textcontent %}
