{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hi {{name}}!</p>

  <p>I'm {{from.name}} from the Trustroots Foundation. How are your first impressions from Trustroots — anything missing? If you have any feedback for us, you can simply reply to this email.</p>

  <p>Trustroots is not only about hosting others but also about meeting community members. To make it easier for others to find you, you can <a href="{{urlMeetup}}">create a meetup</a>.</p>

  {% include "./partials/socialmedia.server.view.html" %}

  <p>Have a good one! {{from.name}}</p>
{% endblock textcontent %}
