<div>
  <!-- No reference found -->
  <div
    class="panel panel-default text-center"
    ng-if="!vm.isLoading && !vm.reference && vm.allowCreatingReference"
  >
    <div class="panel-body">
      <p>
        Do you find messages from this person to be polite, respectful and in
        the spirit of Trustroots?
      </p>

      <div class="btn-group btn-group-lg" role="group" aria-label="Feedback">
        <button
          role="button"
          class="btn btn-default"
          ng-click="vm.createReference('yes')"
        >
          Yes
        </button>
        <button
          role="button"
          class="btn btn-default"
          ng-click="vm.createReference('no')"
        >
          No
        </button>
      </div>
    </div>
    <div class="panel-footer">
      <small class="text-muted">Your response won't be visible to them.</small>
    </div>
  </div>

  <!-- Reference found -->
  <div
    class="panel panel-transparent text-center"
    ng-if="!vm.isLoading && vm.reference"
  >
    <div class="panel-body">
      <p class="text-muted">
        <small>
          Do you find messages from this person to be polite, respectful and in
          the spirit of Trustroots?
        </small>
      </p>

      <p class="reference-thread-value">
        <span
          class="text-capitalize"
          ng-class="{ 'text-danger': (vm.reference.reference === 'no') }"
          ng-bind="::vm.reference.reference"
        ></span
        ><br />
        <small class="text-muted">
          {{ ::vm.reference.created | date:'mediumDate' }} ·
          <a
            class="text-muted"
            ng-click="vm.reference = false;"
            analytics-on="click"
            analytics-event="reference-thread-change"
            analytics-properties="{ category: 'reference.thread', label: 'Change thread reference' }"
            >Change</a
          >
        </small>
      </p>
    </div>
  </div>
</div>
