@media (min-width: @grid-float-breakpoint) {

  // Bigger dropdown links
  .dropdown-header {
    font-size: 14px;
  }
  .dropdown-menu {
    font-size: 14px;
    > li > a {
      padding: 6px 20px;
    }
  }
}
