/*
 * Statistics
 */

.statistics {
  text-align: center;
}

.statistics-count {
  font-size: 40px;
  line-height: 45px;
}

.statistics-commit {
  &:link,
  &:visited,
  &:hover,
  &:active {
  text-decoration: none;
    color: rgba(255,255,255,0.6);
    font-size: @font-size-small;
  }
  &:hover {
    color: #fff;
  }
}
