<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Don't panic!</h2>
    <p class="lead">
      <em>Sorry, you need to first activate your profile by confirming your email.</em>
    </p>
    <p>
      If you didn't receive the message, check your spam folder or resend it via <a ui-sref="profile-settings({username: app.user.username})">email settings</a>.
    </p>
    <p>
      <br>
      <small><a class="btn btn-xs btn-link text-muted" ui-sref="support">Help!</a></small>
    </p>
  </div>
</div>
