<div class="modal-body" id="profile-avatar-choises">

  <div class="row text-center">
    <div class="col-xs-5 col-xs-offset-1">
      <label for="avatar-source-none">
        <div tr-avatar data-size="128" data-link="false" data-source="none"></div>
        <div class="avatar-source-label">
          <input type="radio" ng-model="user.avatarSource" id="avatar-source-none" value="none" ng-disabled="avatarUploading">
          No profile photo
        </div>
      </label>
    </div>
    <div class="col-xs-5">
      <label for="avatar-source-gravatar">
        <a href="https://en.gravatar.com/" target="_blank" class="avatar-source-link" tooltip="You can change your gravatar at Gravatar.com" tooltip-placement="bottom">
          <div tr-avatar data-user="user" data-size="128" data-link="false" data-source="gravatar"></div>
          <span><i class="fa fa-pencil-square"></i> Change</span>
        </a>
        <div class="avatar-source-label">
          <input type="radio" ng-model="user.avatarSource" id="avatar-source-gravatar" value="gravatar" ng-disabled="avatarUploading">
          Gravatar
        </div>
      </label>
    </div>
  </div>

  <div class="row text-center">

    <div class="col-xs-5 col-xs-offset-1">

      <!-- When connected to FB-->
      <label for="avatar-source-facebook" ng-if="isConnectedSocialAccount('facebook')">
          <div tr-avatar data-user="user" data-size="128" data-link="false" data-source="facebook"></div>
          <div class="avatar-source-label">
            <input type="radio" ng-model="user.avatarSource" id="avatar-source-facebook" value="facebook" ng-disabled="avatarUploading">
            Facebook
          </div>
      </label>

      <!-- When NOT connected to FB-->
      <label for="avatar-source-facebook" ng-if="!isConnectedSocialAccount('facebook')">
          <a href="/auth/facebook" class="avatar-source-link">
            <div tr-avatar data-size="128" data-link="false" data-source="none"></div>
            <span><i class="fa fa-facebook-square"></i> Connect</span>
          </a>
          <div class="avatar-source-label" tooltip="Connect first to Facebook" tooltip-placement="bottom">
            <input type="radio" disabled >
            Facebook
          </div>
      </label>
    </div>

    <div class="col-xs-5">
      <label for="avatar-source-upload">
        <div ng-show="!avatarUploading" ng-file-select ng-model="fileAvatar" ng-file-change="fileSelected(fileAvatar[0], $file)" ng-multiple="false" accept="image/*" class="avatar-source-link avatar-source-upload">
          <div ng-show="!avatarPreview" tr-avatar data-user="user" data-size="128" data-link="false" data-source="local"></div>
          <div id="avatarPreview"  ng-style="{ 'background-image': 'url(' + previewStyle + ')' }" ng-show="avatarPreview" class="avatar avatar-preview">
          </div>
          <span ng-show="!avatarUploading"><i class="fa fa-image"></i> Upload</span>
        </div>
        <!-- We show this when the avatar is loading -->
        <div ng-show="avatarUploading" class="avatar-source-link avatar-source-upload">
          <div ng-show="!avatarPreview" tr-avatar data-user="user" data-size="128" data-link="false" data-source="local"></div>
          <div id="avatarPreview"  ng-style="{ 'background-image': 'url(' + previewStyle + ')' }" ng-show="avatarPreview" class="avatar avatar-preview">
          </div>
          <span ng-show="avatarUploading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
        </div>

        <div class="avatar-source-label">
          <input type="radio" ng-model="user.avatarSource" id="avatar-source-upload" value="local" ng-disabled="avatarUploading">
          My own
        </div>
      </label>
    </div>

  </div>

</div>
<div class="modal-footer">
  <button ng-show="!avatarUploading" type="cancel" ng-click="close()" class="btn btn-link">Cancel</button>
  <button ng-show="!avatarUploading" class="btn btn-primary" ng-click="save()">Save</button>
  <p ng-show="avatarUploading">Wait a moment ...</p>
</div>
