<section class="container container-spacer">

  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h2>Account Settings</h2>
      </div>
    </div>
  </div>

  <br><br>

  <!-- Email -->
  <div class="row">

    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3">
      <h4>Email</h4>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4 col-lg-3">
      <form ng-submit="settings.updateUserEmail()" autocomplete="off" name="settingsEmail">
        <fieldset>
          <div class="form-group" ng-class="{'has-error': (settingsEmail.email.$invalid && settingsEmail.email.$dirty) || settings.emailError}">
            <label for="email" class="sr-only">Email</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   ng-model="settings.user.email"
                   placeholder="Email"
                   mailcheck>
            <p class="help-block" ng-show="settings.user.emailTemporary && !settings.emailSuccess && !settings.emailError">
              We sent you an email to "<strong>{{settings.user.emailTemporary}}</strong>" with further instructions. If you don't see this email in your inbox within 15 minutes, look for it in your junk mail folder. If you find it there, please mark it as "Not Junk".
            </p>
            <p class="help-block" ng-show="settings.emailError" ng-bind="settings.emailError"></p>
            <p class="help-block" ng-show="settings.emailSuccess" ng-bind="settings.emailSuccess"></p>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="settingsEmail.email.$invalid && settingsEmail.email.$dirty">Change email</button>
            <button class="btn btn-default" ng-if="settings.user.emailTemporary" ng-click="settings.resendUserEmailConfirm($event)">Resend confirmation</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <!-- /Email -->

  <br><br>

  <!-- Email subscriptions -->
  <div class="row">
    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3">
      <h4>Email subscriptions</h4>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4 col-lg-3">

      <form ng-submit="settings.updateUserSubscriptions()" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="newsletter" ng-model="settings.user.newsletter" ng-disabled="settings.updatingUserSubscriptions" ng-change="settings.updateUserSubscriptions()">
                Subscribe to community news
              </label>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
  <!-- /Email subscriptions -->

  <br><br>

  <!-- Password -->
  <div class="row">

    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-md-3">
      <h4>Change your password</h4>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4 col-lg-3">

      <form ng-submit="settings.changeUserPassword()" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <label for="currentPassword" class="sr-only">Your current password</label>
            <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="settings.currentPassword" placeholder="Your current password" ng-disabled="settings.changeUserPasswordLoading">
          </div>
          <div class="form-group">
            <label for="newPassword" class="sr-only">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="settings.newPassword" placeholder="New Password" popover="New password must be 8 or more characters."  popover-trigger="focus" popover-placement="right" popover-append-to-body="true" ng-disabled="settings.changeUserPasswordLoading">
          </div>
          <div class="form-group">
            <label for="verifyPassword" class="sr-only">Verify Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="settings.verifyPassword" placeholder="Verify Password" ng-disabled="settings.changeUserPasswordLoading">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-large btn-primary" ng-disabled="changeUserPasswordLoading">
              <span ng-hide="settings.changeUserPasswordLoading">Change Password</span>
              <span ng-show="settings.changeUserPasswordLoading">Wait a moment...</span>
            </button>
          </div>
          <div ng-show="settings.passwordError" class="text-danger">
            <strong>{{settings.passwordError}}</strong>
          </div>
          <div ng-show="settings.passwordSuccess" class="text-success">
            <strong>{{settings.passwordSuccess}}</strong>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
  <!-- /Password -->

  <br><br>

  <!-- Data liberation -->
  <div class="row">
    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3">
      <h4>Download your data</h4>
      <p class="text-muted">
        Your data is <em>Yours</em>. We are committed to making it easy for you to get all of your data into, and out of, Trustroots at any time.
      </p>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4 col-lg-3">
      <br><br>
      <ul class="list-unstyled">
        <li><a class="btn btn-link btn-sm" href="/api/users/{{app.user.username}}" target="_top" type="application/json" download="profile.json">Profile</a> <small class="text-muted">(json)</small></li>
        <li><a class="btn btn-link btn-sm" href="/api/contacts/{{app.user._id}}" target="_top" type="application/json" download="contacts.json">Contacts</a> <small class="text-muted">(json)</small></li>
        <li><a class="btn btn-link btn-sm" href="/api/offers-by/{{app.user._id}}" target="_top" type="application/json" download="offers.json">Hosting offer</a> <small class="text-muted">(json)</small></li>
      </ul>
    </div>
  </div>
  <!-- /Data liberation -->

  <br><br>

  <!-- Remove -->
  <div class="row">
    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3">
      <h4 class="text-danger">Remove your account</h4>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <em>Feature coming up. <a href="http://ideas.trustroots.org/account-removal/">Contact us</a> if you need your account to be removed.</em>
      </div>
      <!--
      <div class="form-group">
        <label for="removal-confirm">
          <input type="checkbox" id="removal-confirm" ng-model="settings.removalConfirm">
          <em>I understand this cannot be undone</em>
        </label>
      </div>
      <div class="form-group">
        <button class="btn btn-danger" ng-click="settings.removeUser();">Yes, remove my account permanently</button>
      </div>
      -->
    </div>
  </div>
  <!-- /Remove -->

</section>
