<section class="container container-spacer" id="profile-editor">

  <form name="userForm" ng-submit="editprofile.updateUserProfile(userForm.$valid)" autocomplete="off">
      <div class="row">

        <div class="col-sm-3">

          <div class="panel panel-default" id="profile-sidebar">
            <a href="#" class="avatar-edit" ng-click="editprofile.avatarModal(editprofile.user, $event);">
              <div tr-avatar data-user="editprofile.user" data-size="256" data-link="false"></div>
              <label>
                <i class="icon-3x icon-picture-change"></i><br>
                Change profile photo
              </label>
            </a>
            <div class="panel-body">

              <div class="form-group text-muted">
                Member since <span ng-bind="editprofile.user.created | date:'mediumDate'"></span>
              </div>

              <div class="form-group">
                <label for="location-living"><h4>Lives in</h4></label>
                <div tr-location="editprofile.user.locationLiving" data-placeholder="City, Country" id="location-living"></div>
              </div>

              <div class="form-group">
                <label for="location-from"><h4>From</h4></label>
                <div tr-location="editprofile.user.locationFrom" data-placeholder="City, Country" id="location-from"></div>
              </div>

              <div class="form-group">
                <label for="gender"><h4>Gender</h4></label>
                <select id="gender" name="gender" class="form-control" ng-model="editprofile.user.gender">
                  <option value="">Unspecified</option>
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <div class="form-group">
                <label for="birthdate"><h4>Birthdate <small class="text-muted text-uppercase">{{ ::editprofile.birthdateFormat }}</small></h4></label>
                <p class="input-group profile-editor-birthdate">
                  <input id="birthdate" type="text" class="form-control" datepicker-popup="{{ ::editprofile.birthdateFormat }}" ng-model="editprofile.user.birthdate" is-open="editprofile.birthdateOpened" datepicker-options="editprofile.birthdateOptions" ng-required="false" close-text="Close" current-text="Today" clear-text="Clear">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-inverse" ng-click="editprofile.birthdateOpen($event)"><i class="icon-calendar"></i></button>
                  </span>
                </p>
              </div>

              <div class="form-group">
                <label for="languages"><h4>Languages</h4></label>
                <select multiple chosen
                  id="languages"
                  class="form-control"
                  data-placeholder="Start typing..."
                  no-results-text="'Not found: '"
                  search-contains="true"
                  ng-model="editprofile.userLanguages"
                  ng-options="language.name for language in editprofile.languages track by language.key">
                </select>
              </div>

            </div><!-- /.panel-body -->
          </div><!-- /.panel -->

        </div>
        <div class="col-sm-9">

          <div class="row">
            <div class="col-md-6">

              <span class="profile-firstname" ng-model="editprofile.user.firstName" medium-editor options="{'placeholder': 'First name', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></span>
              <span class="profile-lastname" ng-model="editprofile.user.lastName" medium-editor options="{'placeholder': 'Last name', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></span>

              <h4 class="profile-username" tooltip="You cannot change your username" tooltip-placement="right">@{{editprofile.user.displayUsername || editprofile.user.username}}</h4>

              <div class="profile-tagline">
                <div ng-model="editprofile.user.tagline" medium-editor options="{'placeholder': 'Short tagline...', 'disableToolbar': true, 'forcePlainText': true, 'disableReturn': true}"></div>
              </div>

            </div>
            <div class="col-md-6 profile-actions">
              <a ui-sref="profile({username: app.user.username})" type="cancel" class="btn btn-link profile-editor-cancel">Cancel</a>
              <button type="submit" class="btn btn-primary profile-editor-save">Save profile</button>
            </div>
          </div>

          <!-- Profile tabs -->
          <div class="row hidden-xs">
            <div class="col-xs-12"  id="profile-tabs">
              <ul class="nav nav nav-pills">
                <li class="disabled"><a>Overview</a></li>
                <li class="disabled"><a>Contacts</a></li>
              </ul>
            </div>
          </div>
          <!-- /Profile tabs -->

          <div class="row">
            <div class="col-md-6">

              <!-- About me -->
              <div class="panel panel-default">
                <label for="description" class="panel-heading">About me</label>
                <div class="panel-body profile-description">
                  <div class="form-group">
                    <div id="description" aria-describedby="descriptionHelp" ng-model="editprofile.user.description" medium-editor options="{'placeholder': 'Description', 'buttons': ['bold', 'italic', 'underline', 'anchor', 'quote', 'unorderedlist']}"></div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div id="descriptionHelp" class="help-block">
                    Help other people get to know you by telling them about your life and the things you like.
                    <br><br>
                    <small>Highlight text to add links or change its appearance.</small>
                  </div>
                </div>
              </div>

            </div><!-- /.col- -->
            <div class="col-md-6">

              <!-- Profiles -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  Other profiles
                  <span class="icon-help cursor-help text-muted pull-right" popover-placement="bottom" popover-append-to-body="true" popover-trigger="mouseenter" popover="Connecting to these is absolutely optional. Other members in Trustroots will be able to see a link to your other profile and some basic info about you and content you like there. You will be able to use eg. your contact list here in Trustroots. Other networks will then obviously know that you have connected to Trustroots, but we will never send any of your profile data to them."></span>
                </div>
                <div class="panel-body">

                  <div ng-if="editprofile.hasConnectedAdditionalSocialAccounts()">
                    <ul class="social-profiles list-unstyled text-capitalize">
                      <li ng-repeat="(providerName, providerData) in editprofile.user.additionalProvidersData" class="remove-account-container text-capitalize">
                        <a ng-click="removeUserSocialAccount(providerName)" class="btn btn-link">
                          <i class="icon-fw icon-lg icon-{{providerName}}"></i>
                          {{::providerName}}
                          <small>(disconnect)</small>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div ng-if="!editprofile.isConnectedSocialAccount('facebook') ||
                              !editprofile.isConnectedSocialAccount('twitter') ||
                              !editprofile.isConnectedSocialAccount('github')">
                    <h5>Connect to:</h5>
                    <ul class="social-profiles list-unstyled">
                      <li ng-if="!editprofile.isConnectedSocialAccount('facebook')">
                        <a href="/api/auth/facebook" target="_top" class="btn btn-link">
                          <i class="icon-fw icon-lg icon-facebook"></i> Facebook
                        </a>
                      </li>
                      <li ng-if="!editprofile.isConnectedSocialAccount('twitter')">
                        <a href="/api/auth/twitter" target="_top" class="btn btn-link">
                          <i class="icon-fw icon-lg icon-twitter"></i> Twitter
                        </a>
                      </li>
                      <li ng-if="!editprofile.isConnectedSocialAccount('github')">
                        <a href="/api/auth/github" target="_top" class="btn btn-link">
                          <i class="icon-fw icon-lg icon-github"></i> GitHub
                        </a>
                      </li>
                    </ul>
                  </div>

                  <br>

                  <div class="extsites">
                    <h5>Other hospitality networks</h5>
                    <div class="form-group">
                      <div class="input-group">
                        <label class="input-group-addon" for="extSitesBW">bewelcome.org/members/</label>
                        <input id="extSitesBW" type="text" class="form-control" ng-model="editprofile.user.extSitesBW" placeholder="your-username">
                        <span class="input-group-btn" ng-if="editprofile.user.extSitesBW.length">
                          <a ng-href="https://www.bewelcome.org/members/{{ editprofile.user.extSitesBW }}" target="_blank" rel="nofollow" class="btn btn-primary" role="button" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="Test opening the link"><i class="icon-link-ext"></i></a>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <label class="input-group-addon" for="extSitesCS">couchsurfing.com/people/</label>
                        <input id="extSitesCS" type="text" class="form-control" ng-model="editprofile.user.extSitesCS" placeholder="your-username">
                        <span class="input-group-btn" ng-if="editprofile.user.extSitesCS.length">
                          <a ng-href="https://www.couchsurfing.com/people/{{ editprofile.user.extSitesCS }}" target="_blank" rel="nofollow" class="btn btn-primary" role="button" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="Test opening the link"><i class="icon-link-ext"></i></a>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <label class="input-group-addon" for="extSitesWS">warmshowers.org/users/</label>
                        <input id="extSitesWS" type="text" class="form-control" ng-model="editprofile.user.extSitesWS" placeholder="your-username">
                        <span class="input-group-btn" ng-if="editprofile.user.extSitesWS.length">
                          <a ng-href="https://www.warmshowers.org/users/{{ editprofile.user.extSitesWS }}" target="_blank" rel="nofollow" class="btn btn-primary" role="button" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="Test opening the link"><i class="icon-link-ext"></i></a>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /Profiles -->


            </div><!-- /.col- -->
          </div><!-- /.row -->


        </div><!-- /.col -->

      </div><!-- /.row -->

  </form>

</section><!-- /.container -->
