
<div class="row">
  <div class="col-md-6">

    <!-- About me -->
    <div class="panel panel-default">
      <div class="panel-heading">
        About me
      </div>
      <div class="panel-body">

        <!-- Short descriptions -->
        <div ng-if="profileCtrl.profile.description.length < 2400" ng-bind-html="profileCtrl.profile.description | trustedHtml"></div>

        <!-- Long descriptions -->
        <div ng-if="profileCtrl.profile.description.length >= 2400">
          <div class="panel-more-wrap" ng-hide="profileCtrl.profileDescriptionToggle">
            <div class="panel-more-excerpt" ng-bind-html="profileCtrl.profile.description | limitTo:2400 | trustedHtml" ng-click="profileCtrl.profileDescriptionToggle=true"></div>
            <div class="panel-more-fade" ng-click="profileCtrl.profileDescriptionToggle=true">Show more...</div>
          </div>
          <div ng-if="profileCtrl.profileDescriptionToggle" ng-bind-html="profileCtrl.profile.description | trustedHtml"></div>
        </div>

        <!-- If no description, show deep thoughts... -->
        <blockquote class="profile-quote" ng-if="!profileCtrl.profile.description || profileCtrl.profile.description === ''">
          “Everyone is necessarily the hero of his own life story.”
        </blockquote>

      </div>

      <!-- User watching their own profile and it's too short -->
      <div class="panel-footer" ng-if="app.user._id === profileCtrl.profile._id && (!profileCtrl.profile.description || (profileCtrl.profile.description|plainTextLength) < app.appSettings.profileMinimumLength)">
        Your profile description should be longer so that you can send messages. <a ui-sref="profile-edit.about">Fill your profile</a>
      </div>
    </div>
    <!-- /About me -->

  </div>

  <!-- Offers -->
  <div class="col-md-6 hidden-xs" ng-if="profileCtrl.profile" ng-include="'/modules/offers/views/offers-view.client.view.html'"></div>

</div><!-- /.row -->
