
<div class="row">
  <!-- About me -->
  <div class="col-md-6">
    <about-me profile="profileCtrl.profile" isSelf="app.user._id === profileCtrl.profile._id" appSettings="app.appSettings"></about-me>
  </div>

  <div class="col-md-6">

    <!-- Offers -->

    <div class="hidden-xs">
      <offers profile="profileCtrl.profile" authUser="app.user"></offers>
    </div>

    <!-- Contacts in common -->
    <div ng-if="profileCtrl.profile._id !== app.user._id && profileCtrl.contacts.length">
      <contacts-common profileId="::profileCtrl.profile._id"></contacts-common>
    </div>
    <!-- Tribes -->
    <section class="panel panel-default" ng-if="profileCtrl.profile._id === app.user._id || profileCtrl.profile.member.length">
      <header class="panel-heading">
        Tribes
      </header>
      <div class="panel-body">

        <div class="profile-tribes-common"
             ng-if="::profileCtrl.profile._id !== app.user._id"
             tr-tribes-in-common="profileCtrl.profile.member"></div>
        <div tr-memberships-list="profileCtrl.profile.member" is-own-profile="::profileCtrl.profile._id === app.user._id"></div>

      </div>
    </section>

  </div>

</div><!-- /.row -->
