<!-- Avatar+Name for mobile screens -->
<avatar-name-mobile profile="profileCtrl.profile"></avatar-name-mobile>

<profile-overview profile="profileCtrl.profile"></profile-overview>

<div class="profile-flags" ng-if="::app.user._id !== profileCtrl.profile._id">
  <report-member-link
    username="::profileCtrl.profile.username"
  ></report-member-link>

  <br /><br />

  <block-member
    className="'btn btn-xs btn-link text-muted'"
    username="::profileCtrl.profile.username"
    isBlocked="::app.user.blocked.includes(profileCtrl.profile._id)"
  ></block-member>
</div>
