<!-- Navigation for small screens -->
<nav class="navbar navbar-default navbar-fixed-bottom visible-xs-block">
  <div class="container">
    <ul class="nav navbar-nav" role="toolbar" aria-label="Profile actions">
      <li ui-sref-active="active">
        <a ui-sref="profile-edit.about" aria-label="Profile">
          <i class="icon-user icon-2x" role="presentation"></i>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="profile-edit.locations" aria-label="Locations">
          <i class="icon-globe icon-2x" role="presentation"></i>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="profile-edit.photo" aria-label="Photo">
          <i class="icon-picture-change icon-2x" role="presentation"></i>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="profile-edit.networks" aria-label="Networks">
          <i class="icon-link icon-2x" role="presentation"></i>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="profile-edit.account" aria-label="Account">
          <i class="icon-cog icon-2x" role="presentation"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<section class="container container-spacer profile-edit">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <!-- Navi for bigger screens -->
      <ul
        class="nav nav-pills nav-stacked profile-edit-navbar"
        role="toolbar"
        aria-label="Profile actions"
      >
        <li ui-sref-active="active">
          <a ui-sref="profile-edit.about">Edit profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="profile-edit.locations">Locations</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="profile-edit.photo">Photo</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="profile-edit.networks">Networks</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="profile-edit.account">Account</a>
        </li>
      </ul>

      <p>
        <br /><br />
        <a
          ui-sref="profile.about({username: app.user.username})"
          class="btn btn-block btn-default"
        >
          View profile
        </a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div ui-view></div>
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
