<section class="container container-fullscreen board" tr-boards="'bokeh'">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img
        class="hidden-xs"
        src="/img/tree-color.svg"
        alt="Trustroots"
        width="120"
        height="120"
      />
      <img
        class="visible-xs-inline-block"
        src="/img/tree-color.svg"
        alt="Trustroots"
        width="80"
        height="80"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <br /><br />

      <!-- Review -->
      <div
        ng-if="removeProfile.state === 'review' || removeProfile.state === 'loading'"
      >
        <h3>Delete your account?</h3>
        <p class="lead">
          This will permanently delete your Trustroots profile and cannot be
          undone.
        </p>
        <button
          class="btn btn-danger"
          type="button"
          ng-click="removeProfile.removeProfile()"
          ng-disabled="removeProfile.state === 'loading'"
        >
          Permanently delete my account
        </button>
        <br /><br />
        <a ui-sref="profile-edit.account({ '#': 'remove' })">
          Cancel and keep my account
        </a>
      </div>

      <!-- Loading -->
      <tr-spinner
        ng-if="removeProfile.state === 'loading'"
        size="md"
      ></tr-spinner>

      <!-- Success -->
      <div ng-if="removeProfile.state === 'success'">
        <i class="icon-4x icon-ok"></i><br />
        <h3>Your profile was removed.</h3>
        <p class="lead">
          <br />
          <a ui-sref="support">Give us feedback</a>; it's extremely valuable to
          us!
        </p>
      </div>

      <!-- Errors -->
      <div role="alert" ng-if="removeProfile.state === 'failure'">
        <i class="icon-4x icon-invalid"></i><br />
        <h3>Something went wrong.</h3>
        <br /><br />
        <p class="lead">
          <strong>Your profile was not removed.</strong>
          <br /><br />
          Confirmation link might have been expired; they are valid for 24
          hours.
          <br /><br />
          <a
            class="btn btn-primary"
            ui-sref="profile-edit.account({ '#': 'remove' })"
          >
            Get a new confirmation email
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
