
<div class="row">
  <div class="col-md-6">

    <!-- About me -->
    <div class="panel panel-default">
      <div class="panel-heading">
        About me
      </div>
      <div class="panel-body">

        <!-- Short descriptions -->
        <div ng-show="profile.description.length < 2400" ng-bind-html="profile.description | trustedHtml"></div>

        <!-- Long descriptions -->
        <div ng-show="profile.description.length >= 2400">
          <div class="panel-more-wrap" ng-hide="profileDescriptionToggle">
            <div ng-bind-html="profile.description | limitTo:2400 | trustedHtml" class="panel-more-excerpt" ng-click="profileDescriptionToggle=true"></div>
            <div class="panel-more-fade" ng-click="profileDescriptionToggle=true">Show more...</div>
          </div>
          <div ng-bind-html="profile.description | trustedHtml" ng-show="profileDescriptionToggle"></div>
        </div>

        <!-- If no description, show deep thoughts... -->
        <blockquote ng-hide="profile.description" class="profile-quote">
          “Everyone is necessarily the hero of his own life story.”
        </blockquote>
      </div>
    </div>
    <!-- /About me -->

  </div>

  <!-- Offers -->
  <div class="col-md-6" ng-include="'/modules/offers/views/view-offers.client.view.html?v={{cacheBust}}'" ng-hide="!profileError && user.public === false"></div>

  <!-- Offers/user's own profile isn't public yet -->
  <div class="col-md-6" ng-show="!profileError && user.public === false">
    <div class="panel panel-default panel-disabled">
      <div class="panel-heading">
        Accommodation
      </div>
      <div class="panel-body">
        <div class="content-empty">
          <div class="offer-symbol-sofa center-block"></div>
          <h4>You need to activate your profile before starting to host.</h4>
        </div>
      </div>
    </div>
  </div>

</div><!-- /.row -->
