<div class="panel panel-default" id="profile-sidebar">
  <a tr-avatar data-user="profileCtrl.profile" data-size="256" data-link="false" class="hidden-xs" ng-click="profileCtrl.toggleAvatarModal()"></a>
  <div class="panel-body">

    <div class="profile-sidebar-section" ng-if="profileCtrl.profile.birthdate || profileCtrl.profile.gender">
      <span ng-if="profileCtrl.profile.birthdate" ng-bind="profileCtrl.profile.birthdate | ageyears"></span><span ng-if="profileCtrl.profile.birthdate && profileCtrl.profile.gender">, </span>
      <span ng-if="profileCtrl.profile.gender" ng-class="{ 'text-capitalize': !profileCtrl.profile.birthdate }">{{ profileCtrl.profile.gender }}.</span>
    </div>

    <div class="profile-sidebar-section">
      Member since <time ng-bind="profileCtrl.profile.created | date:'mediumDate'"></time>
    </div>

    <!--
    <div class="profile-sidebar-section">
      <h4>Last seen</h4>
      <time>time</time>
    </div>
    -->

    <div class="profile-sidebar-section" ng-if="profileCtrl.profile.locationLiving">
      <i class="icon-fw icon-building text-muted"></i> Lives in <a ui-sref="search({location:profile.locationLiving})" ng-bind="profileCtrl.profile.locationLiving"></a>
    </div>

    <div class="profile-sidebar-section" ng-if="profileCtrl.profile.locationFrom">
      <i class="icon-fw icon-home text-muted"></i> From <a ui-sref="search({location: profileCtrl.profile.locationFrom})" ng-bind="profileCtrl.profile.locationFrom"></a>
    </div>

    <div class="profile-sidebar-section" ng-if="profileCtrl.profile.languages.length">
      <h4>Languages</h4>
      <ul class="list-unstyled">
        <li ng-repeat="code in profileCtrl.profile.languages">{{ app.languageNames[code] }}</li>
      </ul>
    </div>

    <div class="profile-sidebar-section" ng-if="profileCtrl.hasConnectedAdditionalSocialAccounts() || profileCtrl.profile.extSitesBW || profileCtrl.profile.extSitesCS || profileCtrl.profile.extSitesWS">
      <h4>Me elsewhere</h4>
      <ul class="social-profiles list-unstyled">
        <li ng-if="profileCtrl.hasConnectedAdditionalSocialAccounts()" ng-repeat="(providerName, providerData) in profileCtrl.profile.additionalProvidersData">
          <a ng-href="{{ ::profileCtrl.socialAccountLink(providerName, providerData) }}" class="btn btn-link text-capitalize" rel="nofollow">
            <i class="icon-fw icon-lg icon-{{ ::providerName }}"></i>
            {{ ::providerName }}
          </a>
        </li>
        <li ng-if="profileCtrl.profile.extSitesBW">
          <a ng-href="http://www.bewelcome.org/members/{{ ::profileCtrl.profile.extSitesBW }}" class="btn btn-link" rel="nofollow">
            <i class="icon-fw icon-lg icon-bw"></i>
            BeWelcome
          </a>
        </li>
        <li ng-if="profileCtrl.profile.extSitesCS">
          <a ng-href="https://www.couchsurfing.com/people/{{ ::profileCtrl.profile.extSitesCS }}" class="btn btn-link" rel="nofollow">
            <i class="icon-fw icon-lg icon-cs"></i>
            Couchsurfing
          </a>
        </li>
        <li ng-if="profileCtrl.profile.extSitesWS">
          <a ng-href="https://www.warmshowers.org/users/{{ ::profileCtrl.profile.extSitesWS }}" class="btn btn-link" rel="nofollow">
            <i class="icon-fw icon-lg icon-ws"></i>
            Warmshowers
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
