<section class="container container-spacer" id="profile">

  <!-- Loading -->
  <div class="row content-wait" ng-if="profileCtrl.profile && !profileCtrl.profile.$resolved">
    <small>Wait a moment...</small>
  </div>

  <!-- Couldn't find profile... -->
  <div class="row text-center" ng-if="!profileCtrl.profile.username && profileCtrl.profile.$resolved && app.user.public !== false">
    <h1>Don't panic!</h1>
    <em class="lead">User does not exist.</em>
    <br><br>
    <a ui-sref="search">Continue...</a>
  </div>

  <!-- Browsing with non-public account -->
  <div ng-if="app.user.username !== profileCtrl.profile.username && app.user.public === false && profileCtrl.profile.$resolved" ng-include="'/modules/users/views/profile/activate.client.view.html'"></div>

  <!-- Own profile is non-public -->
  <div class="row text-center" ng-if="app.user.username === profileCtrl.profile.username && profileCtrl.profile.$resolved && app.user.public === false">
    <em class="lead">Note that your profile will not be visible to others until you confirm your email.</em>
    <p>If you didn't receive the message, check your spam folder or resend it via <a ui-sref="profile-settings">email settings</a>.</p>
    <hr>
  </div>

  <!-- Profile -->
  <div ng-if="profileCtrl.profile.username && profileCtrl.profile.$resolved">
    <div class="row">
      <div class="col-xs-12 text-center visible-xs-block">
        <a tr-avatar data-user="profileCtrl.profile" data-size="512" data-link="false" class="visible-xs-block avatar-circle" ng-click="profileCtrl.biggerAvatar = !profileCtrl.biggerAvatar" ng-class="{'profile-avatar-lg': profileCtrl.biggerAvatar}"></a>
        <h2 class="profile-name" ng-show="profileCtrl.profile.displayName" ng-bind="profileCtrl.profile.displayName"></h2><br>
        <h4 class="profile-username">@{{ profileCtrl.profile.displayUsername || profileCtrl.profile.username }}</h4><br>
        <p class="profile-tagline" ng-show="profileCtrl.profile.tagline" ng-bind="profileCtrl.profile.tagline"></p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-3 hidden-xs" ng-include="'/modules/users/views/profile/view-profile-sidebar.client.view.html?c=' + app.cacheBust"></div>

      <div class="col-sm-9">

        <div class="row">
          <div class="col-md-6 hidden-xs">
              <h2 class="profile-name" ng-if="profileCtrl.profile.displayName" ng-bind="profileCtrl.profile.displayName"></h2>
              <h4 class="profile-username" ng-if="profileCtrl.profile.username">@{{ profileCtrl.profile.displayUsername || profileCtrl.profile.username }}</h4>
              <div class="profile-tagline" ng-if="profileCtrl.profile.tagline" ng-bind="profileCtrl.profile.tagline"></div>
          </div>

          <!-- When looking at own profile -->
          <div class="col-md-6 profile-actions" ng-if="app.user._id === profileCtrl.profile._id">
            <small class="profile-edit-help text-muted hidden-xs">This is your profile as others see it.</small>
            &nbsp;
            <a ui-sref="profile-edit({username: app.user.username})" class="btn btn-primary">Edit your profile</a>
          </div>

          <!-- When looking at somebody else's profile -->
          <div class="col-md-6 profile-actions" ng-if="app.user._id !== profileCtrl.profile._id">
            <ul class="nav nav-pills nav-narrow" role="navigation">
              <li>
                <a ui-sref="listMessages({userId: profile._id})" class="btn btn-link">
                  <i class="fa icon-message-alt"></i>
                  Send message
                </a>
              </li>
              <li ng-controller="RemoveContactController as RemoveContact">
                <a ui-sref="contactAdd({userId: profile._id})" ng-hide="profileCtrl.profile.contact" class="btn btn-link">
                  <i class="icon-plus-squared-alt"></i>
                  Add contact
                </a>
                <a ng-click="RemoveContact.removeContactModal(profile.contact, $event)" ng-show="profileCtrl.profile.contact" class="btn btn-link">
                  <i class="icon-minus-squared-alt"></i>
                  Remove contact
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Profile tabs -->
        <div class="row">
          <div class="col-xs-12">
            <tabset id="profile-tabs" type="pills">
              <!-- Note that using ng-class causes error here -->
              <tab ng-repeat="tab in profileCtrl.tabs" class="{{ tab.onlySmallScreen === true ? 'visible-xs-block' : '' }}" heading="{{tab.title}}" active="tab.active" select="profileCtrl.tabSelected = tab.path">
                <div ng-if="tab.active" ng-include="tab.content"></div>
              </tab>
            </tabset>
          </div>
        </div>
        <!-- /Profile tabs -->

      </div><!-- /.col -->

    </div><!-- /.row -->

  </div>

</section><!-- /.container -->
