{% extends './email.server.view.html' %}

{% block content %}
{{name}},

We haven't heard from you since you signed up to Trustroots {{timeAgo}}.

Your profile will not be visible to others if you don't confirm your email address ({{email}}).

It's easy — just click on the link below.

{{urlConfirmPlainText}}

{% if reminderCount >= reminderCountMax %}
This is our last reminder, after which we will stop sending you emails.
{% else %}
This is a reminder {{reminderCount}}/{{reminderCountMax}}, after which we will stop sending you emails.
{% endif %}

{% endblock content %}
