{% if request.reportMember %}Reporting member: {{request.reportMember}}
{% endif %}
{{request.message}}


-- {# These two dashes should have space after them and this line stops .editorconfig stripping it out. #}
Username: {{request.username}}
Email: {{request.email}}
Authenticated: {{request.authenticated}}
Browser: {{request.userAgent}}
ID: {{request.userId}}
Signup confirmed: {{request.profilePublic}}
Signup date: {{request.signupDate}}
{% if request.emailTemp %}Active email change: {{request.emailTemp}}{% endif %}
