{% extends './email.server.view.html' %}

{% block content %}
Hi {{name}}!

This is {{from.name}} from the Trustroots Foundation. Trustroots is an open, transparent, fun, and international sharing community. We believe in a world where people can trust each other.

Please take a few minutes to fill out your profile. That is the foundation of your experience in Trustroots:

{{urlEditProfile}}

If you have any issues using Trustroots, check our frequently asked questions, or simply reply this email.

{{urlFAQ}}

Happy trails!
{{from.name}}

{% endblock content %}
