{% extends './email.server.view.html' %}

{% block content %}
Hi {{name}}!

This is {{from.name}} from Trustroots Foundation. You signed up a little while ago, and I just wanted to check back.
{% if topic === 'fill-profile' %}
Your profile seems to be quite empty. It would be very easy to take a short time to fill it out, and it would make it easier for you to connect with people on Trustroots.

Edit your profile: {{urlEditProfile}}
{% else %}
How has your experience with Trustroots been for you so far? I would be happy to hear any feedback. You can simply reply to this email.
{% endif %}

{% include "./partials/socialmedia.server.view.html" %}

Happy traveling!
{{from.name}}

{% endblock content %}
