{% extends './email.server.view.html' %}

{% block content %}
Hi {{name}}!

I'm {{from.name}} from the Trustroots Foundation.
How are your first impressions from Trustroots — anything missing?
If you have any feedback for us, you can simply reply to this email.

Trustroots is not only about hosting others but also about meeting community members.
To make it easier for others to find you, you can create a meetup:

{{urlMeetup}}

{% include "./partials/socialmedia.server.view.html" %}

Have a good one!
{{from.name}}
{% endblock content %}
