<section class="container container-spacer" data-ng-controller="ConfirmContactController" data-ng-init="findContact()">

  <form name="ConfirmContactForm" data-ng-submit="confirmContact()" novalidate autocomplete="off">

    <div class="row">

      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

        <div class="page-header">
          <h2>Confirm contact</h2>
        </div>

        <div class="panel panel-default" ng-hide="!contact || isWrongCode || contact.users[0]._id !== user._id">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-5 text-center">
                <div tr-avatar data-user="contact.users[0]" data-size="128" class="center-block"></div>
                <h4 class="contacts-name" ng-bind="contact.users[0].displayName"></h4>
              </div>
              <div class="col-xs-2 text-center contacts-avatar-divider">
                <i class="fa fa-3x fa-exchange text-muted"></i>
              </div>
              <div class="col-xs-5 text-center">
                <div tr-avatar data-user="contact.users[1]" data-size="128" class="center-block"></div>
                <h4 class="contacts-name" ng-bind="contact.users[1].displayName"></h4>
              </div>
            </div><!-- /.row -->
          </div>
        </div>

        <!-- Notifications -->
        <div data-ng-show="success" class="alert alert-success">
          <h4 data-ng-bind="success"></h4>
          <p>
            <strong><a ui-sref="profile({username: contact.users[0].username})">{{ contact.users[0].displayName }}</a></strong> &
            <strong><a ui-sref="profile({username: contact.users[1].username})">{{ contact.users[1].displayName }}</a></strong>.
          </p>
        </div>
        <div data-ng-show="error" class="alert alert-danger text-center">
          <strong data-ng-bind="error"></strong>
        </div>
        <!-- /Notifications -->

        <div class="text-center" ng-hide="isConnected || !contact || isWrongCode || contact.users[0]._id !== user._id">
          <button type="submit" class="btn btn-lg btn-primary" ng-disabled="isLoading">
            <span ng-hide="isLoading">Confirm contact</span>
            <span ng-show="isLoading">Wait a moment...</span>
          </button>
          <br><br>
          <a ui-sref="profile({username: friend.username})" class="text-muted">Cancel</a>
        </div>

      </div><!-- /.col-* -->

    </div><!-- /.row -->

  </form>

</section>
