
<!-- Browsing with non-public account -->
<section class="container container-spacer" ng-if="app.user.public === false">
  <div ng-include="'/modules/users/views/profile/activate.client.view.html'"></div>
</section>

<section class="container-spacer" ng-if="app.user.public === true">

  <!-- Threads -->
  <ul class="list-group threadlist">
    <li class="list-group-item threadlist-thread"
        ng-repeat="thread in inbox.threads | orderBy:'updated':true track by thread._id"
        ng-init="thread.with = inbox.otherParticipant(thread)"
        ng-class="{ 'threadlist-thread-unread': !thread.read }">
      <div class="media" ng-click="inbox.openThread(thread.with)">
        <div class="media-left">
          <a ui-sref="messageThread({ username: thread.with.username })">
            <div tr-avatar
                 data-user="thread.with"
                 data-size="32"
                 data-link="false"
                 class="media-object"></div>
          </a>
        </div>
        <div class="media-body">
          <a ui-sref="messageThread({ username: thread.with.username })">

            <small class="text-muted pull-right">
              <i class="icon-reply"
                 ng-if="::thread.userFrom._id === app.user._id"
                 uib-tooltip="You replied"
                 tooltip-placement="left"></i>

              <span tr-time="::thread.updated"
                    tr-time-tooltip-placement="left"></span>
            </small>

            <span ng-bind="::thread.with.displayName || 'Unknown member'"></span>
            <br>

            <span class="text-muted threadlist-thread-excerpt" ng-bind-html="::thread.message.excerpt || '…'"></span>

          </a>
        </div>
      </div>
    </li>
  </ul>
  <!-- /Threads -->

  <!-- Errors -->
  <div class="text-center"
       ng-if="inbox.messageHandler.resolved === false && inbox.messageHandler.nextPage">
    <strong class="text-danger">
      Whoops! Something went wrong.
    </strong>
    <button class="btn btn-warning btn-md" ng-click="inbox.moreMessages(true)">
      <span class="icon-refresh"></span>
      Retry
    </button>
  </div>
  <!-- /Errors -->

  <!-- No threads -->
  <div class="content-empty" ng-if="inbox.messageHandler.resolved && !inbox.threads.length">
    <i class="icon-3x icon-messages-alt"></i>
    <h4>No conversations yet.</h4>
  </div>
  <!-- /No threads -->

  <!-- pagination waypoint -->
  <!--
  <div zum-waypoint="inbox.waypoints"
       offset="200px"
       up="scroll.up"
       down="scroll.down"
       class="text-center"
       ng-if="inbox.messageHandler.nextPage && inbox.messageHandler.resolved && !inbox.messageHandler.paginationTimeout">
         <tr-spinner size="sm"></tr-spinner>
         {{ inbox.moreMessages(inbox.waypoints.scroll.down) }}
  </div>
  -->

  <button class="btn btn-primary btn-lg center-block"
          ng-if="inbox.messageHandler.nextPage && inbox.messageHandler.resolved && !inbox.messageHandler.paginationTimeout"
          ng-click="inbox.moreMessages(true)">
    More messages
  </button>

</section>
