<section class="container container-spacer">
  <!-- Browsing with non-public account -->
  <div
    ng-if="app.user.public === false"
    ng-include="~modules/users/client/views/profile/activate.client.view.html"
  ></div>

  <!-- Loading first init -->
  <div
    class="divider divider-first text-muted text-center"
    ng-if="app.user.public && !thread.isInitialized"
  >
    <!-- tr-spinner will have `aria-busy` etc -->
    <tr-spinner size="xs"></tr-spinner>
    <br /><br />
    <small aria-hidden="true">Wait a moment...</small>
  </div>

  <div class="row" ng-if="app.user.public && thread.isInitialized">
    <div class="col-sm-9" id="thread-container" thread-dimensions>
      <!-- Thread -->
      <threads id="messages-thread" moremessages="thread.moreMessages()">
        <!-- User profile mobile view -->
        <div class="message">
          <div class="col-xs-12 col-sm-11">
            <div class="message-recipient panel panel-default visible-xs">
              <a
                class="panel-body"
                ui-sref="profile.about({username: thread.userTo.username})"
              >
                <div
                  tr-avatar
                  data-size="32"
                  data-link="false"
                  data-user="::thread.userTo"
                ></div>
                <h4>
                  {{ thread.userTo.displayName }}
                </h4>
                <small class="text-muted">
                  @{{ thread.userTo.username }}
                </small>
              </a>
            </div>
          </div>
        </div>

        <!-- Pagination error -->
        <div
          class="divider divider-first"
          ng-if="thread.messageHandler.resolved === false && thread.messageHandler.nextPage"
        >
          <div class="panel panel-danger">
            <div class="panel-body">
              <p class="text-danger">
                Whoops! Something went wrong.
              </p>
              <button
                class="btn btn-warning btn-md"
                ng-click="thread.moreMessages()"
              >
                <span class="icon-bolt icon-lg"></span>
                Retry
              </button>
            </div>
          </div>
        </div>
        <!-- /Pagination Error -->

        <!-- Pagination Loading -->
        <div
          class="text-center"
          ng-if="thread.messageHandler.nextPage && thread.messageHandler.resolved !== false"
        >
          <tr-spinner size="xs"></tr-spinner>
        </div>

        <!-- No messages -->
        <div
          class="content-empty"
          ng-if="thread.messageHandler.resolved && !thread.messages.length && thread.profileDescriptionLength >= app.appSettings.profileMinimumLength"
        >
          <i class="icon-3x icon-messages-alt"></i>
          <h4>You haven't been talking yet.</h4>
          <div tr-flashcards></div>
        </div>
        <!-- /.row -->

        <!-- No messages & profile empty -->
        <div
          class="content-empty"
          ng-if="thread.messageHandler.resolved && !thread.messages.length && thread.profileDescriptionLength < app.appSettings.profileMinimumLength"
        >
          <i class="icon-3x icon-messages-alt"></i>
          <p class="lead">
            Your profile seems quite empty.<br />
            Please write longer profile description before sending messages.<br />
            <a ui-sref="profile-edit.about">Edit your profile</a>
          </p>
        </div>
        <!-- /.row -->

        <!-- No user -->
        <div class="content-empty" ng-if="!thread.userTo._id">
          <i class="icon-3x icon-messages-alt"></i>
          <h4>This user isn't a member anymore.</h4>
        </div>

        <!-- Messages -->
        <div ng-if="thread.messageHandler.resolved && thread.messages.length">
          <div
            class="message"
            ng-repeat="message in thread.messages | orderBy:'-created':true track by $index"
            zum-waypoint="thread.waypoints"
            offset="50%"
            up="scroll.up"
            down="scroll.down"
            ng-data-hosting="{{::thread.hostingReplyStatus(message.content)}}"
            ng-class="{
                 'message-unread': !thread.messageRead(message, thread.waypoints.scroll.up, thread.waypoints.scroll.down),
                 'message-sender-other': app.user._id !== message.userFrom._id,
              }"
          >
            <!-- Discussion started -->
            <div
              class="col-xs-12 divider divider-first text-muted"
              ng-if="$first && !thread.messageHandler.nextPage"
            >
              <small>
                Conversation started {{
                thread.messages[(thread.messages.length-1)].created |
                date:'mediumDate' }}
              </small>
            </div>

            <div class="col-xs-12 col-sm-11">
              <div class="message-meta">
                <span ng-if="app.user._id === message.userFrom._id">You</span>
                <a
                  ng-if="app.user._id !== message.userFrom._id"
                  ui-sref="profile.about({ username: message.userFrom.username })"
                  ng-bind="::message.userFrom.displayName"
                ></a>
                —
                <span tr-time="message.created"></span>
              </div>

              <div
                class="message-content panel panel-default"
                zum-waypoint="wp"
                offset="15%"
                up="next"
              >
                <div
                  tr-avatar
                  data-user="message.userFrom"
                  data-size="24"
                ></div>
                <div
                  class="panel-body"
                  ng-bind-html="message.content | trustedHtml"
                ></div>
              </div>
            </div>

            <div class="col-sm-1 hidden-xs message-author">
              <div tr-avatar data-user="message.userFrom" data-size="32"></div>
            </div>
          </div>
        </div>
        <!-- /Messages -->
      </threads>
      <!-- /Thread -->

      <!-- quickreply -->
      <div
        class="btn-toolbar"
        id="message-quick-reply"
        ng-hide="thread.isQuickReplyPanelHidden || thread.messageHandler.nextPage"
      >
        <button
          class="btn btn-sm btn-offer-hosting-yes"
          ng-click="thread.sendHostingReply('yes')"
        >
          Yes, I can host!
        </button>
        <button
          class="btn btn-sm btn-offer-hosting-no"
          ng-click="thread.sendHostingReply('no')"
        >
          Sorry, I can't host
        </button>
        <button
          class="btn btn-sm btn-offer-meet"
          ng-click="thread.focusToWriting()"
        >
          Write back
        </button>
      </div>
      <!-- quickreply -->

      <!-- Reply -->
      <div>
        <form
          id="message-reply"
          name="messageForm"
          class="form-horizontal"
          novalidate
          ng-submit="thread.sendMessage(thread.content); thread.content = '';"
          ng-disabled="!thread.userTo._id"
        >
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div
                  id="message-reply-content"
                  ng-if="thread.userTo._id && (thread.messages.length || thread.profileDescriptionLength >= app.appSettings.profileMinimumLength)"
                  ng-model="thread.content"
                  tr-editor
                  tr-editor-options="::app.editorOptions"
                  tr-editor-on-ctrl-enter="thread.sendMessage(thread.content); thread.content = '';"
                  data-placeholder="Write a message"
                  ng-change="thread.editorContentChanged()"
                ></div>
                <div
                  id="message-reply-content"
                  class="text-muted"
                  ng-if="!thread.userTo._id || (!thread.messages.length && thread.profileDescriptionLength < app.appSettings.profileMinimumLength)"
                >
                  <em class="lead">Sorry, you cannot write to this thread.</em>
                </div>
              </div>
              <!-- /.panel -->
            </div>

            <div class="col-xs-2 col-sm-12">
              <small class="text-muted hidden-xs">
                Highlight text to add links or change its appearance. Ctrl+Enter
                to send.
              </small>
              <button
                ng-disabled="!thread.content || thread.isSending === true || !thread.messageHandler.resolved || !thread.userTo._id || (!thread.messages.length && thread.profileDescriptionLength < app.appSettings.profileMinimumLength)"
                type="submit"
                class="btn btn-md btn-primary message-reply-btn"
                id="messageReplySubmit"
                aria-label="Send"
              >
                <i class="icon-send"></i><span class="hidden-xs"> Send</span>
              </button>
            </div>
          </div>
          <!-- /.row -->
        </form>
      </div>
      <!-- /Reply -->
    </div>
    <!-- /.col-* -->

    <div class="col-sm-3 hidden-xs text-center" ng-if="thread.userTo._id">
      <div tr-monkeybox profile="thread.userTo"></div>
      <div
        tr-reference-thread="thread.userTo._id"
        ng-if="thread.messageHandler.resolved && thread.messages.length"
      ></div>
      <!-- react component -->
      <report-member-link
        username="::thread.userTo.username"
      ></report-member-link>
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
