<section class="container container-spacer" ng-controller="MessagesThreadController"><!-- as messagesCtrl-->

  <div class="row">
    <div class="col-sm-9" id="thread-container">

      <div class="row text-muted text-center" ng-if=" messageHandler.nextPage && messageHandler.resolved === '' ">
        <small>Wait a moment...</small>
      </div>

      <!-- Thread -->
      <threads id="messages-thread" ng-style="{width: containerWidth, bottom: replyHeight}" moremessages="moreMessages()">

        <!-- Messages -->
        <div class="message"
             id="message-{{ message._id }}"
             ng-repeat="message in messages | orderBy:'-created':true"
             zum-waypoint="waypoints"
             offset="50%"
             up="scroll.up"
             down="scroll.down"
             ng-class="{ 'message-unread': !messageRead(message, waypoints.scroll.up, waypoints.scroll.down) }">

          <!-- Pagination -->
          <div class="pagination text-center">

            <!-- Error -->
            <div class="pagination">
              <div ng-if="$first && messageHandler.resolved === false && messageHandler.nextPage" class="col-xs-12 col-sm-11">
                <div class="panel panel-danger">
                  <div class="panel-body">
                    <div class="text-danger">
                      Something went wrong :(
                    </div>
                    <button class="btn btn-warning btn-md" ng-click="moreMessages()">
                      <span class="icon-bolt icon-lg"></span>
                      Retry
                    </button>
                  </div>
                </div>
              </div>

              <!-- Error profile picture -->
              <div ng-if="$first && messageHandler.resolved === false && messageHandler.nextPage" class="col-sm-1 hidden-xs">
                <span class="icon-2x icon-user message-author avatar"></span>
              </div>

            </div>
            <!-- /Error -->

            <!-- Loading icon -->
            <div ng-if="$first && messageHandler.nextPage && messageHandler.resolved !== false" class="text-muted col-xs-12">
              <i class="icon-progress icon-2x animate-spin"></i>
            </div>

          </div>
          <!-- /Pagination -->

          <!-- Dividers -->
          <div ng-if="$first" ng-hide="messageHandler.nextPage" class="divider divider-first col-xs-12">
            Conversation started {{ message.created | date:'mediumDate' }}
          </div>

          <div class="col-xs-12 col-sm-11">

            <div class="message-meta">
              <span ng-if="user._id === message.userFrom._id">You</span>
              <a ng-if="user._id !== message.userFrom._id" ui-sref="profile({ username: message.userFrom.username })" ng-bind="message.userFrom.displayName"></a>
              — <time am-time-ago="message.created" tooltip="{{message.created | date:'medium'}}" tooltip-placement="bottom"></time>
            </div>

            <div class="message-content panel panel-default" zum-waypoint="wp" offset="15%" up="nex">
              <div tr-avatar data-user="message.userFrom" data-size="24"></div>
              <div class="panel-body" ng-bind-html="message.content | trustedHtml">{{}}</div>
            </div>

          </div>

          <div class="col-sm-1 hidden-xs message-author">
            <div tr-avatar data-user="message.userFrom" data-size="32"></div>
          </div>

        </div><!-- /.row -->
        <!-- /Messages -->

        <!-- No messages -->
        <div class="content-empty" ng-if="messageHandler.resolved && !messages.length">
          <i class="icon-3x icon-messages-alt"></i>
          <h4>You haven't been talking yet.</h4>
          <p>Start conversation below.</p>
        </div><!-- /.row -->

      </threads>
      <!-- /Thread -->

      <!-- Reply -->
      <form id="message-reply" name="messageForm" class="form-horizontal" ng-submit="send()" novalidate ng-style="{width: replyWidth}">
        <div class="row">
          <div class="col-xs-12">

            <div class="panel panel-default">
              <div id="message-reply-content" ng-model="content" medium-editor options='{"placeholder": "Write a message", "buttons": ["bold", "italic", "underline", "anchor", "quote", "unorderedlist"]}'></div>
            </div><!-- /.panel -->
          </div>

          <div class="col-xs-2 col-sm-12">
            <small class="text-muted hidden-xs">Highlight text to add links or change its appearance. Ctrl+Enter to send.</small>
            <button type="submit" class="btn btn-md btn-primary message-reply-btn" id="messageReplySubmit" ng-disabled="!content || isSending === true || !messageHandler.resolved"><i class="icon-send"></i><span class="hidden-xs"> Send</span></button>
          </div>
        </div><!-- /.row -->
      </form>
      <!-- /Reply -->

    </div><!-- /.col-* -->

    <div class="col-sm-3 hidden-xs">
      <div tr-monkeybox data-userid="userToId"></div>
    </div>

  </div><!-- /.row -->

</section><!-- /.container -->
