
// List of social accounts
.authentication-social {
  margin-top: 5px;
  margin-bottom: 10px;
  a {
    color: @brand-primary;
    display: inline-block;
    overflow: hidden;
    margin: 0 5px;
    &:hover {
      color: darken(@brand-primary, 10%);
    }
  }
}

.forgot-password {
  font-size: @font-size-small;
  margin-top: 20px;
  a {
    .text-muted;
  }
}

.signin {
  margin-bottom: 20px;
  .alert {
    text-shadow: none;
  }
}
