#profile-editor {

  .angular-medium-editor {
    //display: inline;
    border: 0;
    background: transparent;
    .box-shadow(none);
    height: auto;
    resize: none;
    margin: 0;
    padding: 0;
    &:hover {
      background: fade(@brand-primary, 10%);
    }
    &:focus {
      background: transparent;
      outline: none;
      border: 0;
    }
  }

  .profile-firstname,
  .profile-lastname {
    .h2();
    font-family: @font-family-brand;
    font-weight: normal;
    font-style: normal;
    margin: 0 10px 5px 0;
  }
  .profile-firstname {
    margin-right: 4px;
  }
  .profile-tagline {
    width: 100%;
    margin: 5px 0 0 0;
  }
  .profile-firstname,
  .profile-lastname,
  .profile-tagline {
    // Make it clear we are editing these fields by coloring it when selected
    &:focus {
      background: fade(@brand-primary, 10%);
    }
    &.medium-editor-placeholder {
        display: inline;
        &:after {
          font-style: normal;
          display: inline;
          color: @input-color-placeholder;
          position: inherit;
          outline: none;
        }
    }
  }
  /*
    .profile-firstname,
    .profile-lastname,
    .profile-tagline {
        display: inline;
        &:after {
          // sorry for '!important', medium-editor's CSS comes after ours so gotta override it
          color: @input-color-placeholder !important;
          position: inline !important;
        }
    }
    */
  /*
  .profile-tagline {
    margin-bottom: 0;
    textarea {
      .inline-editor();
      .profile-tagline();
      margin-bottom: 0;
      resize: none;
    }
  }
  .profile-description textarea {
    .inline-editor();
  }
  */

  .avatar-edit {
    display: block;
    position: relative;
    width: 100%;
    max-width: 261px;
    min-height: 261px;
    background: #000;
    &:hover,
    &:active {
      label {
        background: rgba(0,0,0,0.4);
      }
    }
    .avatar,
    label {
      position: absolute;
      top: 0;
      cursor: pointer;
    }
    label {
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.2);
      display: block;
      padding-top: 80%;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      .transition(background 0.2s);
    }
  }//avatar-edit

  /* Profile tabs aren't active, but keep them visible */
  #profile-tabs {
    // No hover effect...
    opacity: 0.4;
    .nav {
      > li {
        > a {
          &:hover,
          &:focus {
            border-color: transparent;
          }
        }
      }
    }
  }// #profile-tabs

}


/* Choose avatar -modal */
#profile-avatar-choises {
  .avatar-source-init-upload {
    display: block;
    position: relative;
    .square(144px);
    label {
      margin: 10px 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 96px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      .transition(background 0.2s);
      background: transparent;
      font-weight: bold;
    }
    &:hover,
    &:active {
      span {
        background: rgba(0,0,0,0.1);
      }
    }
  }
}

/* Location edit -modal */
.edit-map {
  width: 100%;
  min-height: 400px;
}
