{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hi {{firstName}},</p>

  <p>you haven't been hosting for a while, would you like to host again?<br />
  <a href="{{urlOffer}}">Change your status here</a>.</p>

  {% if urlSurvey %}
    <p>If you've decided to stop hosting, we'd absolutely love to<br />
    hear why on <a href="{{urlSurvey}}">this 1 question survey</a>.</p>
  {% endif %}

  <p>Thanks for being part of the Trustroots community!</p>
{% endblock textcontent %}
