{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>
    Hi {{userTo.firstName}}!
  </p>

  <p>
    Good news, <a href="{{userFromProfileUrl}}">{{userFrom.firstName}}</a> has left you a reference as well.
  </p>

  <p>
    Their recommendation was {{recommend}}. <!-- yes, no, unknown -->
  </p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{button(seeReferencesUrl, 'See my references')}}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{copyPasteUrl(seeReferencesUrl)}}
<!-- It's also possible to say if the other person said they hosted us or met us etc. -->
{% endblock actionbutton %}
