<section class="board" tr-boards="'forestpath'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br /><br />
        <h2>Trustroots Support</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-7">
      <!-- Request form -->
      <div class="panel panel-default" ng-if="!support.success">
        <div class="panel-heading">
          <h4>Contact us</h4>
        </div>
        <div class="panel-body">
          <form
            name="supportForm"
            ng-submit="support.sendSupportRequest(supportForm.$valid)"
            novalidate
            autocomplete="off"
            class="form-horizontal"
          >
            <!-- Reporting another profile -->
            <div class="form-group" ng-if="support.request.reportMember">
              <label class="col-sm-2 control-label">Reporting member</label>
              <div class="col-sm-10">
                <p class="form-control-static">
                  <strong ng-bind="::support.request.reportMember"></strong>
                </p>
                <p class="form-control-static">
                  <em>
                    If you or someone you know have witnessed or been a victim
                    of a crime, please report it to the police immediately.
                  </em>
                </p>
              </div>
            </div>

            <!-- Message -->
            <div class="form-group">
              <label for="message" class="col-sm-2 control-label"
                >Message</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control input-lg"
                  rows="7"
                  id="message"
                  required
                  ng-disabled="support.isLoading"
                  ng-model="support.request.message"
                ></textarea>
                <span class="help-block">
                  Please write in English if possible.<br />
                </span>
              </div>
            </div>

            <!-- Name is sent only for logged in users, don't bother to ask it from non-logged users -->
            <div class="form-group" ng-if="app.user">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <p
                  class="form-control-static"
                  ng-bind="::app.user.displayName"
                ></p>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="col-sm-2 control-label"
                >Username</label
              >
              <div class="col-sm-10">
                <input
                  ng-if="!app.user"
                  type="text"
                  class="form-control input-lg"
                  id="username"
                  ng-disabled="support.isLoading"
                  ng-model="support.request.username"
                />
                <p
                  ng-if="app.user"
                  class="form-control-static"
                  ng-bind="::app.user.username"
                ></p>
              </div>
            </div>

            <div
              class="form-group"
              ng-class="{'has-error': supportForm.email.$invalid && supportForm.email.$dirty}"
            >
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input
                  type="email"
                  ng-if="!app.user"
                  mailcheck
                  id="email"
                  name="email"
                  class="form-control input-lg"
                  ng-model="support.request.email"
                  ng-disabled="support.isLoading"
                  uib-tooltip="{{ (supportForm.email.$error.email && supportForm.email.$dirty) ? 'Please give a valid email.' : ''}}"
                  tooltip-trigger="blur"
                  tooltip-placement="top"
                />
                <p
                  ng-if="app.user"
                  class="form-control-static"
                  ng-bind="::app.user.email"
                ></p>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary"
                  ng-disabled="support.isLoading"
                >
                  <span ng-if="support.isLoading">Wait...</span>
                  <span ng-if="!support.isLoading">Send</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Request sent -->
      <div ng-if="support.success">
        <p class="lead">
          <em>
            Thank you!
            <br /><br />
            I’m just a small website robot but I’ve sent your message to our
            support people. Expect them to get back to you very soon!
            <br /><br />
            — Trustroots Support Robot
          </em>
        </p>
        <p>
          <br /><br />
          You could continue to <a ng-click="app.goHome()">home</a> or see
          <a ui-sref="faq.general">frequently asked questions</a>.
        </p>
      </div>
    </div>
    <!-- /.col-* -->
    <div class="col-xs-12 col-md-4 col-lg-5">
      <h3>See also</h3>
      <ul class="list-unstyled lead">
        <li><a ui-sref="faq.general">Frequently asked questions</a></li>
        <li>
          <a ui-sref="profile-edit.account({ '#': 'remove' })"
            >Removing your account</a
          >
        </li>
        <li>
          <a ui-sref="volunteering">Become a volunteer</a> and make a
          difference!
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
</section>
