/*
 * Statistics
 */
.stats {
  .panel {
    color: @text-color;
    text-shadow: none;
    h5 {
      display: inline-block;
    }
  }
}

.stats-count {
  font-size: 50px;
  line-height: 55px;
  color: @brand-primary;
  font-family: @font-family-brand;
  font-weight: 400;
  font-style: normal;
}
.stats-count-lg {
  font-size: 70px;
  line-height: 75px;
}

.stats-commit {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    font-size: @font-size-small;
  }
  &:hover {
    color: #fff;
  }
}
