<div>

  <!-- Already left reference -->
  <div class="panel panel-default text-center" ng-if="!vm.isLoading && vm.existingReference">
    <div class="panel-body">
      <p>
        Since you have already left a reference to them, you can only add
        comments to your previous reference.
      </p>
    </div>
  </div>

  <!-- Write new reference -->
  <uib-tabset class="reference-user-tabs" active="vm.referenceUserTab" type="pills">
    <uib-tab index="0"
             classes="reference-user-tabs-tab-processed"
             deselect="vm.onDeselectTab($event, $selectedIndex, 0)"
             heading="How do you know them"
             select="vm.onSelectTab($event)">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 id="howDoYouKnowThemQuestion">How do you know them?</h4>
        </div>
        <div class="panel-body">

          <div role="group" aria-labelledby="howDoYouKnowThemQuestion">
            <!--
            <label tr-switch>
              <input type="checkbox"
                     ng-model="vm.living_together"
                     ng-change="vm.onWeLiveTogetherChanged()">
              I currently live with this person
            </label>
            <div class="text-muted">
              <em>They need to confirm this and we'll show this in your profiles.</em>
            </div>

            <br><br>
            -->

            <label tr-switch>
              <input type="checkbox"
                     ng-model="vm.reference.met"
                     ng-disabled="vm.living_together"
                     ng-change="vm.onHowDoIKnowThemChanged()">
              Met in person
            </label>

            <br><br>

            <label tr-switch>
              <input type="checkbox"
                     ng-model="vm.reference.hosted_them"
                     ng-change="vm.onHowDoIKnowThemChanged()">
              I hosted them
            </label>

            <br><br>

            <label tr-switch>
              <input type="checkbox"
                     ng-model="vm.reference.hosted_me"
                     ng-change="vm.onHowDoIKnowThemChanged()">
              They hosted me
            </label>
          </div>

          <div class="alert alert-warning reference-user-tabs-alert" role="alert" ng-if="vm.howDoIKnowThemWarning">
            Sorry, you cannot leave them a reference if you didn't have any previous interraction.
          </div>
        </div>
      </div>

    </uib-tab>
    <uib-tab index="1"
             heading="Recommendation"
             classes="{{ 1 < vm.referenceUserTab ? 'reference-user-tabs-tab-processed' : '' }}"
             deselect="vm.onDeselectTab($event, $selectedIndex, 1)"
             select="vm.onSelectTab($event)">

      <div class="panel panel-default">
        <div class="panel-heading" ng-switch="vm.recommendationQuestion" id="recommendationQuestion">
          <h4 ng-switch-when="hosted_me">
            Would you recommend others to stay with them?
          </h4>
          <h4 ng-switch-when="hosted_them">
            Would you recommend others to host them?
          </h4>
          <h4 ng-switch-default>
            Would you recommend others to meet them?
          </h4>
        </div>
        <div class="panel-body">

          <div class="btn-group"
               role="radiogroup"
               aria-labelledby="recommendationQuestion">
            <label class="btn btn-lg btn-reference-recommend btn-reference-recommend-yes"
                   ng-model="vm.reference.recommend"
                   role="radio"
                   aria-checked="{{ vm.reference.recommend === 'yes' }}"
                   ng-change="vm.onRecommendChange()"
                   uib-btn-radio="'yes'">
              <span>Yes</span>
            </label>
            <label class="btn btn-lg btn-reference-recommend btn-reference-recommend-no"
                   ng-model="vm.reference.recommend"
                   role="radio"
                   aria-checked="{{ vm.reference.recommend === 'no' }}"
                   ng-change="vm.onRecommendChange()"
                   uib-btn-radio="'no'">
              <span>No</span>
            </label>
            <label class="btn btn-lg btn-reference-recommend btn-reference-recommend-unknown"
                   ng-model="vm.reference.recommend"
                   role="radio"
                   aria-checked="{{ vm.reference.recommend === 'unknown' }}"
                   ng-change="vm.onRecommendChange()"
                   uib-btn-radio="'unknown'">
              <span>I don't know</span>
            </label>
          </div>

          <div class="alert alert-warning reference-user-tabs-alert" role="alert" ng-if="!vm.reference.recommend && vm.recommendationWarning">
            Please choose if you can recommend them.
          </div>

          <div ng-if="vm.reference.recommend === 'no'">

            <br><br>

            <p class="lead">
              We're sad to hear you didn't have great experience using Trustroots! 😞
            </p>

            <label tr-switch>
              <input type="checkbox"
                     ng-model="vm.reference.report">
              Report this person to moderators
            </label>

            <br><br>

            <div ng-if="vm.reference.report">
              <label for="report-message" class="control-label">Message to moderators</label>
              <textarea class="form-control input-lg"
                        rows="7"
                        id="message"
                        ng-model="vm.reference.report_message"></textarea>
              <span class="help-block">
                Please write in English if possible.<br>
              </span>
            </div>
          </div>
        </div>
      </div>

    </uib-tab>
    <uib-tab index="2"
             heading="Tribes"
             classes="{{ 2 < vm.referenceUserTab ? 'reference-user-tabs-tab-processed' : '' }}"
             deselect="vm.onDeselectTab($event, $selectedIndex, 2)"
             select="vm.onSelectTab($event)"
             disable="vm.reference.recommend === 'no'"
             tooltip-enable="vm.reference.recommend === 'no'"
             tooltip-placement="bottom"
             uib-tooltip="You cannot vouch them based on tribes if you cannot recommend them.">

      <div class="panel panel-default"
           ng-if="!vm.isLoading && !vm.existingReference">
        <div class="panel-heading">
          <h4>Pick at most three tribes that really resemble them</h4>
        </div>
        <div class="panel-body" ng-if="vm.reference.recommend !== 'no'">

          <!--
          <button class="btn"
                  ng-class="{
                    'btn-primary' : vm.btn_active1,
                    'btn-default' : !vm.btn_active1
                  }"
                  ng-click="vm.btn_active1=!vm.btn_active1">
            Hitchhikers
          </button>
          <button class="btn"
                  ng-class="{
                    'btn-primary' : vm.btn_active2,
                    'btn-default' : !vm.btn_active2
                  }"
                  ng-click="vm.btn_active2=!vm.btn_active2">
            Ecoliving
          </button>
          <button class="btn"
                  ng-class="{
                    'btn-primary' : vm.btn_active3,
                    'btn-default' : !vm.btn_active3
                  }"
                  ng-click="vm.btn_active3=!vm.btn_active3">
            Musicians
          </button>
          <button class="btn"
                  ng-class="{
                    'btn-primary' : vm.btn_active4,
                    'btn-default' : !vm.btn_active4
                  }"
                  ng-click="vm.btn_active4=!vm.btn_active4">
            Cyclists
          </button>
          <br><br>

          <button class="btn"
                  ng-class="{
                    'btn-primary' : vm.btn_active_other,
                    'btn-default' : !vm.btn_active_other
                  }"
                  ng-click="vm.btn_active_other=!vm.btn_active_other">
            Other
          </button>
        -->

          {{memberships.tribes.is.length}}:

            <div tr-tribes-list="vm.memberships.tribes.is"></div>

<!--
            <ul class="tribes-grid"
                angular-grid="vm.member"
                ag-grid-width="300"
                ag-gutter-size="10"
                ag-angular-grid-id="tribes"
                ag-refresh-on-img-load="false">
              <li class="panel tribe tribe-image"
                  tr-tribe-styles="{{::tribe}}"
                  data-ng-repeat="tribe in vm.member | filter: { tribe.tag.tribe: true } track by tribe.tag._id">
                <a ui-sref="tribes.tribe({tribe: tribe.tag.slug})" class="tribe-link">
                  <div class="tribe-content" ng-class="{'is-image': tribe.tag.image}" tr-tribe-join>
                    <h3 class="tribe-label" ng-bind="::tribe.tag.label"></h3>

                  </div>
                </a>
              </li>
            </ul>
          -->

          <button class="btn"
                  ng-class="{
                    'btn-primary' : vm.btn_active_none,
                    'btn-default' : !vm.btn_active_none
                  }"
                  ng-click="vm.btn_active_none=!m.btn_active_none">
            None of these
          </button>
        </div>
      </div>

    </uib-tab>
    <uib-tab index="3"
             heading="Feedback"
             deselect="vm.onDeselectTab($event, $selectedIndex, 3)"
             select="vm.onSelectTab($event)">

       <div class="panel panel-default"
            ng-if="!vm.isLoading && !vm.existingReference">

         <div class="panel-heading">
           <h4>
             Your honest, accurate and public feedback
             <span class="text-muted">(optional)</span>
           </h4>
         </div>
         <div class="panel-body">
           <div ng-model="vm.reference.comment"
                tr-editor
                tr-editor-options="::app.editorOptions"
                data-placeholder="Write here..."></div>
         </div>
         <div class="panel-footer">
           You will not be able to modify this afterwards.
         </div>
       </div>

       <div class="panel panel-default"
            ng-if="!vm.isLoading && !vm.existingReference">
         <div class="panel-heading">
           <h4>
             <i class="icon-lock"></i>
             Private feedback visible only to them
             <span class="text-muted">(optional)</span>
           </h4>
         </div>
         <div class="panel-body">
           <div ng-model="vm.reference.comment_private"
                tr-editor
                tr-editor-options="::app.editorOptions"
                data-placeholder="Write here..."></div>
         </div>
       </div>

    </uib-tab>
  </uib-tabset>

  <!-- Navigation for big screens -->
  <div class="text-center">
    <br>
    <button ng-if="vm.referenceUserTab > 0"
       type="button"
       class="btn btn-action btn-link"
       aria-label="Previous section"
       ng-disabled="vm.isLoading"
       ng-click="vm.previousTab()">
      <span class="icon-left"></span>
      Back
    </button>
    <button ng-if="vm.referenceUserTab < 3"
       type="button"
       class="btn btn-action btn-primary"
       aria-label="Next section"
       ng-disabled="vm.isLoading"
       ng-click="vm.nextTab()">
      Next
    </button>
    <!-- For last tab -->
    <button ng-if="vm.referenceUserTab === 3"
       type="submit"
       class="btn btn-action btn-primary"
       aria-label="Finish editing and save"
       ng-disabled="vm.isLoading"
       ng-disabled="offerMeet.isLoading">
      Submit
    </button>
  </div>

  <pre>
isLoading: {{vm.isLoading|json}}
reference: {{vm.reference|json}}
unsavedModifications: {{vm.unsavedModifications|json}}
member: {{ vm.member|json}}
  </pre>

</div>
