<div>
  <pre>
    l: {{referencesUser.references.length}}
    references: {{referencesUser.references | json }}
  </pre>

  <div tr-placeholder ng-if="referencesUser.isLoading"></div>

  <div class="row content-empty"
       ng-if="!referencesUser.isLoading && referencesUser.references.length === 0">
    <i class="icon-3x icon-users"></i>
    <h4>No references yet.</h4>
  </div>

  <div class="row content-empty"
       ng-if="!referencesUser.isLoading && referencesUser.references.length > 0">
    {{referencesUser.references.length}} references:<br>
    ...
  </div>

</div>
