{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>
    Hi {{userTo.firstName}}!
  </p>
  <p>
    <a href="{{userFromProfileUrl}}">{{userFrom.firstName}}</a> has shared also their experience with you. Both of your experiences are now public.
  </p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{button(seeExperiencesUrl, 'See the experience')}}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{copyPasteUrl(seeExperiencesUrlPlainText)}}
{% endblock actionbutton %}
