{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>
    Hello {{userTo.firstName}}!
  </p>

  <p>
    Great news! <a href="{{userFromProfileUrl}}">{{userFrom.firstName}}</a>
    left you a reference on Trustroots.
  </p>

  <p>
    You will be able to see their reference after you leave them a reference
    as well, at which poit both references will become public
  </p>

  <p>
    You have two weeks to do this.
    After two weeks, their reference for you will become public
    and you will only be able to give them a positive reference.
  </p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{button(giveReferenceUrl, 'Give a reference to ' + userFrom.firstName + ' now')}}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{copyPasteUrl(giveReferenceUrl)}}
{% endblock actionbutton %}
