{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>{{name}},</p>

  <p>Thank you very much for signing up with us.</p>

  <p>Confirm your email address ({{email}}) to complete your account.</p>

  <p>It's easy — just click on the button below.</p>
{% endblock textcontent %}

{% block actionbutton %}
  {% from "./partials/button.server.view.html" import button %}
  {{ button(urlConfirm, 'Confirm now') }}

  {% from "./partials/copypasteurl.server.view.html" import copyPasteUrl %}
  {{ copyPasteUrl(urlConfirmPlainText) }}
{% endblock actionbutton %}
