{% extends './email-with-container.server.view.html' %}

{% block textcontent %}
  <p>Hi {{name}}!</p>

  <p>This is {{from.name}} from the Trustroots Foundation. Trustroots is an open, transparent, fun, and international sharing community. We believe in a world where people can trust each other.</p>

  <p>Please take a few minutes to <a href="{{urlEditProfile}}">fill out your profile</a>. That is the foundation of your experience in Trustroots.</p>

  <p>If you have any issues using Trustroots, check our <a href="{{urlFAQ}}">frequently asked questions</a> or simply reply this email.</p>

  <p>Happy trails!<br />
  {{from.name}}</p>
{% endblock textcontent %}
