{% extends './email.server.view.html' %}

{% block content %}

  <!-- MODULE ROW // -->
  <tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
          <!--
            The centering table keeps the content
              tables centered in the emailBody table,
              in case its width is set to 100%.
          -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                      <!--
                        The flexible container has a set width
                          that gets overridden by the media query.
                          Most content tables within can then be
                          given 100% widths.
                      -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">


                                  <!-- CONTENT TABLE // -->
                                  <!--
                                    The content table is the first element
                                      that's entirely separate from the structural
                                      framework of the email.
                                  -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                          <td valign="top" class="textContent">

                                              <p>Hi {{name}}!</p>
                                              <p>This is {{from.name}} from the Trustroots Foundation. Trustroots is an open, transparent, fun, and international sharing community. We believe in a world where people can trust each other.</p>
                                              <p>Please take a few minutes to <a href="{{urlEditProfile}}">fill out your profile</a>. That is the foundation of your experience in Trustroots.</p>
                                              <p>If you have any issues using Trustroots, check our <a href="{{urlFAQ}}">frequently asked questions</a> or simply reply this email.
                                              <p>
                                                Happy trails!<br>
                                                {{from.name}}
                                              </p>

                                          </td>
                                      </tr>
                                  </table>
                                  <!-- // CONTENT TABLE -->


                              </td>
                          </tr>
                      </table>
                      <!-- // FLEXIBLE CONTAINER -->
                  </td>
              </tr>
          </table>
          <!-- // CENTERING TABLE -->
      </td>
  </tr>
  <!-- // MODULE ROW -->

{% endblock content %}
