{% extends './email.server.view.html' %}

{% block content %}

  <!-- MODULE ROW // -->
  <tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
          <!--
            The centering table keeps the content
              tables centered in the emailBody table,
              in case its width is set to 100%.
          -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                      <!--
                        The flexible container has a set width
                          that gets overridden by the media query.
                          Most content tables within can then be
                          given 100% widths.
                      -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">


                                  <!-- CONTENT TABLE // -->
                                  <!--
                                    The content table is the first element
                                      that's entirely separate from the structural
                                      framework of the email.
                                  -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                          <td valign="top" class="textContent">

                                              <p>Hi {{name}}!</p>
                                              <p>
                                                I'm {{from.name}} from the Trustroots Foundation.
                                                How are your first impressions from Trustroots — anything missing?
                                                If you have any feedback for us, you can simply reply to this email.
                                              </p>
                                              <p>
                                                Trustroots is not only about hosting others but also about meeting community members.
                                                To make it easier for others to find you, you can <a href="{{urlMeetup}}">create a meetup</a>.
                                              </p>
                                              {% include "./partials/socialmedia.server.view.html" %}
                                              <p>
                                                Have a good one!
                                                {{from.name}}
                                              </p>
                                          </td>
                                      </tr>
                                  </table>
                                  <!-- // CONTENT TABLE -->


                              </td>
                          </tr>
                      </table>
                      <!-- // FLEXIBLE CONTAINER -->
                  </td>
              </tr>
          </table>
          <!-- // CENTERING TABLE -->
      </td>
  </tr>
  <!-- // MODULE ROW -->

{% endblock content %}
