<div class="form-group">
  <label
    tr-switch
    ng-if="myTribesToggle.initialized && myTribesToggle.userTribes.length"
  >
    <input
      type="checkbox"
      ng-disabled="!myTribesToggle.userTribes || !myTribesToggle.userTribes.length"
      ng-change="myTribesToggle.onChange()"
      ng-model="myTribesToggle.toggle"
    />
    <ng-pluralize
      count="myTribesToggle.userTribes.length"
      when="{
                    'one': 'Show only members from my circle',
                    'other': 'Show only members from my circles'
                  }"
    ></ng-pluralize>
  </label>
  <p
    class="help-block"
    ng-if="myTribesToggle.initialized && !myTribesToggle.userTribes.length"
  >
    <span class="icon-right"></span>
    <a ui-sref="circles.list" class="text-muted"
      >Join circles to find similar members</a
    >
  </p>
</div>
