{% extends 'layout.server.view.html' %}

{% block header %}{% endblock %}

{% block content %}
    <section class="container container-fullscreen container-error board board-forestpath">

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

            <h2><em>Don't panic</em></h2>
            <h1>This page cannot be found</h1>
            <br><br>
            <a href="/" class="btn btn-inverse btn-lg">Continue...</a>
            <br><br>
            <br>
            Photo by <a href="https://www.flickr.com/photos/54459164@N00/15506455245" class="text-muted">Johnson</a> <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" class="text-muted"><i class="fa fa-cc"></i></a>

        </div>

      </div>

    </div>
{% endblock %}

{% block footer %}{% endblock %}
