<section class="board" tr-boards="'forestpath'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br /><br />
        <h2>Donor policy</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
      <p class="lead">
        <em
          >We're working on starting accepting donations and writing our
          policies. If you have expertise on this and would like to help,
          <a ui-sref="support">drop us a line!</a></em
        >
      </p>

      <p>
        We support the
        <a
          href="http://www.afpnet.org/ethics/enforcementDetail.cfm?ItemNumber=3359"
          >Donor Bill of Rights</a
        >
      </p>

      <p>See also our <a ui-sref="privacy">Privacy policy</a></p>

      <h3>Questions?</h3>
      <p>
        <a ui-sref="support">Contact us</a> if you have any further questions!
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="sidebar">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="list-group">
              <a ui-sref="donate" class="list-group-item">Donate</a>
              <a ui-sref="donate-help" class="list-group-item">Donation help</a>
              <a ui-sref="donate-policy" class="list-group-item active"
                >Donor policy</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- .sidebar -->
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
