<section class="board" tr-boards="'forestpath'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br /><br />
        <h2>Donation help</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h3>Is this site secure?</h3>
      <p>
        All information is encrypted and handled following the highest standard
        of data protection. This and donation sites are transfered trough
        secured https connections.
      </p>

      <!--
      <h3>Why did my credit/debit card donation get rejected?</h3>
      <p>...</p>

      <h3>Why did my PayPal donation get rejected?</h3>
      <p>...</p>
      -->

      <h3>Why don't I see my currency or country on the donation form?</h3>
      <p>
        In addition to Euros and Bitcoins, we accept donations in
        <a href="https://www.paypal.com/multicurrency"
          >currencies accepted by PayPal</a
        >.
      </p>

      <h3>Are Bitcoin transfers secure?</h3>
      <p>
        We are probably setting up "<a
          href="https://bitcoinmagazine.com/11108/multisig-future-bitcoin/"
          >multisig wallet</a
        >" so there will not be a single point of failure.
      </p>

      <h3>I got an email from you asking to donate, is it legit?</h3>
      <p>
        We might've indeed send you an email. However, links on that email
        should always direct to our <a ui-sref="donate">page</a>, not directly
        to paypal or other money transfer sites. Contact us if you are
        uncertain.
      </p>
      <p>
        We will never send you bank account, bitcoin address or other such
        things directly to your email.
      </p>
      <p>Neither we will never ask for your password via emails.</p>

      <h3>Still having trouble?</h3>
      <p>
        For questions about Trustroots Foundation and the website, see our
        <a ui-sref="faq.general">FAQ</a>.
      </p>

      <p>
        <a ui-sref="support">Contact us</a> if you have any further questions!
      </p>

      <p>
        <br />
        <a ui-sref="donate" class="btn btn-lg btn-primary"
          ><i class="icon-heart-alt"></i> Support Trustroots</a
        >
        <br />
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="sidebar">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="list-group">
              <a ui-sref="donate" class="list-group-item">Donate</a>
              <a ui-sref="donate-help" class="list-group-item active"
                >Donation help</a
              >
              <a ui-sref="donate-policy" class="list-group-item"
                >Donor policy</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- .sidebar -->
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
