<section class="board" tr-boards="'forestpath'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br /><br />
        <i class="icon-3x icon-heart-alt"></i>
        <br /><br />
        <h2>Support Trustroots</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
      <p class="lead">
        Trustroots is run entirely by donations. We are a non-profit
        <a ui-sref="foundation">foundation</a> registered in the United Kingdom
        in March 2015.
      </p>

      <h4>How will my donation be used?</h4>
      <p>
        Most our expenses are tech related; servers, services, domains and
        bandwidth. Additionally we have expenses from governing the foundation,
        such as legal consultation, handling our finances and accounting. In the
        future we consider paying salaries to get some of the work done. This
        said, we're mainly a volunteer organisation and that won't change. We
        are working on opening up our expenditures and governance soon.
      </p>
      <br />

      <h4>Is my donation tax deductible?</h4>
      <p>Unfortunately not at the moment.</p>
      <br />

      <h4>Which currencies do you accept?</h4>
      <p>
        You can donate via PayPal, which currently accepts nearly two dozen
        currencies.
      </p>
      <br />

      <h4>Can I donate bitcoin?</h4>
      <p>Yes!</p>
      <br />

      <h4>
        I’m unable to give money at this time, are there other ways I can help?
      </h4>
      <p>
        Yes! <a ui-sref="volunteering">Become a volunteer</a> and make a
        difference.
      </p>

      <hr />

      <p><a ui-sref="donate-help">Problems donating?</a></p>

      <br />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
      <p class="lead">
        <em
          >We're currently working on setting up ways to receive donations.
          Until that, this page gives you preliminary information about our
          funding model.</em
        >
      </p>

      <hr />

      <h2>Ways to Give</h2>

      <h3>Credit/debit card</h3>
      We don't have a credit card transfer set up yet at this point.

      <h3>Bank transfer</h3>
      We don't have a bank account set up yet at this point.

      <h3>Bitcoin</h3>
      <a ui-sref="support">Contact us</a> if you want to donate through Bitcoin.

      <h3>PayPal</h3>
      <a ui-sref="support">Contact us</a> if you want to donate through PayPal.

      <h3>Referal programs</h3>
      <h4>Namecheap</h4>
      We use and recommend Namecheap for domains, partly because they're a
      <a href="https://www.namecheap.com/about/causes.aspx"
        >responsible company</a
      >
      and foremost they do a great job. Sign up via
      <a href="https://www.namecheap.com/?aff=90636">this link</a> and we'll get
      little bit in return.
      <br />
      <h4>DigitalOcean</h4>
      Our servers are hosted at reliable and easy to use DigitalOcean. Sign up
      via
      <a href="https://www.digitalocean.com/?refcode=6dc078966c9c">this link</a>
      and when you start using their VPS service, we get 25$ to cover our
      hosting, you get 10$.

      <hr />

      <p>
        <small>
          By donating, you agree to share your personal information with the
          Trustroots Foundation, the non-profit organisation running
          Trustroots.org, pursuant to our
          <a ui-sref="donate-policy">donor policy</a>. Trustroots Foundation is
          located in the United Kingdom. We do not sell or trade your
          information to anyone.
        </small>
      </p>
    </div>
    <a
      class="btn btn-xs btn-primary pull-right"
      href="https://github.com/Trustroots/trustroots/edit/master/modules/pages/client/views/donate.client.view.html"
      rel="noopener noreferrer"
      target="_blank"
      >Edit this page<i class="icon-github icon-lg"></i
    ></a>
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
