<div class="faq-question" id="opensource">
  <h3>Is Trustroots open source?</h3>
  Yes! Our code is available on
  <a href="https://github.com/Trustroots/trustroots/">GitHub</a> and licensed
  under the
  <a href="https://github.com/Trustroots/trustroots/blob/master/LICENSE.md"
    >MIT License</a
  >.
</div>

<div class="faq-question" id="im-a-developer">
  <h3>I'm a developer and I want to help!</h3>
  Great! Read about <a href="http://team.trustroots.org/">development</a> and
  get in touch with us! We are looking for JavaScript developers (back- and
  frontend) and sysops.
</div>

<div class="faq-question" id="are-you-planning-to-do-x-feature">
  <h3>Are you planning to do X feature?</h3>
  See
  <a href="https://github.com/Trustroots/trustroots/projects/1">our roadmap</a>
  for our current todolist. Feel free to <a ui-sref="support">tell us</a> about
  your ideas! The current version of Trustroots is the most limited software you
  can imagine that still works for hospitality. We simply haven't had time to
  build most of the features yet. Please be patient and be mindful about
  <a href="http://www.productstrategymeanssayingno.com/">feature creep</a>.
</div>

<div class="faq-question" id="statistics">
  <h3>Do you have public statistics?</h3>
  Yep, see <a ui-sref="statistics">statistics</a> page for some basic
  statistics. We are planning to publish more thorough statistics eventually. If
  you are interested in analysing our data deeper, please
  <a ui-sref="contact">write to us</a>.
</div>

<div class="faq-question" id="f-droid">
  <h3>Could you offer mobile app at F-Droid store?</h3>
  We would love to! However, it seems we cannot because of how our mobile app is
  built.
  <br /><br />
  We don't have resources yet to build a separate "native app" for Android so
  we're using <a href="https://expo.io/">Expo.io</a> framework instead.
  <br /><br />
  Using Expo
  <a href="https://forum.f-droid.org/t/expo-and-react-native-apps/701"
    >seems to block</a
  >
  inclusion to F-Droid, although we don't directly use any of the services
  mentioned in the blocking list but Expo itself might. Expo is an
  <a href="https://github.com/expo">open source</a> project. <br /><br />
  However, you can simply download our apk file manually:
  <a href="http://apk.trustroots.org">apk.trustroots.org</a> — this version
  might not support all the features though, such as push notifications.
  <br /><br />
  If you would like to help solve this,
  <a href="https://github.com/Trustroots/trustroots-expo-mobile"
    >get in touch!</a
  >
</div>
