<div class="faq-question" id="what-are-tribes">
  <H3>What are Tribes?</h3>
  Trustroots Tribes are a way for you to immediately find the people you will easily connect with.
  And vice versa. Imagine walking around in a city you're visiting for the first time and suddently you start receiving invitations from people
  to stay with them or go to awesome or inspiring events, or just to a dumpster dive dinner.
  That's the adventure Trustroots wants to enable. And Tribes is a step towards this.
  <br><br>
  You can start now by joining Tribes that you identify yourself with.
  Soon we'll add ways to the site that will fill your trips and your life with adventure.
  <br><br>
  See also <a href="http://ideas.trustroots.org/2016/05/09/introducing-trustroots-tribes/">the blog post</a> introducing Tribes.
</div>
