<section class="board faq-header" tr-boards="['happyhippies', 'guitarcamper']">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="visible-xs-block">FAQ</h2>
        <h2 class="hidden-xs">Frequently Asked Questions</h2>
        <h3 ng-if="faq.category === 'general'">about the site & community</h3>
        <h3 ng-if="faq.category === 'tribes'">about tribes</h3>
        <h3 ng-if="faq.category === 'foundation'">about the foundation</h3>
        <h3 ng-if="faq.category === 'technology'">about technology</h3>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4">

      <div id="faq-sidebar" class="sidebar" zum-waypoint="faq.waypoints" down="flags.on" up="flags.off" ng-class="{'sidebar-sticky': faq.waypoints.flags.on && faq.allowStickySidebar}">

        <!-- Site & Community -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ui-sref=".general" class="undecorated-link text-color">
                Site & community
              </a>
            </h3>
          </div>
          <div class="panel-body" ng-if="faq.category === 'general'">
            <div class="list-group">
              <a ui-sref=".general({'#': 'is-trustroots-exclusively-for-hitchhikers'})" class="list-group-item">
                Is Trustroots exclusively for hitchhikers?
              </a>
              <a ui-sref=".general({'#': 'what-is-your-long-term-vision'})" class="list-group-item">
                What is your long term vision?
              </a>
              <a ui-sref=".general({'#': 'is-trustroots-alternative'})" class="list-group-item">
                Is Trustroots an alternative for CouchSurfing or BeWelcome?
              </a>
              <a ui-sref=".general({'#': 'is-there-mobile-app'})" class="list-group-item">
                Is there a mobile app?
              </a>
              <a ui-sref=".general({'#': 'how-is-this-connected-to-hitchwiki-nomadwiki-or-trashwiki'})" class="list-group-item">
                How is this connected to Hitchwiki, Nomadwiki or Trashwiki?
              </a>
              <a ui-sref=".general({'#': 'why-the-name-trustroots'})" class="list-group-item">
                Why the name Trustroots?
              </a>
              <a ui-sref=".general({'#': 'why-is-trustroots-invite-only'})" class="list-group-item" ng-if="app.appSettings.invitationsEnabled">
                Why is Trustroots invite only?
              </a>
              <a ui-sref=".general({'#': 'how-waitinglist-works'})" class="list-group-item" ng-if="app.appSettings.invitationsEnabled">
                How waitinglist works?
              </a>
              <a ui-sref=".general({'#': 'i-did-not-receive-invite-code'})" class="list-group-item" ng-if="app.appSettings.invitationsEnabled">
                I did not receive invite code
              </a>
              <a ui-sref=".general({'#': 'why-is-there-facebook-connection'})" class="list-group-item">
                Why is there Facebook connection?
              </a>
              <a ui-sref=".general({'#': 'why-is-there-no-forum'})" class="list-group-item">
                Why is there no forum?
              </a>
              <a ui-sref=".general({'#': 'why-was-my-account-suspended'})" class="list-group-item">
                Why was my account suspended?
              </a>
              <a ui-sref=".general({'#': 'how-can-i-remove-my-account'})" class="list-group-item">
                How can I remove my account?
              </a>
              <a ui-sref=".general({'#': 'how-can-i-help'})" class="list-group-item">
                How can I help?
              </a>
              <a ui-sref=".general({'#': 'how-can-i-contact-you'})" class="list-group-item">
                How can I contact you?
              </a>
            </div>
          </div>
        </div>

        <!-- Foundation -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ui-sref=".foundation" class="undecorated-link text-color">
                Foundation
              </a>
            </h3>
          </div>
          <div class="panel-body" ng-if="faq.category === 'foundation'">
            <div class="list-group">
              <a ui-sref=".foundation({'#': 'what-is-your-legal-status'})" class="list-group-item">
                What's your legal status?
              </a>
              <a ui-sref=".foundation({'#': 'why-limited-by-guarantee'})" class="list-group-item">
                Why Limited by Guarantee under section 60 exemption?
              </a>
              <a ui-sref=".foundation({'#': 'are-you-going-to-sell-out'})" class="list-group-item">
                Could Trustroots assets be sold?
              </a>
              <a ui-sref=".foundation({'#': 'who-are-the-board'})" class="list-group-item">
                Who are the board?
              </a>
              <a ui-sref=".foundation({'#': 'how-do-you-want-to-make-the-project-financially-sustainable'})" class="list-group-item">
                How do you want to make the project financially sustainable?
              </a>
              <a ui-sref=".foundation({'#': 'who-decides-what-gets-done'})" class="list-group-item">
                Who decides what gets done?
              </a>
            </div>
          </div>
        </div>

        <!-- Tribes -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ui-sref=".tribes" class="undecorated-link text-color">
                Tribes
              </a>
            </h3>
          </div>
          <div class="panel-body" ng-if="faq.category === 'tribes'">
            <div class="list-group">
              <a ui-sref=".tribes({'#': 'what-are-tribes'})" class="list-group-item">
                What are Tribes?
              </a>
              <a ui-sref=".tribes({'#': 'no-suitable-tribes'})" class="list-group-item">
                I don't find a tribe that suits me
              </a>
            </div>
          </div>
        </div>

        <!-- Technology -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ui-sref=".technology" class="undecorated-link text-color">
                Technology
              </a>
            </h3>
          </div>
          <div class="panel-body" ng-if="faq.category === 'technology'">
            <div class="list-group">
              <a ui-sref=".technology({'#': 'opensource'})" class="list-group-item">
                Is Trustroots open source?
              </a>
              <a ui-sref=".technology({'#': 'im-a-developer'})" class="list-group-item">
                I'm a developer and I want to help!
              </a>
              <a ui-sref=".technology({'#': 'are-you-planning-to-do-x-feature'})" class="list-group-item">
                Are you planning to do X feature?
              </a>
              <a ui-sref=".technology({'#': 'statistics'})" class="list-group-item">
                Do you have public statistics?
              </a>
              <a ui-sref=".technology({'#': 'f-droid'})" class="list-group-item">
                Could you offer mobile app at F-Droid store?
              </a>
            </div>
          </div>
        </div>

      </div><!-- .sidebar -->

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div ui-view class="ui-view-slide-reveal"></div>
      <br><br>
      <hr>
      <p class="lead text-center" id="more-questions">
        More questions? <a ui-sref="support">Ask us!</a>
        <br><br>
        See also our <a href="https://ideas.trustroots.org/">blog</a> and <a ui-sref="home">about</a> page.
      </p>
    </div>

  </div><!-- /.row -->

</section><!-- /.container -->
