<section class="board guide-header" tr-boards="'happyhippies'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br /><br />
        <h2>Trustroots Guide</h2>
        <h3>For Writing Great Messages</h3>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <h3>Make sure your profile is complete</h3>
      <p class="lead">
        You're much more likely to get a positive response if you have written a
        bit about yourself.
      </p>

      <p>
        Make sure your own profile is complete. You're much more likely to get a
        positive response if you have written a bit about yourself. Absolute
        bare minimum: links to profiles elsewhere.
      </p>
      <p>
        A good profile picture can definitely help you get responses from many
        people.
      </p>

      <br />

      <h3>Explain to them why you are choosing them</h3>
      <p class="lead">
        ...explaining that you are interested in meeting them, not just looking
        for free accommodation.
      </p>
      <p>
        Read their profiles. If someone is vegan you don't want to tell them how
        you want to try Currywurst (unless it's vegan Currywurst of course). You
        also want to look for things in common, e.g. you both hitchhiked through
        Syria (and survived).
      </p>

      <br />

      <h3>Tell your host why you're on a trip</h3>
      <p class="lead">
        What are your expectations in regards with going through their town?
      </p>
      <p>Write a little bit about yourself in the message. No essay though.</p>

      <br />

      <h3>Trustroots is very much about spontaneous travel</h3>
      <p class="lead">Don't write to people 2 months ahead.</p>

      <br />

      <p>
        <a ui-sref="profile-edit.about" class="btn btn-lg btn-default"
          >Fill your profile</a
        >
        <a ui-sref="search.map" class="btn btn-lg btn-default">Find members</a>
      </p>

      <h3>More information</h3>

      <ul>
        <li>
          <a
            href="https://wiki.trustroots.org/en/How_to_write_a_hosting_request"
            rel="noopener noreferrer"
            target="_blank"
            >Trustroots Wiki: how to write a hosting request</a
          >
        </li>
        <li>
          <a
            href="https://www.bewelcome.org/wiki/Writing_your_host"
            rel="noopener noreferrer"
            target="_blank"
            >BeWelcome: Writing to your host</a
          >
        </li>
      </ul>

      <a
        class="btn btn-xs btn-primary pull-right"
        href="https://github.com/Trustroots/trustroots/edit/master/modules/pages/client/views/guide.client.view.html"
        rel="noopener noreferrer"
        target="_blank"
        >Edit this page<i class="icon-github icon-lg"></i
      ></a>
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
