
<section class="board board-primary container home-intro"
         ng-if="::!app.user"
         tr-boards="::home.boards"
         tr-boards-ignore-small
         ng-style="{ height: home.boardHeight }">
  <div class="middle-wrapper middle-wrapper-horizontal">
    <div class="middle-content">

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <img class="home-logo hidden-xs center-block" src="/img/logo/white.svg" alt="Trustroots" width="210" height="210" aria-hidden="true">
          <img class="home-logo visible-xs-block center-block" src="/img/logo/white.svg" alt="Trustroots" width="130" height="130" aria-hidden="true">
          <h1 class="sr-only">Trustroots</h1>
          <h3 class="home-tagline">Travellers' community</h3>
          <h4 class="home-subtagline">Sharing, hosting and getting people together.</h4>
          <a ui-sref="signup" class="btn btn-action btn-default home-join hidden-xs">
            Join Trustroots now
          </a>
          <div class="home-apps">
            <a href="https://play.google.com/store/apps/details?id=org.trustroots.trustrootsApp"
               rel="noopener"
               class="btn btn-lg btn-default">
              <i class="icon-android"></i>
              Play Store
            </a>
            <a href="https://ideas.trustroots.org/please-let-know-ios-app-comes-out/"
               rel="noopener"
               class="btn btn-lg btn-default">
              <i class="icon-apple"></i>
              App Store
            </a>
          </div>
          <div class="home-down hidden-xs">
            <i class="icon-down"></i>
          </div>
        </div>
      </div><!-- .row -->
    </div>
  </div>
</section>

<!-- How does it work -->
<section class="home-how">
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-center lead">
        <div class="icon-sofa icon-3x text-muted"></div>
        <br>
        <h2 class="font-brand-light">How does it work?</h2>
        <br>
        <p class="font-brand-light">
          Have a look! Travel anywhere and easily find great people who want to meet you as well. See where other travellers are and help each other out, whether through welcoming them to your home, sharing your stories or becoming friends.
          <br><br>
          Trustroots is over <a ui-sref="statistics">30,000 members</a> strong!
        </p>
      </div>
      <div class="col-md-7">
        <div class="home-browser">
          <div class="home-browser-circle"></div>
          <div class="home-browser-circle"></div>
          <div class="home-browser-circle"></div>
          <div class="home-browser-screenshot home-browser-screenshot-search"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Share -->
<section class="home-how">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 hidden-xs hidden-sm">
        <div class="home-browser">
          <div class="home-browser-circle"></div>
          <div class="home-browser-circle"></div>
          <div class="home-browser-circle"></div>
          <div class="home-browser-screenshot home-browser-screenshot-profile"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-5 text-center lead">
        <div class="home-wohoo center-block hidden-xs hidden-sm"></div>
        <p class="font-brand-light">
          <br class="hidden-xs hidden-sm"/>
          Share the beautiful you with the world.
          <br><br>
          Put yourself in the shoes of others: what would you like to know about your travel buddies? What should they know about you?
          <br><br>
          Be genuine yourself.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Tribes -->
<section class="home-how">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-push-1 col-sm-3 col-sm-push-6">
        <div class="text-center tribe-intro">
          <h2 class="font-brand-light">Tribes</h2>
          <p class="font-brand-light">
            Joining Tribes helps you find likeminded Trustroots members and tells others what you're interested in.
            <br><br>
            <a ui-sref="tribes.list" class="btn btn-default btn-lg">More Tribes</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 visible-xs tribes-xs">
        <a ui-sref="tribes.tribe({tribe: tribe.slug})"
           class="img-circle tribe-xs tribe-image"
           ng-repeat="tribe in home.tribes | limitTo:3 track by tribe._id"
           tr-tribe-styles="{{::tribe}}"
           tr-tribe-styles-dimensions="520x520"
           tr-tribe-styles-quality="lightest"
           tr-tribe-styles-progressive="yes">
          <span ng-if="::!tribe.image_UUID" ng-bind="::tribe.label.charAt(0)"></span>
        </a>
      </div>
      <div class="col-sm-3 hidden-xs"
           ng-class="{ 'col-sm-pull-3': !$last }"
           ng-repeat="tribe in home.tribes | limitTo:3 track by tribe._id">
        <div class="img-circle tribe tribe-image"
             tr-tribe-styles="{{::tribe}}">
          <a ui-sref="tribes.tribe({tribe: tribe.slug})" class="tribe-link">
            <h3 class="tribe-label" ng-bind="::tribe.label"></h3>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Manifesto -->
<section class="board board-primary board-inset"
         tr-boards="'mountainforest'"
         id="manifesto">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center lead font-brand-light">
        <div ng-include="'/modules/pages/views/manifesto-text.client.partial.html'"></div>
        <p ng-if="::!app.user">
          <br><br>
          <a ui-sref="signup" class="btn btn-lg btn-action btn-default">Join Trustroots</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<section class="board board-primary board-inset home-footer" tr-boards="'bokeh'">
  <div class="container">

    <div class="row">
    <div class="col-sm-6 col-md-3">
        <h3 class="font-brand-light">Foundation</h3>
        <p>Owned and operated by Trustroots Foundation, a non-profit registered in the United Kingdom since March 2015.</p>
        <p><i class="icon-right"></i> <a ui-sref="foundation" class="home-footer-more font-brand-semibold">Learn more</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3 class="font-brand-light">Team</h3>
        <p>Trustroots is being built by a small team of activists who felt that the world of sharing is being taken over by corporations trying to monetize people's willingness to help each other. Same team brought you also <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://trashwiki.org/">Trashwiki</a> and <a href="http://nomadwiki.org/">Nomadwiki</a>.</p>
        <p><i class="icon-right"></i> <a ui-sref="team" class="home-footer-more font-brand-semibold">Meet the team</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3 class="font-brand-light">Free and open source</h3>
        <p>We think it's a shame that former non profits have been sold to venture capital. We've been running other notable free and open projects for a decade now and we hope our deeds so far speak for us.</p>
        <p><i class="icon-right"></i> <a href="http://developers.trustroots.org/" class="home-footer-more font-brand-semibold">For developers</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul class="list-unstyled home-footer-pages font-brand-light">
          <li><a ui-sref="faq.general">FAQ</a></li>
          <li><a href="https://ideas.trustroots.org/">Blog</a></li>
          <li><a href="https://shop.trustroots.org/">Shop</a></li>
          <li><a ui-sref="volunteering">Volunteering</a></li>
          <li><a ui-sref="media">Media</a></li>
          <li><a ui-sref="support">Contact & support</a></li>
        </ul>
      </div>
    </div>

    <div class="row text-center">
      <hr class="hr-white hr-xs" />

      <div class="home-apps">
        <a href="https://play.google.com/store/apps/details?id=org.trustroots.trustrootsApp"
           rel="noopener"
           class="btn btn-lg btn-default">
          <i class="icon-android"></i>
          Play Store
        </a>
        <a href="https://ideas.trustroots.org/please-let-know-ios-app-comes-out/"
           rel="noopener"
           class="btn btn-lg btn-default">
          <i class="icon-apple"></i>
          App Store
        </a>
      </div>

      <ul class="list-inline home-footer-some">
        <li>
          <a href="https://www.facebook.com/trustroots.org"
             uib-tooltip="Facebook"
             aria-label="Trustroots at Facebook">
            <i class="icon-facebook icon-lg"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/trustroots"
             uib-tooltip="Twitter"
             aria-label="Trustroots at Twitter">
            <i class="icon-twitter icon-lg"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/trustroots_org/"
             uib-tooltip="Instagram"
             aria-label="Trustroots at Instagram">
            <i class="icon-instagram icon-lg"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/Trustroots/trustroots"
             uib-tooltip="GitHub"
             aria-label="Trustroots at GitHub">
            <i class="icon-github icon-lg"></i>
          </a>
        </li>
      </ul>

      <small ng-if="app.photoCreditsCount" class="font-brand-light">
        <span tr-board-credits></span>
      </small>

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>
