<section class="board" tr-boards="'mountainforest'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br>
        <h2>Privacy</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"
         itemscope
         itemtype="http://schema.org/Article">

        <h1 itemprop="name">Trustroots Privacy Policy</h1>

        <p class="text-muted" itemprop="datePublished" datetime="2014-12-23">
          <time itemprop="dateModified" datetime="2017-07-20">
            Last updated on July 20th, 2017
          </time>
        </p>

        <div itemprop="articleBody">

          <p class="lead"><em>We aim to keep this privacy policy as clear, concise, and easy to understand as possible. We are committed to being transparent and open. This article explains generally how we receive information about you, and what we do with that information once we have it.</em></p>

          <h3>Your data is yours</h3>

          Users on Trustroots can download their profile, contact and hosting data through the <span ng-if="!app.user">Account settings</span><a ui-sref="profile-edit.account" ng-if="app.user">Account settings</a>.

          <br><br>

          You are able to remove your info from the system by asking us to delete your account through the <span ng-if="!app.user">Account settings</span><a ui-sref="profile-edit.account" ng-if="app.user">Account settings</a>.

          <br><br>

          We will never, ever sell your profile data to anyone or try to otherwise use it commercially.

          <h3>Information about you</h3>
          This information is collected when you provide it to us (like when you fill your profile) or use features of our service (like messaging).

          <br><br>

          <ul>
            <li>Basic profile information such as name, email, language, name, picture, gender, age, living location, usernames in other networks.</li>
            <li>Messages from and to other members</li>
            <li>Information about you from other members; references</li>
            <li>Information from 3rd party once you connect your account to them</li>
          </ul>

          Via mobile devices you may also share content to Trustroots via your device's camera, location sensor or address book. This data is never published or used without your consent and it is always clarified when you are about to give this information to us.

          <h3>Analytics &amp; opting out</h3>

          Using Analytics we automatically collect information such as usage times, browser details, screen size, network location (IP), country, language etc. This information is anonymized and never published so that individual users cannot be recognized.

          <br><br>

          Trustroots uses <a href="https://www.google.com/analytics/">Google Analytics</a> to collect usage, device and browser statistics.

          <br><br>

          To opt out of analytics tracking, you can either:
          <ul>
            <li>Install Google's official <a href="https://tools.google.com/dlpage/gaoptout">opt out extension</a></li>
            <li>Install <a href="https://www.ghostery.com/">Ghostery</a>,
              <a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">Noscript</a>,
              <a href="https://disconnect.me/">Disconnect</a> or
              <a href="https://github.com/gorhill/uBlock">uBlock</a>.
              These browser extensions will disable all known JavaScript
              trackers and ensure that your browser does not send a request to
              external tracking servers.
            </li>
          </ul>

          If you wish to stay completely anonymous online, please check this guide by Piwik:<br>
          <a href="https://piwik.org/wp-content/uploads/2012/01/How-to-remain-anonymous-online.pdf">How to remain anonymous online? (PDF)</a>.

          <h3>Social networks</h3>

          Some of the features on Trustroots use other social networks such as Twitter, Facebook, GitHub or Gravatar. You don't have to connect your profile to these and we don't share any data with these networks. We only crawl information you give us access to and show it on your profile if you want to. Some of the data from these sites is then stored on our server.

          <br><br>

          Some of our users want to use these networks and they have a right to do so. Others prefer to steer away from these networks and we'll also accommodate these users.

          <h3>Your emails</h3>

          We route all our emails using <a href="https://www.sparkpost.com/">SparkPost</a> servers.

          <h3>Our server</h3>

          Our server (and thus your data) is securely hosted at <a href="https://www.digitalocean.com/?refcode=6dc078966c9c" title="(Referral link)">DigitalOcean</a> in Amsterdam, Europe.

          <h3>Research</h3>

          Scientific trust metric research might be done with Trustroots data, but in such case the data is always anonymized and it will be impossible to recognize individual users from it.

        </div>

        <hr>

        <p class="lead">Questions? <a ui-sref="support">Drop us a line!</a></p>


        <p><small class="text-muted">Content available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="text-muted">Creative Commons licence</a>.</small></p>
    </div>
  </div><!-- /.row -->
</section><!-- /.container -->
