<p>We want a world that encourages <a ui-sref="about">trust,
adventure and intercultural connections</a>. For that to happen
through Trustroots we have written down some basic rules that apply to
everyone. Please respect these rules:</p>

<p class="lead">
  <ul>
    <li>Be friendly and know when to stop emailing someone.</li>
    <li>Keep our community clean from spam and ads.</li>
    <li>Be a human being: write messages specifically for their recipient.</li>
    <li>Respect copyrights: stay within your rights if you want to share
    other people's texts and images - check their legal status!</li>
    <li>Make your own profile. One person, one profile -- use your alias or real name.</li>
    <li>Be yourself, helpful, kind, responsible and respectful of others.</li>
  </ul>
</p>

<p>We try to keep our rules simple and we value transparency. We'll
update these rules as needed.</p>

<p>See also our page about <a ui-sref="privacy">privacy</a>.</p>
