<section class="board" tr-boards="'forestpath'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br>
        <h2>Rules</h2>
      </div>
    </div>
  </div>
</section>

  <section class="container container-spacer">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <div ng-include="'/modules/pages/views/rules-text.client.partial.html'"></div>
        <p>See also our page about <a ui-sref="privacy">privacy</a>.</p>
        <p class="lead"><em>Thank you!</em></p>
      </div>
    </div><!-- /.row -->
  </section><!-- /.container -->
