<section class="container container-spacer">

  <!-- Intro -->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
        <a ui-sref="home" class="logo logo-sm logo-blue center-block"></a>
        <hr/>
        <p class="lead">
          We are a group of hospitality exchange enthusiasts with backgrounds in some notable projects. The same people who also brought you <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://trashwiki.org/">Trashwiki</a>, <a href="http://nomadwiki.org/">Nomadwiki</a> & more.
        </p>
        <hr/>
    </div>
  </div><!-- /.row -->

  <!-- Board -->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h2 id="board">Board</h2>
      <p><a ui-sref="foundation">Trustroots Foundation</a></p>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">

      <!-- Mikael -->
      <div class="media">
        <a class="pull-left" href="http://www.mikaelkorpela.fi/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/d0229f23745d3c266f81c6b0cd014a38?s=100" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Mikael</h4>
          <p class="text-color-links">
            Volunteering in big freegan projects such as <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://hitchgathering.org/">Hitchgathering festival</a>, <a href="http://trashwiki.org/">Trashwiki</a> and <a href="http://nomadwiki.org/">Nomadwiki</a> since 2008. In the past has volunteered for BeWelcome (2013). Active open source contributor and visionary free/gift-economics activist.
          </p>
          <p>
            <a href="http://www.mikaelkorpela.fi/" class="text-muted">mikaelkorpela.fi</a>
            <a href="https://twitter.com/simison" tooltip-placement="bottom" tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/simison" tooltip-placement="bottom" tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="http://www.linkedin.com/in/mikaelkorpela" tooltip-placement="bottom" tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Carlos -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/modules/pages/img/team-carlos.jpg" width="100" alt="">
        <div class="media-body">
          <h4 class="media-heading">Carlos</h4>
          <p class="text-color-links">
            Love to travel, passionate and enthusiastic about share economy and hospitality exchange as human development tools. Volunteered CouchSurfing from 2008 to 2010 as well as other NGOs.
          </p>
          <p>
            <a href="https://www.linkedin.com/pub/carlos-cardenas/26/711/19" tooltip-placement="bottom" tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Natalia -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/modules/pages/img/team-natalia.jpg" width="100" alt="">
        <div class="media-body">
          <h4 class="media-heading">Natalia</h4>
          <p class="text-color-links">
            Coming from a multinational business background, Natalia is an enthusiastic of the share and gift economy. Veteran globetrotter and volunteer for different NGOs from hospex as Couchsurfing to nonprofit lobbying orgs.
          </p>
          <p>
            <a href="https://www.linkedin.com/pub/natalia-s%C3%A1enz-alban%C3%A9s/27/692/384" tooltip-placement="bottom" tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-5">

      <!-- Callum -->
      <div class="media">
        <a class="pull-left" href="http://www.callum-macdonald.com/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/1e2eebc68bae7e891391688ad1c331d1?s=100" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Callum</h4>
          <p class="text-color-links">
            Long term nomad and technology expert. Volunteered for BeWelcome BoD in 2013 and for CouchSurfing in 2007.
          </p>
          <p>
            <a href="http://www.callum-macdonald.com/" class="text-muted">callum-macdonald.com</a>
            <a href="https://twitter.com/chmac" tooltip-placement="bottom" tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/chmac" tooltip-placement="bottom" tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="http://www.linkedin.com/in/chmac" tooltip-placement="bottom" tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Kasper -->
      <div class="media">
        <a class="pull-left" href="http://kasper.re/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/edccc1f234833b3b5c266c18c2db139d?s=100" width="100" alt="Kasper">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Kasper</h4>
          <p class="text-color-links">
            Founded multiple popular and trusted websites such as <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://trashwiki.org/">Trashwiki</a>, <a href="http://nomadwiki.org/">Nomadwiki</a>, <a href="http://couchwiki.org/">Couchwiki</a>, <a href="http://coinwiki.info/">Coinwiki</a> and <a href="http://deletionpedia.org/">Deletionpedia</a>.
            Volunteered for CouchSurfing as a tech team coordinator in 2006 and 2007 and for <a href="https://www.bewelcome.org/">BeWelcome</a> since 2007.
            Loves paradoxes and works also on <a href="https://moneyless.org/">moneyless.org</a>.
          </p>
          <p>
            <a href="http://kasper.re/" class="text-muted">kasper.re</a>
            <a href="https://twitter.com/guaka" tooltip-placement="bottom" tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/guaka" tooltip-placement="bottom" tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="http://www.linkedin.com/in/guaka" tooltip-placement="bottom" tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

    </div>
  </div><!-- /.row -->


  <!-- Volunteers -->
  <div class="row" id="volunteering">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <br><br>
      <h2>Volunteering</h2>
      <br><br>
      <p>
        <em class="lead">
          Help us build Trustroots! Nobody can do everything, but everyone can do something. <a href="https://github.com/trustroots/trustroots/wiki/volunteering">Get active!</a>
        </em>
      </p>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-xs-12 text-center">
      <br><br>
      <p class="text-muted">Follow Trustroots</p>
      <div class="btn-group">
        <a href="http://ideas.trustroots.org/" class="btn btn-link btn-lg">Blog</a>
        <a href="http://ideas.trustroots.org/newsletter/" class="btn btn-link btn-lg">Newsletter</a>
        <a href="https://www.facebook.com/trustroots.org" class="btn btn-link btn-lg">Facebook</a>
        <a href="https://twitter.com/trustroots" class="btn btn-link btn-lg">Twitter</a>
        <a href="https://plus.google.com/+TrustrootsOrg" class="btn btn-link btn-lg">+Google</a>
        <a href="https://github.com/Trustroots" class="btn btn-link btn-lg">Github</a>
      </div>
      <br><br>
    </div>
  </div><!-- /.row -->

</section><!-- /.container -->
