<section class="container container-spacer">

  <!-- Intro -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
        <img class="hidden-xs" src="/img/tree-color.svg" alt="Trustroots" width="120" height="120" />
        <br><br>
        <h1>Trustroots Teams</h1>
        <p class="lead">
          <em>“If you want to go fast, go alone. If you want to go far, go together.”</em>
        </p>
        <small class="text-muted">African proverb</small>
        <hr/>
    </div>
  </div>

  <!-- Volunteers -->
  <div class="row text-center" id="volunteering">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <br><br>
      <h2>Volunteering</h2>
      <br><br>
      <p>
        <em class="lead">
          Help us build Trustroots!
          <br/> Nobody can do everything, but everyone can do something.
        </em>
      </p>
      <p>
        <a href="https://team.trustroots.org/Volunteering.html">Get active!</a>
      </p>
    </div>
  </div>

  <hr />

  <!-- Board -->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h2 id="board">Board</h2>
      <h5><a ui-sref="foundation" class="text-uppercase">Trustroots Foundation</a></h5>
      <p>We are a group of hospitality exchange enthusiasts with backgrounds in
        some notable projects. The same people who also brought you
        <a href="http://hitchwiki.org/">Hitchwiki</a>,
        <a href="http://trashwiki.org/">Trashwiki</a>,
        <a href="http://nomadwihki.org/">Nomadwiki</a> & more.</p>
      <p>All current board members are also members of the founding
        team. We will have non-founding members in the board at some
        point.</p>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- Mikael -->
      <div class="media">
        <a class="pull-left" href="http://www.mikaelkorpela.fi/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/d0229f23745d3c266f81c6b0cd014a38?s=200" width="100" alt="Mikael">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Mikael</h4>
          <p class="text-color-links">
            Working on big freegan/travel projects such as <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://hitchgathering.org/">Hitchgathering festival</a>, <a href="http://trashwiki.org/">Trashwiki</a> and <a href="http://nomadwiki.org/">Nomadwiki</a> since 2008. In the past has volunteered for BeWelcome (2013). Active open source contributor and visionary free/gift-economics activist. A developer at <a href="https://automattic.com/">Automattic</a>.
          </p>
          <p>
            <a href="https://www.mikaelkorpela.fi/" class="text-muted">mikaelkorpela.fi</a>
            <a ui-sref="profile.about({username: 'mikael'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://twitter.com/simison" tooltip-placement="bottom" uib-tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/simison" tooltip-placement="bottom" uib-tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="https://www.linkedin.com/in/mikaelkorpela" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>
      <br><br>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- Natalia -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/img/team-natalia.jpg" width="100" alt="Natalia">
        <div class="media-body">
          <h4 class="media-heading">Natalia</h4>
          <p class="text-color-links">
            Coming from a multinational business background, Natalia is an enthusiastic of the share and gift economy. Veteran globetrotter and volunteer for different NGOs from hospex as Couchsurfing to nonprofit lobbying orgs.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'natalia_sevilla'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://www.linkedin.com/in/natalia-s%C3%A1enz-alban%C3%A9s-38469227/" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- Kasper -->
      <div class="media">
        <a class="pull-left" href="https://guaka.org/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/edccc1f234833b3b5c266c18c2db139d?s=200" width="100" alt="Kasper">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Kasper</h4>
          <p class="text-color-links">
            Founded multiple popular and trusted websites such as <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://trashwiki.org/">Trashwiki</a>, <a href="http://nomadwiki.org/">Nomadwiki</a>, <a href="http://couchwiki.org/">Couchwiki</a> and <a href="http://deletionpedia.org/">Deletionpedia</a>.
            Volunteered for CouchSurfing as a tech team coordinator in 2006 and 2007 and for <a href="https://www.bewelcome.org/">BeWelcome</a> since 2007.
            Loves paradoxes, makes money with <a href="https://moneyless.org/">moneyless.org</a>.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'guaka'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://github.com/guaka" tooltip-placement="bottom" uib-tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="https://guaka.org/" class="text-muted">guaka.org</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- Support team -->
  <div class="row" id="support-team">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h2 id="board">Support team</h2>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <!-- Noah -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/img/team-noah.jpg" width="100" alt="Noah">
        <div class="media-body">
          <h4 class="media-heading">Noah</h4>
          <p class="text-color-links">
	          Focussed on community building. Technical know-how in various fields. Likes to create safe spaces everywhere around the world, digital and analog ones.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'noah_my_noah'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- Dario -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/img/team-dario.jpg" width="100" alt="Dario">
        <div class="media-body">
          <h4 class="media-heading">Dario</h4>
          <p class="text-color-links">
            Likes to contribute to projects empowering people, putting them in control of their own resources. Currently reeducating himself to work as a software developer.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'rumwerfer'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h2>Initial Co-Founders</h2>
      <p>Callum and Carlos were also part of the founding team.</p>
      <br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <!-- Callum -->
      <div class="media">
        <a class="pull-left" href="https://www.callum-macdonald.com/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/1e2eebc68bae7e891391688ad1c331d1?s=100" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Callum</h4>
          <p class="text-color-links">
            Long term nomad and technology expert. Volunteered for BeWelcome BoD in 2013 and for CouchSurfing in 2007.
          </p>
          <p>
            <a href="https://www.callum-macdonald.com/" class="text-muted">callum-macdonald.com</a>
            <a ui-sref="profile.about({username: 'chmac'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://twitter.com/chmac" tooltip-placement="bottom" uib-tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/chmac" tooltip-placement="bottom" uib-tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="https://www.linkedin.com/in/chmac" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- Carlos -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/img/team-carlos.jpg" width="100" alt="Carlos">
        <div class="media-body">
          <h4 class="media-heading">Carlos</h4>
          <p class="text-color-links">
            Love to travel, passionate and enthusiastic about share economy and hospitality exchange as human development tools. Volunteered CouchSurfing from 2008 to 2010 as well as other NGOs.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'carlos'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://www.linkedin.com/in/carlosmcardenas/" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <hr >
      <a class="btn btn-xs btn-primary pull-right" href="https://github.com/Trustroots/trustroots/edit/master/modules/pages/client/views/team.client.view.html" rel="noopener noreferrer" target="_blank">Edit this page<i class="icon-github icon-lg"></i></a>
      <br><br>
      <p class="text-muted">Follow Trustroots</p>
      <div class="btn-group">
        <a href="https://ideas.trustroots.org/" class="btn btn-link btn-lg">Blog</a>
        <a href="https://www.facebook.com/trustroots.org" class="btn btn-link btn-lg">Facebook page</a>
        <a href="https://www.facebook.com/groups/trustroots/" class="btn btn-link btn-lg">Facebook group</a>
        <a href="https://twitter.com/trustroots" class="btn btn-link btn-lg">Twitter</a>
      </div>
      <br><br>
    </div>
  </div>

</section>
