<section class="container container-spacer">

  <!-- Intro -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
        <img class="hidden-xs" src="/img/tree-color.svg" alt="Trustroots" width="120" height="120" />
        <br><br>
        <h1>Trustroots Team</h1>
        <p class="lead">
          <em>“If you want to go fast, go alone. If you want to go far, go together.”</em>
        </p>
        <small class="text-muted">African proverb</small>
        <hr/>
    </div>
  </div><!-- /.row -->

  <!-- Board -->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h2 id="board">Board</h2>
      <h5><a ui-sref="foundation" class="text-uppercase">Trustroots Foundation</a></h5>
      <p>We are a group of hospitality exchange enthusiasts with backgrounds in some notable projects. The same people who also brought you <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://trashwiki.org/">Trashwiki</a>, <a href="http://nomadwiki.org/">Nomadwiki</a> & more.</p>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">

      <!-- Mikael -->
      <div class="media">
        <a class="pull-left" href="http://www.mikaelkorpela.fi/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/d0229f23745d3c266f81c6b0cd014a38?s=200" width="100" alt="Mikael">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Mikael</h4>
          <p class="text-color-links">
            Working on big freegan/travel projects such as <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://hitchgathering.org/">Hitchgathering festival</a>, <a href="http://trashwiki.org/">Trashwiki</a> and <a href="http://nomadwiki.org/">Nomadwiki</a> since 2008. In the past has volunteered for BeWelcome (2013). Active open source contributor and visionary free/gift-economics activist. A developer at <a href="https://automattic.com/">Automattic</a>.
          </p>
          <p>
            <a href="https://www.mikaelkorpela.fi/" class="text-muted">mikaelkorpela.fi</a>
            <a ui-sref="profile.about({username: 'mikael'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://twitter.com/simison" tooltip-placement="bottom" uib-tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/simison" tooltip-placement="bottom" uib-tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="https://www.linkedin.com/in/mikaelkorpela" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Carlos -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/img/team-carlos.jpg" width="100" alt="Carlos">
        <div class="media-body">
          <h4 class="media-heading">Carlos</h4>
          <p class="text-color-links">
            Love to travel, passionate and enthusiastic about share economy and hospitality exchange as human development tools. Volunteered CouchSurfing from 2008 to 2010 as well as other NGOs.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'carlos'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://www.linkedin.com/in/carlosmcardenas/" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-5">

      <!-- Natalia -->
      <div class="media">
        <img class="media-object img-circle pull-left" src="/img/team-natalia.jpg" width="100" alt="Natalia">
        <div class="media-body">
          <h4 class="media-heading">Natalia</h4>
          <p class="text-color-links">
            Coming from a multinational business background, Natalia is an enthusiastic of the share and gift economy. Veteran globetrotter and volunteer for different NGOs from hospex as Couchsurfing to nonprofit lobbying orgs.
          </p>
          <p>
            <a ui-sref="profile.about({username: 'natalia_sevilla'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://www.linkedin.com/in/natalia-s%C3%A1enz-alban%C3%A9s-38469227/" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Kasper -->
      <div class="media">
        <a class="pull-left" href="https://kasper.re/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/edccc1f234833b3b5c266c18c2db139d?s=200" width="100" alt="Kasper">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Kasper</h4>
          <p class="text-color-links">
            Founded multiple popular and trusted websites such as <a href="http://hitchwiki.org/">Hitchwiki</a>, <a href="http://trashwiki.org/">Trashwiki</a>, <a href="http://nomadwiki.org/">Nomadwiki</a>, <a href="http://couchwiki.org/">Couchwiki</a> and <a href="http://deletionpedia.org/">Deletionpedia</a>.
            Volunteered for CouchSurfing as a tech team coordinator in 2006 and 2007 and for <a href="https://www.bewelcome.org/">BeWelcome</a> since 2007.
            Loves paradoxes, co-founded <a href="https://www.b2bpay.co/">B2B Pay</a> and <a href="https://moneyless.org/">moneyless.org</a>.
          </p>
          <p>
            <a href="https://kasper.re/" class="text-muted">kasper.re</a>
            <a ui-sref="profile.about({username: 'guaka'})" tooltip-placement="bottom" uib-tooltip="Trustroots"><i class="text-muted icon-fw icon-lg icon-tree"></i></a>
            <a href="https://twitter.com/guaka" tooltip-placement="bottom" uib-tooltip="Twitter"><i class="text-muted icon-fw icon-lg icon-twitter"></i></a>
            <a href="https://github.com/guaka" tooltip-placement="bottom" uib-tooltip="GitHub"><i class="text-muted icon-fw icon-lg icon-github"></i></a>
            <a href="https://www.linkedin.com/in/guaka" tooltip-placement="bottom" uib-tooltip="LinkedIn"><i class="text-muted icon-fw icon-lg icon-linkedin"></i></a>
          </p>
        </div>
      </div>

    </div>
  </div><!-- /.row -->


  <!-- Volunteers -->
  <div class="row" id="volunteering">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <br><br>
      <h2>Volunteering</h2>
      <br><br>
      <p>
        <em class="lead">
          Help us build Trustroots! Nobody can do everything, but everyone can do something.<br>
          <a ui-sref="volunteering">Get active!</a>
        </em>
      </p>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-xs-12 text-center">
      <br><br>
      <p class="text-muted">Follow Trustroots</p>
      <div class="btn-group">
        <a href="https://ideas.trustroots.org/" class="btn btn-link btn-lg">Blog</a>
        <a href="https://www.facebook.com/trustroots.org" class="btn btn-link btn-lg">Facebook page</a>
        <a href="https://www.facebook.com/groups/trustroots/" class="btn btn-link btn-lg">Facebook group</a>
        <a href="https://twitter.com/trustroots" class="btn btn-link btn-lg">Twitter</a>
      </div>
      <br><br>
    </div>
  </div><!-- /.row -->

</section><!-- /.container -->
