<section class="board volunteer-header" tr-boards="'happyhippies'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br>
        <i class="icon-3x icon-heart-o"></i>
        <br><br>
        <h2>Volunteering</h2>
      </div>
    </div>
  </div>
</section>

<section class="container container-spacer">

  <div class="row">

    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

      <p class="lead">Trustroots is a community of travellers for sharing, hosting and getting people together.</p>

      <p>Help us build Trustroots! Nobody can do everything, but everyone can do something.</p>

      <p><a href="https://github.com/Trustroots/trustroots/wiki/Volunteering">Current positions and more info</a></p>

    </div>
  </div><!-- /.row -->
</section><!-- /.container -->
