{#<!--
 # Text mail base template
 #
 # This template is optimized for text clients.
 #
 #-->
 #}
{% if mailTitle %}{{ mailTitle }}{% else %}{{title}}{% endif %}
----------------------------------------------------------------------

{% block content %}{% endblock %}

-- {# These two dashes should have space after them and this line stops .editorconfig stripping it out. #}
Trustroots
{% if urlFooterPlainText %}{{urlFooterPlainText}}{% endif %}

Remember, I'm just a little mail robot so don't reply this email. {% if urlSupportPlainText %}Contact us if you want to talk to a human: <{{urlSupportPlainText}}>{% endif %}
