{#<!--
 # Text mail base template
 #
 # This template is optimized for text clients.
 #
 #-->
 #}
{% if mailTitle %}{{ mailTitle }}{% else %}{{title}}{% endif %}
----------------------------------------------------------------------

{% block content %}{% endblock content %}

-- {# These two dashes should have space after them and this line stops .editorconfig stripping it out. #}
Trustroots
{% if urlFooterPlainText %}{{urlFooterPlainText}}{% endif %}

{% if from %}
{% if supportUrl %}Contact us: {{urlSupportPlainText}}{% endif %}
{% else %}
This is an automated email. Please don’t reply directly.
{% if supportUrl %}Need help? Contact the Trustroots team: {{urlSupportPlainText}}{% endif %}
{% endif %}
