{#<!--
 # Text mail base template
 #
 # This template is optimized for text clients.
 #
 #-->
 #}
{% if mailTitle %}{{ mailTitle }}{% else %}{{title}}{% endif %}
----------------------------------------------------------------------

{% block content %}{% endblock %}

-- {# These two dashes should have space after them and this line stops .editorconfig stripping it out. #}
Trustroots
{% if url %}{{url}}{% endif %}

Remember, I'm just a little mail robot so don't reply this email. Contact us if you want to talk to a human{% if url %}: <{{url}}/contact>{% else%}.{% endif %}

{% if ourMail %}Please add '{{ourMail}}' to your contact list to avoid our mails going to spam folder.{% endif %}
