{% extends './email.server.view.html' %}

{% block content %}
Hello {{userToName}}!

{% if messageCount > 1 %}You have {{ messageCount }} unread messages from {{userFromName}} at Trustroots.
{% else %}You have one unread message from {{userFromName}} at Trustroots.
{% endif %}
To reply, go to: {{urlReplyPlainText}}

--------------------------------------------------------------------------------
{% for message in messages %}

{{ message.content | striptags(true) }}

--------------------------------------------------------------------------------
{% endfor %}

Do not reply to this email directly.

To reply, go to: {{urlReplyPlainText}}

See their profile: {{urlUserFromProfilePlainText}}
{% endblock content %}
