{% extends './email.server.view.html' %}

{% block content %}
Hello {{userTo.firstName}}!

Great news! {{userFrom.firstName}} ({{userFromProfileUrl}}) left you a reference on Trustroots.

You will be able to see their reference after you leave them a reference as well, at which point both references will become public

Go to {{giveReferenceUrl}} and give them a reference right now!

You have two weeks to do this.
After two weeks, their reference for you will become public
and you will only be able to give them a positive reference.
{% endblock content %}
