{% if request.reportMember %}Reporting member: {{request.reportMember}}
{% endif %}
{{request.message}}


-- {# These two dashes should have space after them and this line stops .editorconfig stripping it out. #}
Username: {{request.username}}
Email: {{request.email}}
Authenticated: {{request.authenticated}}
Browser: {{request.userAgent}}
{% if request.build %}Code version: {{request.build.committedAt}} UTC ({{request.build.shortCommit}})
{% if request.build.branch and request.build.branch != 'main' %}Branch: {{request.build.branch}}
{% endif %}
Commit: {{request.build.commitUrl}}
{% endif %}
ID: {{request.userId}}
Signup confirmed: {{request.profilePublic}}
Signup date: {{request.signupDate}}
{% if request.emailTemp %}Active email change: {{request.emailTemp}}{% endif %}
