<section class="search-map" ng-controller="SearchController">

  <div class="form-group map-location-search" ng-class="{'active': searchQuery !== '' || searchActive }">
    <div class="input-group">
      <label for="search-query" class="sr-only">Search places</label>
      <input type="text" id="search-query" ng-focus="searchActive = true" ng-blur="searchActive = false" class="form-control input-lg" placeholder="Search places" ng-disabled="searchQuerySearching" ng-model="searchQuery" ng-keypress="enterSearchAddress($event)" typeahead="trTitle as address.trTitle for address in searchSuggestions($viewValue) | filter:{trTitle:$viewValue}" typeahead-on-select="mapLocate($item)" /><!-- typeahead-loading="searchQuerySearching"-->
      <span class="input-group-btn">
        <button type="button" class="btn btn-lg btn-inverse" ng-click="searchAddress()" ng-disabled="searchQuerySearching">
          <i class="icon-search" ng-show="searchQuerySearching === false"></i>
          <i class="icon-refresh" ng-show="searchQuerySearching === true"></i>
        </button>
      </span>
    </div>
  </div>

  <!-- Map overlay messages -->
  <div ng-show="user && !user.public && !locationNotFound && !offerNotFound" class="search-overlay-message">
    Sorry, you need to first activate your profile before you can browse others.
  </div>
  <div ng-show="mapCenter.zoom <= mapMinimumZoom && user.public && !locationNotFound && !offerNotFound" class="text-uppercase search-overlay-message">
    Zoom in closer to see everyone
  </div>
  <div ng-show="locationNotFound && !offerNotFound" class="search-overlay-message">
    We could not find such a place...
  </div>
  <div ng-show="offerNotFound" class="search-overlay-message">
    We could not find such an offer...
  </div>

  <div ng-class="{'leaflet-layerstyle-satellite': (mapLayerstyle === 'satellite')}">
    <leaflet id="search-map-canvas" center="mapCenter" markers="mapMarkers" layers="mapLayers" bounds="mapBounds" paths="mapPaths" defaults="mapDefaults" event-broadcast="mapEvents"></leaflet>
  </div>

  <div class="search-map-sidebar" ng-show="sidebarOpen">

    <div class="search-list">

      <div class="form-group visible-xs-block">
        <button class="btn btn-primary btn-lg btn-block" ng-click="sidebarOpen = false">Back to map</button>
      </div>

      <!-- Profile loading -->
      <div class="search-result panel panel-default panel-loading" ng-hide="offer && offer.$resolved">
        <div class="panel-body">
          <div tr-avatar data-size="32" data-link="false" data-source="none"></div>
          <h4>
            ███ ███
            <small class="text-muted">@███</small>
          </h4>
          <div class="search-result-meta">
            █ ███, ███.
          </div>
          <div class="search-result-tagline">
            █████ █████ ████
          </div>
          <div class="search-result-hosting">
            <span class="search-result-label">Hosting:</span>
            <span class="label">██</span>
            <div class="search-result-description">██████ █████ █████</div>
          </div>
          <div class="search-result-languages">
            <h4>Languages</h4>
            <ul class="list-inline">
              <li>████</li>
              <li>████</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Profile loading -->

      <!-- Profile -->
      <div class="search-result panel panel-default" ng-if="offer && offer.$resolved">
        <a class="panel-body" ui-sref="profile({username: offer.user.username})">
          <div tr-avatar data-size="32" data-link="false" data-user="offer.user"></div>
          <h4>
            {{offer.user.displayName}}
            <small class="text-muted">@{{offer.user.displayUsername || offer.user.username}}</small>
          </h4>
          <div class="search-result-meta">
            <span ng-if="offer.user.birthdate" am-time-ago="offer.user.birthdate" am-without-suffix="true"></span><span ng-show="offer.user.birthdate && offer.user.gender">, </span>
            <span ng-if="offer.user.gender" ng-class="{ 'text-capitalize': !offer.user.birthdate }">{{offer.user.gender}}.</span>
          </div>
          <div class="search-result-tagline">
            {{offer.user.tagline}}
          </div>
          <div class="search-result-hosting">
            <div class="search-result-label">
              Hosting:
              <span class="label" ng-class="{'btn-hosting-yes': offer.status === 'yes', 'btn-hosting-maybe': offer.status === 'maybe', 'btn-hosting-no': offer.status === 'no'}" ng-bind="offer.status"></span>
            </div>

            <!-- Short descriptions -->
            <div class="search-result-description" ng-if="offer.description && offer.description.length < 1000" ng-bind-html="offer.description | trustedHtml"></div>

            <!-- Long descriptions -->
            <div class="search-result-description" ng-if="offer.description && offer.description.length >= 1000">
              <div class="panel-more-wrap">
                <div ng-bind-html="offer.description | limitTo:1000 | trustedHtml" class="panel-more-excerpt"></div>
                <div class="panel-more-fade">Show more...</div>
              </div>
            </div>

          </div>
          <div class="search-result-languages" ng-if="offer.user.languages.length">
            <h4>Languages</h4>
            <ul class="list-inline">
              <li ng-repeat="code in offer.user.languages">{{languages[code]}}</li>
            </ul>
          </div>
        </a>
      </div>
      <!-- /Profile -->

      <div class="search-list-instructions">
        Note that locations on the map are not precise.
      </div>

      <div class="form-group visible-xs-block">
        <button class="btn btn-primary btn-lg btn-block" ng-click="sidebarOpen = false">Back to map</button>
      </div>

    </div>
    <!-- /.search-list -->

  </div>
  <!-- /.search-map-sidebar -->

</section>
