<!-- Location search inside sidebar -->
<!-- There's another one inside `search.client.view.html` template for small screens -->
<div class="search-sidebar-section hidden-xs" ng-include="'/modules/search/views/search-input.client.view.html'"></div>
<!-- /Location search -->

<!-- Filters -->
<div class="search-sidebar-section search-sidebar-filters">
  <h4 class="pull-left">Filter by tribes</h4>

  <button type="button"
       class="btn btn-sm btn-default search-sidebar-filters-clear"
       ng-click="search.filters.tribes = [];"
       ng-disabled="!search.filters.tribes.length">
    Clear selections
  </button>

  <div tr-my-tribes-toggle="search.filters.tribes"></div>

  <div tr-tribes-toggle="search.filters.tribes"></div>

</div>
<!-- /Filters -->

<!-- Search results -->
<div class="search-sidebar-results" ng-if="search.offer || search.loadingOffer">

  <!-- Profile loading -->
  <div class="search-result panel panel-default panel-loading" ng-if="!search.offer && search.loadingOffer">
    <div class="panel-body">
      <div tr-avatar data-size="32" data-link="false" data-source="none"></div>
      <h4>
        ███ ███
        <small class="text-muted">@███</small>
      </h4>
      <div class="search-result-meta">
        █ ███, ███.
      </div>
      <div class="search-result-tagline">
        █████ █████ ████
      </div>
      <div class="search-result-hosting">
        <span class="search-result-label">Hosting:</span>
        <span class="label">██</span>
        <div class="search-result-description">██████ █████ █████</div>
      </div>
      <div class="search-result-languages">
        <h4>Languages</h4>
        <ul class="list-inline">
          <li>████</li>
          <li>████</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Profile loading -->

  <!-- Profile -->
  <div class="search-result panel panel-default" ng-if="search.offer && !search.loadingOffer">
    <a class="panel-body" ui-sref="profile.about({username: search.offer.user.username})">
      <div tr-avatar data-size="32" data-link="false" data-user="::search.offer.user"></div>
      <h4>
        {{ ::search.offer.user.displayName }}
        <small class="text-muted">@{{ ::search.offer.user.displayUsername || search.offer.user.username }}</small>
      </h4>
      <div class="search-result-meta">
        <span ng-if="search.offer.user.birthdate" ng-bind="search.offer.user.birthdate | ageyears"></span><span ng-if="search.offer.user.birthdate && search.offer.user.gender">, </span>
        <span ng-if="search.offer.user.gender" ng-class="{ 'text-capitalize': !search.offer.user.birthdate }">{{ ::search.offer.user.gender }}.</span>
      </div>
      <div class="search-result-tagline" ng-if="search.offer.user.tagline" ng-bind="search.offer.user.tagline"></div>
      <div class="search-result-hosting">
        <div class="search-result-label">
          Hosting:
          <span class="label"
                ng-class="{ 'btn-hosting-yes': search.offer.status === 'yes', 'btn-hosting-maybe': search.offer.status === 'maybe' }"
                ng-bind="search.offer.status"></span>
        </div>

        <!-- Short descriptions -->
        <div class="search-result-description"
             ng-if="search.offer.description && search.offer.description.length < 1000"
             ng-bind-html="::search.offer.description | trustedHtml"></div>

        <!-- Long descriptions -->
        <div class="search-result-description" ng-if="search.offer.description && search.offer.description.length >= 1000">
          <div class="panel-more-wrap">
            <div ng-bind-html="::search.offer.description | limitTo:1000 | trustedHtml" class="panel-more-excerpt"></div>
            <div class="panel-more-fade">Show more...</div>
          </div>
        </div>

        <div class="search-result-tribes-common"
             ng-if="search.offer.user.member.length"
             tr-tribes-in-common="::search.offer.user.member">
        </div>

      </div>
      <div class="search-result-languages" ng-if="search.offer.user.languages.length">
        <h4>Languages</h4>
        <ul class="list-inline">
          <li ng-repeat="code in ::search.offer.user.languages track by code">{{ ::app.languageNames[code] || code }}</li>
        </ul>
      </div>
    </a>
  </div>
  <!-- /Profile -->

</div>
<!-- /.search-sidebar-results -->
