<section class="search-map search-map-signup">

  <div class="search-overlay-message">
    <p class="lead" ng-if="searchSignup.searchQuery">
      Join our community to find members in<br>
      <i>{{ ::searchSignup.searchQuery}}</i>
    </p>
    <p class="lead" ng-if="!searchSignup.searchQuery">Join our community to find people around you.</p>
    <p class="lead"><a ui-sref="signup" class="btn btn-lg btn-inverse">Become a member</a> <a href="about" class="btn btn-lg btn-inverse">Tell me more</a></p>
    <p class="lead">Already a member? <a ui-sref="signin({continue:true})">Login</a></p>
  </div>

  <leaflet id="search-map-canvas"
           lf-center="searchSignup.mapCenter"
           layers="searchSignup.mapLayers"
           defaults="searchSignup.mapDefaults"></leaflet>

</section>
