<section class="search-sidebar-section search-sidebar-filters">
  <!-- Offer type filter -->
  <div role="group" aria-label="Hosts or meetups?">
    <h4>Hosts or meetups?</h4>
    <div tr-types-toggle="search.filters.types"></div>
  </div>
  <!-- /Offer type filter -->

  <!-- Number of People offer maxGuests filter -->
  <fieldset class="offer-maxguests">
    <legend>
      <h4 id="maxGuests">How many persons can the host accommodate?</h4>
    </legend>
    <div class="input-group input-group-stepper">
      <span class="input-group-btn">
        <button
          type="button"
          class="btn btn-lg btn-inverse-primary btn-round"
          ng-click="search.filters.offer.maxGuests = search.filters.offer.maxGuests - 1"
          ng-disabled="search.filters.offer.maxGuests <= 1"
          aria-hidden="true"
        >
          <i class="icon-minus"></i>
        </button>
      </span>
      <input
        type="number"
        aria-labelledby="maxGuests"
        aria-required="true"
        ng-disabled="!search.filters.offer"
        ng-model="search.filters.offer.maxGuests"
        class="form-control input-lg input-plain text-center font-brand-regular"
        maxlength="2"
        min="1"
        max="10"
        size="2"
        step="1"
        pattern="[0-9]{1,2}"
      />
      <span class="input-group-btn">
        <button
          type="button"
          class="btn btn-lg btn-inverse-primary btn-round"
          ng-click="search.filters.offer.maxGuests = search.filters.offer.maxGuests + 1"
          ng-disabled="search.filters.offer.maxGuests >= 10"
          aria-hidden="true"
        >
          <i class="icon-plus"></i>
        </button>
      </span>
    </div>
  </fieldset>
  <!-- /Number of People offer maxGuests filter -->

  <hr class="hr-gray hr-tight" />

  <!-- Tribes type filter -->
  <div role="group" aria-label="Filter by circles">
    <div class="row">
      <div class="col-xs-6">
        <h4>Circles</h4>
      </div>
      <div class="col-xs-6 text-right">
        <button
          type="button"
          class="btn btn-default search-sidebar-filters-clear"
          ng-click="search.filters.tribes = [];"
          ng-disabled="!search.filters.tribes.length"
        >
          Clear circles
        </button>
      </div>
    </div>

    <div tr-my-tribes-toggle="search.filters.tribes"></div>
    <div tr-tribes-toggle="search.filters.tribes"></div>
  </div>
  <!-- Tribes type filter -->

  <hr class="hr-gray hr-tight" />

  <!-- Online recently filter (aka "seen") -->
  <p>
    <label tr-switch>
      <input
        type="checkbox"
        ng-model="search.onlineInPast6Months"
        ng-change="search.onSeenFilterChange()"
      />
      Online in the past 6 months
    </label>
  </p>
  <!-- /Online recently filter (aka "seen") -->

  <hr class="hr-gray hr-tight" />

  <search-filter-language
    onChangeLanguages="search.onLanguageFiltersChange"
    preSelectedLanguages="search.filters.languages"
  ></search-filter-language>

  <!-- Sidebar closing toggle for small screens -->
  <button
    type="button"
    class="btn btn-action btn-primary visible-xs-block search-sidebar-close"
    ng-click="search.toggleSidebar()"
  >
    Back to map
  </button>
</section>
