<section class="search search-signup">
  <div class="search-message">
    <p class="lead" ng-if="searchSignup.searchQuery">
      Join our community to find members in<br />
      <i>{{ ::searchSignup.searchQuery}}</i>
    </p>
    <p class="lead" ng-if="!searchSignup.searchQuery">
      Join our community to find people around you.
    </p>
    <p class="lead">
      <a ui-sref="signup" class="btn btn-lg btn-default">Become a member</a>
      <a href="about" class="btn btn-lg btn-default">Tell me more</a>
    </p>
    <p class="lead">
      <a ui-sref="signin({continue:true})">Already a member? Login</a>
    </p>
  </div>

  <div class="search-map-container">
    <leaflet
      id="search-map-canvas"
      lf-center="searchSignup.mapCenter"
      layers="searchSignup.mapLayers"
      defaults="searchSignup.mapDefaults"
    ></leaflet>
  </div>
</section>
