<div class="form-group search-form-group search-place"
     ng-class="{ 'has-warning': search.locationNotFound }">
  <div class="input-group input-location">
    <span class="input-group-btn"
      style="border-left-width: 1px; border-left-style: solid; border-color: #12b591;">
      <a type="button"
        href="/search/users"
        class="btn btn-lg btn-default"
        tooltip-enable="::search.screenWidth >= 768"
        tooltip-placement="bottom"
        uib-tooltip="Go to search users"
        aria-label="Go to search users by username">
        <i class="icon-users"></i>
      </a>
    </span>
    <label for="search-query" class="sr-only">Search places</label>
    <input type="text"
           id="search-query"
           class="form-control input-lg"
           placeholder="Search places"
           tabindex="0"
           ng-model="search.searchQuery"
           tr-location
           tr-location-change="search.onPlaceSearch"
           tr-location-skipsuggestions="search.skipSuggestions"
           tr-location-notound="search.locationNotFound">
    <span class="input-group-btn">
      <button type="button"
              ng-disabled="!search.searchQuery.length"
              class="btn btn-lg btn-default"
              ng-click="search.searchQuery = ''"
              uib-tooltip="Clear search"
              tooltip-enable="::search.screenWidth >= 768"
              tooltip-placement="bottom"
              aria-label="Clear location search">
        <i class="icon-close"></i>
      </button>
    </span>
  </div>
  <p class="help-block" ng-if="search.locationNotFound">
    We could not find <em ng-bind="::search.locationNotFound"></em><br>
    <small>Make sure your search is spelled correctly.</small>
  </p>
</div>
