<div
  class="search-message search-message-solid"
  ng-if="app.user && !app.user.public"
  role="alertdialog"
  aria-labelledby="activate-profile-message"
>
  <div role="document" tabindex="0">
    <h4 id="activate-profile-message">
      Sorry, you need to first activate your profile before you can browse
      others.
    </h4>
    <p class="lead">
      If you didn't receive the confirmation message, check your spam folder or
      resend it via <a ui-sref="profile-edit.account">email settings</a>.
    </p>
  </div>
</div>

<div ng-if="searchMap.mapCenter">
  <search-map
    filters="searchMap.filters"
    id="search-map-canvas"
    mapCenter="searchMap.mapCenter"
    mapBounds="searchMap.mapBounds"
    offers="searchMap.mapMarkers"
    onOfferClose="searchMap.closeOffer"
    onOfferOpen="searchMap.previewOffer"
  ></search-map>
</div>
