<section class="container container-spacer" data-ng-controller="MessagesInboxController" data-ng-init="findInbox()">

  <div class="row">
    <div class="col-xs-12">

      <!-- Other threads -->
      <h4>Conversations
        <!-- Unread message count:
        <small class="text-muted">(2)</small>
        -->
      </h4>

      <div class="panel panel-default panel-threadlist panel-threadlist-threads panel-xs-no_margin">

        <!-- Threads -->
        <table class="table table-condensed table-hover table-threadlist table-threadlist-threads" data-ng-if="threads.$resolved && threads.length">
          <tbody>

            <tr class="thread" data-ng-class="{ 'thread-unread': !thread.read }" data-ng-repeat="thread in threads | orderBy:'updated':true" data-ng-click="openThread(thread)">
              <td class="author col-xs-3 col-md-2">
                <div tr-avatar data-user="otherParticipant(thread)" data-size="36" data-link="false" class="pull-left"></div> <span data-ng-bind="otherParticipant(thread, 'displayName')"></span>
              </td>
              <td class="summary">
                <span data-ng-bind-html="thread.message.excerpt"></span>
                <small class="indicators pull-right">
                  <i class="fa fa-fw fa-reply text-muted" ng-show="thread.userFrom._id === user._id" tooltip="You replied" tooltip-placement="right"></i>
                </small>
              </td>
              <td class="ago col-xs-3 col-md-2" am-time-ago="thread.updated" title="{{thread.updated}}"></td>
            </tr>

          </tbody>
        </table>
        <!-- /Threads -->

        <!-- No threads -->
        <div class="content-empty" data-ng-if="threads.$resolved && !threads.length">
          <i class="fa fa-3x fa-comments-o"></i>
          <h4>No conversations yet.</h4>
        </div>
        <!-- /No threads -->

      </div><!-- /.panel -->
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</section><!-- /.container -->
