<section class="container container-spacer" ng-controller="MessagesThreadController"><!-- as messagesCtrl-->

  <div class="row">
    <div class="col-sm-9" id="thread-container">

      <div class="row text-muted text-center" ng-if="fetchMessages.resolved != 'reject' && !fetchMessages.resolved"><small>Wait a moment...</small></div>


      <!-- Thread -->
      <threads id="messages-thread" ng-style="{width: containerWidth, bottom: replyHeight}" moremessages="moreMessages()">

        <!-- Messages -->
        <div class="message"
             id="message-{{ message._id }}"
             ng-repeat="message in messages | orderBy:'-created':true"
             zum-waypoint="waypoints"
             offset="90%"
             up="scroll.up"
             down="scroll.down"
             ng-class="{ 'message-unread': !messageRead(message, waypoints.scroll.up, waypoints.scroll.down), 'message-pushed' : message.pushed }">

          <!-- Pagination waypoint -->
          <div ng-if="$first && fetchMessages.resolved != 'reject' && nextPage" class="divider divider-first col-xs-12 text-center">
               Loading more messages...
          </div>

          <!-- Pagination error -->
          <div ng-if="$first && fetchMessages.resolved === 'reject'" class="text-center">
              <div class="text-danger h4"> Something went wrong :( </div>
              <button type="button" class="btn btn-primary" ng-click="moreMessages(true)">Retry</button>
          </div>

          <!-- Dividers -->
          <div ng-if="$first" ng-hide="nextPage" class="divider divider-first col-xs-12"> Conversation started {{ message.created | date:'mediumDate' }}
          </div>

          <div class="col-xs-12 col-sm-11">

            <div class="message-meta">

              <div class="message-meta">
                <span ng-show="user._id === message.userFrom._id">You</span>
                <a ui-sref="profile({ username: message.userFrom.username })" ng-bind="message.userFrom.displayName" ng-show="user._id !== message.userFrom._id"></a>
                — <time am-time-ago="message.created" tooltip="{{message.created | date:'medium'}}" tooltip-placement="bottom"></time>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-body" ng-bind-html="message.content | trustedHtml" zum-waypoint="wp" offset="15%" up="nex">{{}}</div>
            </div>
          </div>

          <div class="col-sm-1 hidden-xs message-author">
            <div tr-avatar data-user="message.userFrom" data-size="32"></div>
          </div>

        </div><!-- /.row -->
        <!-- /Messages -->

        <!-- No messages -->
        <div class="content-empty" ng-if="fetchMessages.resolved && !messages.length">
            <i class="fa fa-3x fa-comments-o"></i>
            <h4>You haven't been talking yet.</h4>
            <p>Start conversation below.</p>
        </div><!-- /.row -->

      </threads>
      <!-- /Thread -->

      <!-- Reply -->
      <form id="message-reply" name="messageForm" class="form-horizontal" ng-submit="send()" novalidate ng-style="{width: replyWidth}">
        <div class="row">
          <div class="col-xs-12">

            <div class="panel panel-default">
              <!--
              <div class="panel-body hidden-xs">
                <h4 class="message-reply-title" ng-if="messages.$resolved && !messages.length">Write a message...</h4>
                <h4 class="message-reply-title" ng-if="messages.$resolved && messages.length">Write reply...</h4>
              </div>
              -->
              <div id="message-reply-content" ng-model="content" medium-editor options='{"placeholder": "Write a message", "buttons": ["bold", "italic", "underline", "anchor", "quote", "unorderedlist"]}'></div>

            </div><!-- /.panel -->
          </div>

          <div class="col-xs-2 col-sm-12">
            <small class="text-muted hidden-xs">Highlight text to add links or change its appearance.</small>
            <button type="submit" class="btn btn-md btn-primary message-reply-btn" id="messageReplySubmit" ng-disabled="!content || isSending === true || !fetchMessages.resolved"><i class="fa fa-send"></i><span class="hidden-xs"> Send</span></button>
          </div>
        </div><!-- /.row -->
      </form>
      <!-- /Reply -->

    </div><!-- /.col-* -->

    <div class="col-sm-3 hidden-xs">
      <div tr-monkeybox data-userid="userToId"></div>
    </div>

  </div><!-- /.row -->

</section><!-- /.container -->
