<section class="container container-spacer">
  <form
    name="confirmForm"
    class="form-horizontal"
    novalidate
    autocomplete="off"
    ng-submit="confirmEmail.confirmEmail()"
  >
    <fieldset>
      <div class="row">
        <div class="col-xs-12 text-center">
          <img
            class="hidden-xs"
            src="/placeholder.png"
            alt="Trustroots"
            width="120"
            height="120"
            aria-hidden="true"
          />
          <img
            class="visible-xs-inline-block"
            src="/placeholder.png"
            alt="Trustroots"
            width="80"
            height="80"
            aria-hidden="true"
          />
          <br /><br />
        </div>
      </div>

      <!-- Confirm form -->
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
          <div class="alert alert-danger text-center" role="alert">
            <p>
              <strong>Email confirm token is invalid or has expired.</strong>
            </p>
            <p>
              Perhaps you already confirmed your email?
              <span ng-if="app.user"
                >Your current activated email is
                <strong>{{ app.user.email }}</strong></span
              >
            </p>
            <p ng-if="app.user">
              To send a new confirmation or change your email, go to
              <a ui-sref="profile-edit.account">your settings</a>.
            </p>
            <p ng-if="!app.user">
              <a ui-sref="signin">Login first</a> to send a new confirmation or
              change your email.
            </p>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- .row-->
      <!-- /Confirm form -->
    </fieldset>
  </form>
</section>
<!-- .container -->
