<div ng-controller="AuthenticationController">
<section class="container board container-fullscreen" tr-boards="'bokeh'">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="hidden-xs" src="/modules/core/img/tree-color.svg" alt="Trustroots" width="120" height="120" />
      <img class="visible-xs-inline-block" src="/modules/core/img/tree-color.svg" alt="Trustroots" width="80" height="80" />
      <br><br>
      <p class="lead" ng-show="continue">Sign in to continue.</p>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-lg-offset-5 col-lg-2">
      <form name="signinForm" ng-submit="signin()" class="form-auth" autocomplete="off">
        <fieldset>
          <div ng-show="error" class="alert alert-danger" role="alert">
            <strong ng-bind="error"></strong>
          </div>
          <div class="form-group">
            <label for="username" class="sr-only">Email or username</label>
            <input type="text" autocapitalize="off" required ng-disabled="isLoading" id="username" name="username" class="form-control input-lg" ng-model="credentials.username" placeholder="Email or username">
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" required ng-disabled="isLoading" id="password" name="password" class="form-control input-lg" ng-model="credentials.password" placeholder="Password">
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-inverse btn-lg" ng-disabled="isLoading || signinForm.$invalid">
              <span ng-if="!isLoading">Login</span>
              <span ng-if="isLoading">Wait...</span>
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div><!-- .row-->
  <div class="row">
    <div class="col-xs-12 text-center text-white">
      <p>
        <br>
        <a ui-sref="forgot" class="btn btn-link btn-sm">Forgot your password?</a><br>
        <a ui-sref="signup" class="btn btn-link btn-sm">Become a member</a>
      </p>
    </div>
  </div><!-- .row-->
</section><!-- .container -->
</div>
