<section class="board board-primary board-bokehblue">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center lead">
        <a ui-sref="home" class="logo logo-sm logo-white center-block"></a>
        <br>
        <div ng-include src="'/modules/pages/views/manifesto-text.client.partial.html'"></div>
      </div>
    </div>
  </div>
</section>

<section class="container">

    <div class="row">

      <div class="col-xs-12">
          <br><br>
          <div class="offer-symbol-sofa center-block"></div>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

        <p class="lead text-center">
          <br>
          This is early prototype of a travellers community for sharing and getting people together.
          <br><br>
          Travel anywhere and easily find great people who want to meet you as well. See where other travellers are and help each other out.
          <br><br>
        </p>

      </div>

    </div><!-- /.row -->

</section>

<section class="board board-map">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 class="board-highlight board-highlight-secondary">See everyone on a map</h3>
      </div>
    </div>
  </div>
</section>

<section class="container">

  <div class="page-header">
    <h2 id="core-ideas">Ideas</h2>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-4">

      <h3>Other social networks</h3>
      <p>By connecting to other social networks (e.g. Facebook), you can see where all your friends are on the map, what you have in common with people and show others who you are even without filling your profile or having many references.</p>

      <h3>The core team</h3>
      <p>Trustroots is being built by <a ui-sref="team">a small team</a> of open-source developers and free economy activists who felt like the world or sharing is being taken over by corporations trying to monetize people's willingness to help each other. We are long time hospitality exchange enthusiasts with backgrounds in some other notable projects.</p>

    </div>
    <div class="col-xs-6 col-md-4">

      <h3>Communities</h3>
      <p>All users on the site belong to communities. For example you would have; "hitchhikers", "geeks", "vegans" etc. You could decide to be visible to all of them or only to some you really feel you belong to.
      <br><br>
      Searching only among hitchhikers community makes sense if you're on a hitchhiking trip.
      </p>

      <h3>Volunteering</h3>
      <p>We've always appreciated hard working, getting things done attitude and great ideas. We'll aim to keep volunteers entry level as low as possible. No bureaucracy. Pragmatic approach. Trust.</p>

    </div>
    <div class="col-xs-6 col-md-4">

      <h3>Free and open source forever</h3>
      <p>You can trust on us. We've been running other free and open projects for a decade now and we hope our deeds so far speak for us. This is not a startup.</p>

      <h3>Transparency & legal</h3>
      <p>We are about to form a legal organization behind Trustroots and we need your help for it!</p>

      <h3>Geeky stuff</h3>
      <p>We're huge fans of distributed networks, self hosted apps, API first approach etc. While it might not be the time to concentrate on this stuff just yet, it certainly gets us excited thinking all the possibilities.</p>

    </div>
  </div>

  <br><br>

</section>

<section class="board board-primary about-footer">
  <div class="container">

    <div class="page-header">
      <h2 id="mission-vission-values">Mission, Vision & Values</h2>
    </div>

    <div class="row">

      <div class="col-sm-4 text-center">

        <h3 id="mission">Mission</h3>
        <p class="lead">Trustroots seeks to be a platform for sharing and getting people together. We aim to connect likeminded people together, encourage intercultural connections and trust.</p>

      </div>
      <div class="col-sm-4 text-center">

        <h3 id="vision">Vision</h3>
        <p class="lead"><em>“A world that encourages trust and adventure.”</em></p>

      </div>
      <div class="col-sm-4 text-center">

        <h3 id="values">Values</h3>
        <ul class="list-unstyled lead">
          <li>Trust</li>
          <li>Adventure</li>
          <li>Transparency</li>
          <li>Free software</li>
        </ul>

      </div>

    </div><!-- /.row -->

    <div class="row">
      <div class="col-xs-12 text-center">
        <br><br>
        <a ui-sref="signup" class="btn btn-lg btn-inverse">Become a member</a>
        <br><br>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</section>
