<section>
  <div class="container container-spacer">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

	You can donate to Trustroots. We are
	a <a href="http://ideas.trustroots.org/2015/03/10/announcing-trustroots-foundation/">foundation
	registered</a> in the United Kingdom in March 2015.

	We're currently working on setting up ways to receive
	donations.

	<h2>Bank account</h2>

	It's not straightforward to set up a bank account that doesn't
	cost us too much. We don't have this set up yet at this point.

	<h2>Bitcoin</h2>

	<a href="http://ideas.trustroots.org/contact/">Contact us</a>
	if you want to donate through Bitcoin. We'll probably set up
	multisig wallet so there will not be a single point of
	failure.

	<h2>Paypal</h2>

	<a href="http://ideas.trustroots.org/contact/">Contact us</a>
	if you want to donate through Paypal.

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
