<section class="board board-horizonballoon faq-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="visible-xs-block">FAQ</h2>
        <h2 class="hidden-xs">Frequently Asked Questions</h2>
      </div>
    </div>
  </div>
</section>

<section>

  <div class="container container-spacer">

    <div class="row">

      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">


        <h3>Is Trustroots exclusively for hitchhikers?</h3>
        In the initial phase we're focusing on getting hitchhikers on board and making the site ideal for that. Many people who hitchhike have a specific way of traveling that is not always well served by some websites. Hitchhikers are also traveling a lot more than the average Joe, which is a good way to spread the idea further.
        <br>
        We don't exclusively focus on hitchhikers. You're welcome to sign up if you've never hitchhiked. We want to maintain the small community feeling at the site and we have some technical ideas for this. We'll soon add functionality that will make it convenient for people who prefer to host people from within their communities (e.g. vegans, musicians), but it'll always be possible to open your home to anyone on the site if you prefer.

        <br><br>

        <h3>Why the name Trustroots?</h3>
        Back to the roots. Earthy. The art of asking — and trusting — is something we often experience while traveling. We also have some innovative ideas that can help building trust among people and once the network is big enough, we'd love to work with scientists to build something that can really make a difference through trust metrics. Roots is a network.

        <br><br>

        <h3>What's your legal status?</h3>
        Good question. We're looking to set up a non-profit in the EU soon. Contact us if you have experience with this and you want to help.

        <br><br>

        <h3>Are you going to sell out?</h3>
        NO! We think it's a shame that former non-profits have been sold to venture capital. We have high ideals and we've been running other big freegan projects for years. This is not a startup.

        <br><br>

        <h3>How do you want to make the project financially sustainable?</h3>
        Donations and grants are the most likely ways. There are many inspiring organisations out there giving great examples: <a href="https://wikimediafoundation.org/">Wikimedia</a>, <a href="https://www.mozilla.org/en-US/foundation/">Mozilla</a>, <a href="http://www.amnesty.org/">Amnesty International</a> and many more. Again, if you have experience with this it would be great if you <a ui-sref="contact">contact us</a>.

        <br><br>

        <h3>Who decides what gets done?</h3>
        You are welcome to join brainstorming and development <a href="https://github.com/Trustroots/trustroots/">at GitHub</a> — we're huge fans of do-cracy and getting things done attitude. Great community values simple translation jobs just as much as highly skilled development. We'll aim to keep the entry level for volunteers as low as possible. No bureaucracy. Pragmatic approach. Trust.
        <br>
        That said, all great projects needs efficient teams working on specific issues (such as _safety_ or site's _features and usability_). Rather than building complicated voting mechanisms or other structures, we'll try to concentrate in fostering volunteers into responsible, skilled teams. It's also important to make sure everyone has the same goal and vision.

        <br><br>

        <h3>Why is there no forum?</h3>
        The practical answer: It takes time to set up a forum and even more time to keep it spam-free. The less practical answer: In our long-term and short-term experience forum activity is not necessarily the best way to encourage more real life interaction (or in other less nice words: there's a lot of pointless bickering out there). In the long term we do want to provide a way to communicate on Trustroots, but this will probably look more like the quick and easy way you can interact on Facebook or Diaspora than a full fledged forum. We have plenty of ways how to contact us and have discussions.

        <br><br>

        <h3>Why is there Facebook connection?</h3>
        So that those who have their data and connections there, could free their Facebook data to Trustroots. <a href="http://ideas.trustroots.org/2014/12/29/life-outside-big-blue-box/">Read our blog post</a> about this.

        <br><br>

        <h3>Are you planning to do X feature?</h3>
        See our <a ui-sref="todo">todo</a> for main parts and <a href="https://github.com/Trustroots/trustroots/issues">GitHub</a> for the rest. Feel free to <a ui-sref="contact">tell us</a> about your ideas! The current version of Trustroots is the most limited software you can imagine that still works for hospitality. We simply didn't have time to build most of the features yet. Please be patient.

        <br><br>

        <h3>Decentralize it?</h3>
        Yes please! If you can make a working decentralized prototype we'll happily decentralize the whole thing. Decentralization is technically challenging and is not the team's priority. But we will soon add a quick and easy way to export your profile data, oAuth and some API stuff.

        <br><br>

        <h3>How is this connected to Hitchwiki, Nomadwiki or Trashwiki?</h3>
        The team who created Trustroots also created these projects. We want to integrate them into Trustroots to some degree. These projects share pretty much the same vision and user base.

        <br><br>

        <h3>What is your long term vision?</h3>
        <em>"We want a world that encourages trust, adventure and intercultural connections."</em> See <a ui-sref="about">about</a> for more.

        <br><br>

        <h3>How can can I contact you?</h3>
        In plenty of public and private ways: <a href="http://ideas.trustroots.org/">our blog</a>, <a ui-sref="contact">contact form</a>, <a href="https://github.com/Trustroots/trustroots/issues">GitHub</a>, <a href="https://twitter.com/trustroots">Twitter</a>, <a href="http://webchat.freenode.net/?channels=trustroots">IRC</a> and for private contacts see <a ui-sref="team">the team</a> page.

        <br><br>

      </div>

    </div><!-- /.row -->

  </div><!-- /.container -->
  
