<section id="home" class="container board board-sierranevada container-fullscreen" data-ng-controller="HomeController">

  <div class="row">
    <div class="col-xs-12">
      <div class="logo logo-white"></div>
      <div class="btn-group">
        <a ui-sref="signin" class="btn btn-lg btn-home-login">Login</a>
        <a ui-sref="signup" class="btn btn-lg btn-home-signup">Become a member</a>
        <a ui-sref="about" class="btn btn-lg btn-home-readmore">Show me more</a>
      </div>
      <div class="home-intro col-xs-offset-2 col-xs-8">
        <h3>
          Enabling the latent trust between humans.<br>
          Meet and host other travellers.
        </h3>
        <p class="bytheway">
          Same team brought you also <a href="http://hitchwiki.org">Hitchwiki</a>, <a href="http://trashwiki.org">Trashwiki</a>, <a href="http://nomadwiki.org">Nomadwiki</a> & more.
        </p>
      </div>
    </div>
  </div><!-- .row -->

</section>
