<p>We want a world that encourages <a href="/#!/about">trust,
adventure and intercultural connections</a>. For that to happen
through Trustroots we have written down some basic rules that apply to
everyone. Please respect these rules:</p>

<p class="lead">
  <ul>
    <li>Don't threaten or harass people.</li>
    <li>Don't spam: keep our community clean from ads.</li>
    <li>Don't automate: be a human being.</li>
    <li>Respect copyrights: don't simply copy images
    and text from other people if you are not completely sure
    about the legal status.</li>
    <li>Don't pretend to be someone else. It's okay to use an alias
    instead of your real name but don't create multiple profiles or
    use someone else's name.</li>
    <li>Be yourself, helpful, kind, responsible, and respectful of others.</li>
  </ul>
</p>

<p>We try to keep our rules simple and we value transparency. We'll
update these rules as needed.</p>

<p>See also our page about <a href="/#!/privacy">privacy</a>.</p>
