<section class="container container-spacer">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <div class="text-center">
      <a ui-sref="home" class="logo logo-sm logo-blue center-block"></a>
      <hr/>
      <p class="lead">
        We are a group of hospitality exchange enthusiasts with backgrounds in some notable projects. Same people brought you also <a href="http://hitchwiki.org" target="_blank">Hitchwiki</a>, <a href="http://trashwiki.org" target="_blank">Trashwiki</a>, <a href="http://nomadwiki.org" target="_blank">Nomadwiki</a> & more.
      </p>
      <hr/>
    </div>

    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">

      <!-- Mikael -->
      <div class="media">
        <a class="pull-left" href="http://www.mikaelkorpela.fi/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/d0229f23745d3c266f81c6b0cd014a38?s=100" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Mikael</h4>
          <p class="text-color-links">
            Volunteering in big freegan projects such as Hitchwiki, Hitchgathering festival, Nomadwiki and Trashwiki since 2008. In the past has volunteered for BeWelcome (2013). I'm a big advocate of free/gift economy and want to bring more trust into the world.
          </p>
          <p>
            <a href="http://www.mikaelkorpela.fi" class="text-muted" target="_blank">mikaelkorpela.fi</a>
            <a href="https://twitter.com/simison" target="_blank"><i class="text-muted fa fa-fw fa-twitter"></i></a>
            <a href="https://github.com/simison" target="_blank"><i class="text-muted fa fa-fw fa-github"></i></a>
            <a href="http://www.linkedin.com/in/mikaelkorpela" target="_blank"><i class="text-muted fa fa-fw fa-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Carlos -->
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle" src="/modules/core/img/avatar.png" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Carlos</h4>
          <p class="text-color-links">
            In the past has volunteered for CouchSurfing (x and x collectives).
          </p>
          <!--
          <p>
            <a href="#"><i class="text-muted fa fa-fw fa-twitter"></i></a>
            <a href="#"><i class="text-muted fa fa-fw fa-github"></i></a>
            <a href="#"><i class="text-muted fa fa-fw fa-linkedin"></i></a>
          </p>
          -->
        </div>
      </div>

      <br><br>

      <!-- Natalia -->
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle" src="/modules/core/img/avatar.png" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Natalia</h4>
          <p class="text-color-links">
            In the past has volunteered for CouchSurfing (x and x collectives).
          </p>
          <!--
          <p>
            <a href="#"><i class="text-muted fa fa-fw fa-twitter"></i></a>
            <a href="#"><i class="text-muted fa fa-fw fa-github"></i></a>
            <a href="#"><i class="text-muted fa fa-fw fa-linkedin"></i></a>
          </p>
          -->
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-5">

      <!-- Callum -->
      <div class="media">
        <a class="pull-left" href="http://www.callum-macdonald.com/">
          <img class="media-object img-circle" src="//gravatar.com/avatar/1e2eebc68bae7e891391688ad1c331d1?s=100" width="100" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Callum</h4>
          <p class="text-color-links">
            Long term nomad and technology expert. Volunteered for BeWelcome BoD in 2013 and for CouchSurfing in 2007.
          </p>
          <p>
            <a href="http://www.callum-macdonald.com" class="text-muted" target="_blank">callum-macdonald.com</a>
            <a href="https://twitter.com/chmac" target="_blank"><i class="text-muted fa fa-fw fa-twitter"></i></a>
            <a href="https://github.com/chmac" target="_blank"><i class="text-muted fa fa-fw fa-github"></i></a>
            <a href="http://www.linkedin.com/in/chmac" target="_blank"><i class="text-muted fa fa-fw fa-linkedin"></i></a>
          </p>
        </div>
      </div>

      <br><br>

      <!-- Kasper -->
      <div class="media">
      <a class="pull-left" href="http://kasper.re/">
        <img class="media-object img-circle" src="//gravatar.com/avatar/edccc1f234833b3b5c266c18c2db139d?s=100" width="100" alt="Kasper">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Kasper</h4>
        <p class="text-color-links">
          Founded multiple popular and trusted websites such as <a href="http://hitchwiki.org" target="_blank">Hitchwiki</a>, <a href="http://trashwiki.org" target="_blank">Trashwiki</a>, <a href="http://nomadwiki.org" target="_blank">Nomadwiki</a>, <a href="http://couchwiki.org">CouchWiki</a> (former wiki in CouchSurfing), <a href="http://coinwiki.info" target="_blank">Coinwiki</a> and <a href="http://deletionpedia.org" target="_blank">Deletionpedia</a>. In the past has volunteered for CouchSurfing as a tech team coordinator 2006—2007 and for <a href="http://bewelcome.org" target="_blank">BeWelcome</a> BoD in 2013.
        </p>
        <p>
          <a href="http://kasper.re" target="_blank" class="text-muted">kasper.re</a>
          <a href="https://twitter.com/guaka" target="_blank"><i class="text-muted fa fa-fw fa-twitter"></i></a>
          <a href="https://github.com/guaka" target="_blank"><i class="text-muted fa fa-fw fa-github"></i></a>
          <a href="http://www.linkedin.com/in/guaka" target="_blank"><i class="text-muted fa fa-fw fa-linkedin"></i></a>
        </p>
      </div>
      </div>

      <br><br>

      <!-- YOU -->
      <div class="media">
        <a class="pull-left" ui-sref="contact">
          <img class="media-object img-circle" src="/modules/core/img/avatar.png" width="100" alt="">
        </a>
        <div class="media-body">
          <p>
            <em class="lead">Hey, help us build Trustroots! <a ui-sref="contact">Tell us</a> about your ideas and let's see how they could be done. Some keywords about working on this project would be “cutting edge” and “fun”.</em>
          </p>
        </div>
      </div>

    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <hr/>
      <p class="love">Give us some <i class="fa fa-heart"></i> at:</p>
      <div class="btn-group">
        <a href="http://ideas.trustroots.org" class="btn btn-default btn-lg">Blog</a>
        <a href="https://www.facebook.com/trustroots.org" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="https://twitter.com/trustroots" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="https://github.com/Trustroots" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github"></i> Github</a>
      </div>
      <br><br>
    </div>
  </div><!-- /.row -->

</section><!-- /.container -->
