<section class="container container-spacer">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <div class="page-header">
        <h2>Todo</h2>
      </div>

      <h4>The Map</h4>
      <ul>
        <li>Proper search filters for users</li>
        <li>See your social media friends on the map</li>
      </ul>

      <h4>Profiles</h4>
      <ul>
        <li>Try to import some data from CouchSurfing</li>
        <li>Show what you have in common with user (common friends etc)</li>
        <li>Upload your own avatar</li>
      </ul>

      <h4>Contacts</h4>
      <ul>
        <li>Find your other social media friends and connect with them</li>
        <li>Show new contact messages at inbox threads</li>
        <li><em>"How do you know him?"</em> for contact info</li>
      </ul>

      <h4>Other</h4>
      <ul>
        <li>Notifications from new messages at the header</li>
        <li>Text versions for all emails</li>
        <li>More mobile friendly</li>
        <li>Connect your profile to <a href="http://hitchwiki.org">Hitchwiki</a>, <a href="http://nomadwiki.org">Nomadwiki</a> and <a href="http://trashwiki.org">Trashwiki</a></li>
        <li>Login with email</li>
        <li>API</li>
      </ul>

      <p>You can follow our work also at <a href="https://github.com/trustroots/trustroots/issues">GitHub</a></p>

    </div>
  </div><!-- /.row -->

</section>
