<section class="container container-spacer">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <div class="page-header">
        <h2>Todo</h2>
      </div>

      <p>
        The current version of Trustroots is the most limited software you can imagine that still works for hospitality. We simply haven't had time to build most of the features yet. Please be patient!
      </p>
      <p>
        You can follow our progress at <a href="https://github.com/trustroots/trustroots/issues">GitHub</a> and we highly encourage you to suggest new features! <a ui-sref="contact">Contact us.</a>
        <br><br>
      </p>

      <h4>The Map</h4>
      <ul>
        <li>Proper search filters for users</li>
        <li>See your social media friends on the map</li>
        <li>Share your current location with your fiends and/or communities</li>
      </ul>

      <h4>Profiles</h4>
      <ul>
        <li>Try to allow importing some data from CouchSurfing</li>
        <li>Show what you have in common with users (common friends etc.)</li>
      </ul>

      <h4>Contacts</h4>
      <ul>
        <li>Find your other social media friends and connect with them</li>
        <li>See your contacts on the map</li>
        <li>Show new contact messages at inbox threads</li>
        <li>Search people by name & username</li>
        <li><em>"How do you know this person?"</em> for contact info</li>
        <li>References</li>
      </ul>

      <h4>Other</h4>
      <ul>
        <li>User photo gallery</li>
        <li>Communities (groups such as "hitchhikers" or "geeks")</li>
        <li>Notification center</li>
        <li>Attach contact info to messages</li>
        <li>More mobile friendly, responsive</li>
        <li>Connect your profile to <a href="http://hitchwiki.org">Hitchwiki</a>, <a href="http://nomadwiki.org">Nomadwiki</a> and <a href="http://trashwiki.org">Trashwiki</a></li>
        <li>Log in with email</li>
        <li>API oAuth</li>
        <li>API documentation</li>
        <li>Native mobile apps</li>
        <li>Geo-landing pages (cities, countries) to show wiki contents.</li>
        <li>Translations, i18n</li>
        <li>Inappropriate content flagging</li>
      </ul>

      <h3 class="text-muted">Done</h3>
      <ul class="text-muted">
        <li>Upload your own avatar</li>
        <li>Text versions for all emails</li>
      </ul>

    </div>
  </div><!-- /.row -->

</section>
